<?php 
$moduleId = rand().time();
$catalogSearchHelper =  $this->helper('catalogsearch');
$price_text = $this->__('Price');
$module_seletor = "autosearch".$moduleId;
?>
<div class="<?php echo $prefix; ?> box search_box ">
	<form method="GET" action="<?php echo $this->getCatalogSearchLink(); ?>" id="search_form_<?php echo $moduleId;?>">
		<?php if(!empty($categories)) { ?>
			<div class="filter_type category_filter pull-left">
				<span class="fa fa-caret-down"></span>
				<select name="category_id">
					<option value="0"><?php echo $this->__("All Categories"); ?></option>
					<?php echo $categories; ?>
				</select>
			</div>
		<?php } ?>
		<div id="<?php echo $module_seletor ?>" class="search pull-left">
			<input type="text" name="<?php echo $catalogSearchHelper->getQueryParamName() ?>" autocomplete="off" placeholder="<?php echo $this->__('Search here...');?>" value="<?php echo $catalogSearchHelper->getEscapedQueryText() ?>" class="input-search ">
			<span class="button-search md md-search snize-custom-widget-opener"></span>
		</div>
	</form>
	<div class="clear clr"></div>
</div>
	<?php if(!empty($searchCollection)) { ?>
	<div id="search_tags" class="search_tags">
			<div class="title pull-left">
            <span><?php echo $this->__('Trending keyword'); ?></span>
       		</div>
       		<div class="content pull-left">
	<?php foreach ($searchCollection as $term) { ?>
					<?php 
					$term_name = $this->htmlEscape($term->getName());
					$term_name = urlencode($term_name);
					?>
		       		<a title="<?php echo $this->htmlEscape($term->getName()); ?>" href="<?php echo $this->getCatalogSearchLink(); ?>?q=<?php echo $term_name; ?>"> <?php echo $this->htmlEscape($term->getName()); ?></a>
			<?php  } //endforeach ?>
		</div>
	</div>
<?php	} //end if?>
<script type="text/javascript">
(function($) {
	var selector = '#<?php echo $module_seletor ?>';
	var text_price = "<?php echo trim($price_text);?>";
	var total = 0;
	var show_image = true;
	var show_price = true;
	var search_sub_category = true;
	var search_description = true;
	var catalog_search_url = typeof Searchanise == 'undefined' ? '<?php echo $this->getCatalogSearchLink(); ?>' : '/index.php/searchanise/result?q=1';
console.log(catalog_search_url);

	$(selector).find('.button-search').bind('click', function(){
		url = catalog_search_url;
			 
		var category_id = $(".category_filter select[name=\"category_id\"]").first().val();
		var selected_option = $("#search_form_<?php echo $moduleId;?> .category_filter select[name=\"category_id\"] :selected");
		if(typeof(category_id) == 'undefined')
			category_id = 0;

		var search = $('input[name=\'<?php echo $catalogSearchHelper->getQueryParamName() ?>\']').val();
		
		if(category_id) {
			url += '?cat=' + encodeURIComponent(category_id);
			if (search) {
				url += '&q=' + encodeURIComponent(search);
			} else if(typeof(selected_option) != 'undefined') {
				url = $(selected_option).data("link");
			}
		} else if(search) {
			url += '?q=' + encodeURIComponent(search);
		}
		
		location = url;
	});

	$(selector).find('input[name=\'<?php echo $catalogSearchHelper->getQueryParamName() ?>\']').bind('click', function(e) {
		if (e.keyCode == 13) {
			url = catalog_search_url;
			
			var category_id = $(".category_filter select[name=\"category_id\"]").first().val();
			var selected_option = $("#search_form_<?php echo $moduleId;?> .category_filter select[name=\"category_id\"] :selected");
			if(typeof(category_id) == 'undefined')
				category_id = 0;

			var search = $('input[name=\'<?php echo $catalogSearchHelper->getQueryParamName() ?>\']').val();
			
			if(category_id) {
				url += '?cat=' + encodeURIComponent(category_id);
				if (search) {
					url += '&q=' + encodeURIComponent(search);
				} else if(typeof(selected_option) != 'undefined') {
					url = $(selected_option).data("link");
				}
			} else if(search) {
				url += '?q=' + encodeURIComponent(search);
			}
			location = url;
		}
	});
	
	$(document).ready( function(){
		$(selector).find('input[name=\'<?php echo $catalogSearchHelper->getQueryParamName() ?>\']').autocomplete({
			delay: 500,
			minLength: 0,
			appendTo: selector,
			position: {
	                my: "left top",
	                at: "left bottom",
	                collision: "none"
	        },
			search: function(event, ui) {
	            $(this).addClass("ui-autocomplete-loading");
	        },
			open: function() {
	            $(this).removeClass("ui-autocomplete-loading");
		    },
			source: function(request, response) {
				var category_id = $(".category_filter select[name=\"category_id\"]").first().val();
				if(typeof(category_id) == 'undefined')
					category_id = 0;
				var limit = <?php echo isset($limit)?(int)$limit:5;?>;
				var text = encodeURIComponent(request.term);

				var thumb_width = '<?php echo isset($thumb_width)?"&thumb_width=".$thumb_width:""; ?>';
				var thumb_height = '<?php echo isset($thumb_height)?"&thumb_height=".$thumb_height:""; ?>';
				var search_sub_category = search_sub_category?'&sub_category=true':'';
				var search_description = search_description?'&description=true':'';
				var formkey =  $("input[name='form_key']").val();
				if(text.length >= 1){
				$.ajax({
					url: '<?php echo $listProductLink ?>',
					dataType: 'json',
					data: 'filter_category_id='+category_id+'&limit='+limit+thumb_width+thumb_height+search_sub_category+search_description+'&filter_name='+encodeURIComponent(request.term),
					type:'POST',
					success: function(json) {
						response($.map(json, function(item) {
							if($('.vesautosearch_result')){
								$('.vesautosearch_result').first().html("");
							}
							total = 0;
							if(item.total){
								total = item.total;
							}
							return {
								price: item.price,
								html: item.html,
								label: item.name,
								image: item.image,
								link:  item.link,
								value: item.product_id
							}
						}));
					}
				});
				}// end check text length
			},
			focus: function(event, ui) {
				return false;
			}
		})
			$(selector).find('input[name=\'<?php echo $catalogSearchHelper->getQueryParamName() ?>\']').data( "autocomplete" )._renderMenu = function(ul,b){
				var g=this;
				$.each(b,function(c,f){g._renderItem(ul,f)});
				var category_id = $(".category_filter select[name=\"category_id\"]").first().val();
				if(typeof(category_id) == 'undefined')
					category_id = 0;

				category_id = parseInt(category_id);
				var text_view_all = '<?php echo $this->__("View all %s items");?>';
				text_view_all = text_view_all.replace(/%s/gi, total);

				var url = "";
				

				url += '?q=' + g.term;

				if(category_id) {
					url += '&cat=' + encodeURIComponent(category_id);
				}

				return $(ul).append('<li><a href="<?php echo $this->getCatalogSearchLink(); ?>'+url+'" onclick="window.location=this.href">'+text_view_all+'</a></li>');
			};
			$(selector).find('input[name=\'<?php echo $catalogSearchHelper->getQueryParamName() ?>\']').data( "autocomplete" )._renderItem = function( ul, item ) {
				var html = item.html;

				var li_element = $("<li></li>").data("item.autocomplete",item).append(html).appendTo(ul);
				
				$(li_element).click(function(el){
					$(selector+' input[name=\'search\']').val('');
					if(item.link){
						window.location = item.link.replace(/&amp;/gi,'&');
					}
				});
				
				return li_element;
			};
			
	})
})(jQuery);
</script>