/* block */
.#{$block-selector} {
    margin-bottom: $block-module-margin-bottom;
    position: relative;
    background:$white;
    .#{$block-heading-selector}{
        color: #444;
        position: relative;
        font-family: $block-module-heading-font-family;    
        padding: $block-module-heading-padding;         
        font-size: $block-module-heading-font-size;
        font-weight: 600;
        border-bottom: 1px dashed $border-color;
        text-transform: uppercase;
        border-top: 3px solid $theme-color-default;
        &::before{
            content: "";
            position: absolute;
            @include rtl-left(8%);
            top: 40%;
            width: 24px;
            height: 22px;
        }
        strong {
            font-weight: 600;
        }
        span > span{color: $theme-color-default;}
        h2{
            font-size: $block-module-heading-font-size;
            line-height: 24px;
            font-weight: 600;
            span{color: $theme-color-default;}
        }
        h3{
            font-size: $block-module-heading-font-size;
            line-height: 22px;
        }
    }

    .#{$block-content-selector} {
        @include clearfix();
        padding: 20px;
    }
      
    &.nopadding{
        .#{$block-content-selector}{
            padding:0;
            margin: 0;
        }
    }
}

// Contextual variations

.#{$block-prefix}-default {
  .#{$block-heading-selector} {
        border-top: 3px solid #795549;
        color: #795549;
    }
}
.#{$block-prefix}-primary {
    border: 1px solid $border-color;
    border-top: 3px solid #4dd0e1;
    .#{$block-heading-selector} {
        border-top: 0;
        @include rtl-padding-left(20%);
        &::before{
            background: url("#{$image-theme-path-base}icon_hitech.png") no-repeat;
        }
    } 
    .block{margin-bottom: 0;}
}

.#{$block-prefix}-info {
    border: 1px solid $border-color;
    border-top: 3px solid #ff9e80;
    .#{$block-heading-selector} {
        border-top: 0;
        @include rtl-padding-left(20%);
        &::before{
            background: url("#{$image-theme-path-base}icon_fashion.png") no-repeat;
        }
    } 
    .block{margin-bottom: 0;}
}

.#{$block-prefix}-success {
    border: 1px solid $border-color;
    border-top: 3px solid #7cb342;
    .#{$block-heading-selector} {
        border-top: 0;
        @include rtl-padding-left(20%);
        &::before{
            background: url("#{$image-theme-path-base}icon_health.png") no-repeat;
        }
    } 
    .block{margin-bottom: 0;}
}

.#{$block-prefix}-theme {
    border: 1px solid $border-color;
    border-top: 3px solid #ffc107;
    .#{$block-heading-selector} {
        border-top: 0;
        @include rtl-padding-left(20%);
        &::before{
            background: url("#{$image-theme-path-base}icon_home.png") no-repeat;
        }
    } 
    .block{margin-bottom: 0;} 
}

.#{$block-prefix}-danger {
    
}

.#{$block-prefix}-highlighted {
    border: 1px solid $border-color;
    border-top: 3px solid #00bfa5;
    .#{$block-heading-selector} {
        border-top: 0;
        @include rtl-padding-left(20%);
        &::before{
            background: url("#{$image-theme-path-base}icon_food.png") no-repeat;
        }
    } 
    .block{margin-bottom: 0;} 
}

.#{$block-prefix}-warning {
    .#{$block-heading-selector} {
        span span {
            font-weight: 700;
            color: $black;
        }
    }
    .#{$block-content-selector} {
    }  
}

.box-product-carousel {
    .#{$block-content-selector} {
        padding:0;
    }  
}

/* block inline style */
.#{$block-prefix}-inline{
    .#{$block-heading-selector} {
        border-top: 3px solid #8cc34b;
        color: #8cc34b;
    } 
}
 
.sidebar {
    .#{$block-selector} {
        border: 1px solid $border-color;
        border-top: 0;
        .#{$block-heading-selector} {
        }
        .#{$block-content-selector}{
            padding: 20px;
        }  
    }
}    

/* block style in main content */
#content{
    overflow: hidden;
    .#{$app-brand-prefix}-custom {
        .#{$block-content-selector} {
            border:none;
            background:none;
            color:$block-module-footer-heading-color;
        }
        .#{$block-content-selector}{
            border:none;
        }
    } 
}

.widget-images {
    border: 0!important;
    .image-description{
        p{margin: 0;}
        br{display: none;}
    }
    .#{$block-content-selector}{
        padding:0 !important;
         border: 0!important;
    }
}

.readmore{  
    color: $theme-color-default;
    font-weight: 600;
    @include transition(all 0.3s ease-in-out 0s);
    letter-spacing: 1px;
    font-size: $font-size-base - 1;
    &:hover{
        color: $black;
        @include transition(all 0.3s ease-in-out 0s);
    }
}

.block-image{
    .widget-images{
        .widget-inner{
            position: relative;
            overflow: hidden;
            img{@include transition(all 0.5s ease-in-out 0s);}
            &:hover{
                img{
                    @include scale(1.2);
                    @include transition(all 0.5s ease-in-out 0s);
                }
                .img-animation{@include transition(all 0.5s ease-in-out 0s);}
            }
        }
        .image-description{
            bottom: 0;
            color: $white;
            font-style: italic;
            left: 0;
            margin: 20px;
            position: absolute;
            right: 0;
            text-align: center;
            top: 0;
            .wrapper{position: relative; z-index: 2; @include inline-block(); margin-top: 23%;}
            .btn.btn-primary{
                background: none;
                border: 1px dashed #ddd;
                font-style: normal;
                padding: 12px 50px;
                color: $white;
                @include transition(all 0.3s ease-in-out 0s);
                &:hover{
                    border-color: $theme-color-default;
                    color: $theme-color-default;
                    @include transition(all 0.3s ease-in-out 0s);
                }
            }
            h1{font-size: 60px; padding-bottom: 35px;}
        }
    }
    .widget-images.block-primary{
        .image-description{
            .wrapper{margin-top: 8%;}
            &:before{
                content: "";
                width: 100%;
                height: 100%;
                border: 2px solid rgba(255, 255, 255, 0.5);
                position: absolute;
                z-index: 1;
                top: 0;
                @include rtl-left(0);
            }
        }
    }
}
.vew-all-categories{
    .btn.btn-primary{
        background: none;
        border: 1px dashed #999;
        font-style: normal;
        padding: 12px 30px;
        font-size: $font-size-base + 3;
        color: #999;
        text-shadow: none;
        font-weight: 400;
        @include transition(all 0.3s ease-in-out 0s);
        &:hover{
            border-color: $theme-color-default;
            color: $theme-color-default;
            @include transition(all 0.3s ease-in-out 0s);
        }
    }
}

.checkbox.related-checkbox{
    position: absolute;
    z-index: 100;
    @include rtl-left(12px);
}

.social-footer{
    background: $theme-color-default;
    padding: 10px 0;
    h3{
        font-weight: 300;
        color: $white;
        @include rtl-margin-right(15px);
        line-height: 32px;
    }
    li{
        @include inline-block();
        a{
            background: rgba(255, 255, 255, 0.2);
            width: 50px;
            height: 42px;
            line-height: 42px;
            color: $white;
            @include inline-block();
            @include rtl-margin-left(24%);
            font-size: $font-size-base + 5;
            .fa{@include rtl-padding-left(3px); @include transition(all 0.4s ease 0s);}
            &:hover{
                -webkit-animation-name: hvr-icon-pop;
                  animation-name: hvr-icon-pop;
                  -webkit-animation-duration: 0.4s;
                  animation-duration: 0.4s;
                  -webkit-animation-timing-function: linear;
                  animation-timing-function: linear;
                  -webkit-animation-iteration-count: 1;
                  animation-iteration-count: 1;
            }
        }
    }
    span{display: none;}
}

.ads{
    background: $theme-color-default;
    color: $white;
    padding: 12% 5% 0;
    min-height: 362px;
}

.abs-left{@include rtl-border-right(1px solid $border-color);}
#checkoutSteps .back-link{@include rtl-float-left();}

.box.box-info{
    border-top: 3px solid $theme-color-default;
    .widget-images .image-description{
        padding: 5% 10% 10%;
        h3{text-transform: uppercase; color: $theme-color-default;}
    }
}

.box.box-danger{
    padding-top: 30px;
    .block-title{
        padding-left: 0; 
        padding-right: 0;
        border: 0!important;
        color: $black!important;
    }
    .block-content{padding: 0;}
}

.feature-products{
    .#{$block-heading-selector} {
        border-top: 3px solid #02bfa3;
        @include rtl-padding-left(20%);
        &::before{
            background: url("#{$image-theme-path-base}icon_bags.png") no-repeat;
        }
    }
}

.top-rate{
    border: 1px solid $border-color;
    .#{$block-heading-selector} {
        border-top: 3px solid #ec7357;
        @include rtl-padding-left(20%);
        &::before{
            background: url("#{$image-theme-path-base}icon_star.png") no-repeat;
        }
    }
}

.call-us{
    line-height: 16px;
    margin-top: 20px;
    font-size: $font-size-base - 1;
    span{
        font-size: $font-size-base + 1;
        font-weight: 400;
    }
    p{margin: 0;}
    .pull-left{
        @include rtl-margin-right(10px);
        height: 32px;
        line-height: 32px;
    }
}

.block-compare .btn-remove{
    margin-top: 4px;
}

.skillset .pull-left{@include rtl-margin-right(10px);}
#skillset .pull-left{@include rtl-margin-right(20px);}

.ourservice-block{
    line-height: normal;
    color: #999;
    h4{
        color: #333; 
        font-size: $font-size-base;
        font-weight: 300;
    }
}