/* Topbar */
#topbar{ 
    background: $topbar-bg;
    min-height: 40px;
    line-height: 30px;
    z-index: 99;
    color: $topbar-color;
    text-align: center;
    padding-top: 5px;
    .row > div{@include rtl-border-right(1px solid $border-color);}
    .row > div:last-child{border: none!important;}
    .dropdown-menu {
        border-top: 3px solid $theme-color-default;
        &::before{
            border-bottom: 4px solid $theme-color-default;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            content: "";
            position: absolute;
            top: -7px;
        }
    }
    .topLinks{
        .dropdown-menu {
            min-width: 180px;
            &::before{
                @include rtl-right(25px);
            }
        }
    }
    .setting{
        .dropdown-menu {
            &::before{
                @include rtl-left(25px);
            }
        }
    }
}

.topLinks {
    @include rtl-border-right(1px dashed $border-color);
    @include rtl-padding-right(10px);
    a {
        font-size: $font-size-base - 2;
        line-height: 44px;
        &:hover {
            color: $theme-color-default;
        }
    }
    .dropdown-toggle {
        &:hover,
        &:focus {
            color: $theme-color-default;
            cursor: pointer;
        }
    }
    .dropdown-menu{
        left: auto!important;
        right: 0!important;
        a{font-size: $font-size-base;}
    }
}

.links,
#select-language,
#select-currency {
    width: 100%;
    li {
        @include rtl-float-left();
        @include rtl-text-align-left();
        padding: 0 20px;
        line-height: 40px !important;
        border-bottom:1px solid $border-color;
        width: 100%;
        &.first {
            padding: 0 20px !important;
        }
        &:last-child {
            border-bottom:0;
        }
        a {
            color: #999;
            line-height: 40px;
            &:hover {
                background-color: $white;
            }
        }
    }
}

.top-currency,
.store-language {
    @include inline-block();
    line-height: 44px;
    label,
    strong {
        display: none;
    }

    a { 
        &:hover {
            color: $theme-color-default;
        }
    }

    .form-language,
    .currency  {
        li {
            display: block;
            padding:2px 5px;
            a {
                background-repeat:no-repeat;
                @include rtl-background-position-left(center);
                @include rtl-padding-left(22px);
                @include rtl-text-align-left();
            }
        }
        label + a { background: none !important;}  
    }

    .currency li a {@include rtl-padding-left(0 !important);}
}

.link-register,
.store-language,
.top-currency {
    background: url("#{$image-theme-path-base}bg_right_topbar.png") no-repeat center left;
    @include rtl-background-position-left(center);
    padding: 0 10px;
}

.link-login { 
    @include rtl-padding-right(10px);
    @include rtl-float-left();
}

.top-callonline {
    @include rtl-float-right();
    li {
        @include inline-block();
        line-height: 44px;
        &.first {
            @include rtl-padding-right(20px);
        }
    }
    .fa{color: #333;}
}

.quick-access {
    @include rtl-float-left();
    .welcome-msg {
        line-height: $topbar-height - 2;
        text-transform: uppercase;
    }
    
    a { 
        color: $white;
        &:hover { 
            color: $theme-color-default;
        }
    }

}

#search{margin: 0!important;}
.top-search {
    background: transparent;
    width: 40px;
    position: relative;
    margin: 0 6px;
    .form-search {
        position: relative;
        width: 40px;
        @include rtl-float-right();
        @include transition(all 0.4s ease-in-out 0s);
        z-index: 1;
        &:hover{
            width: 225px; 
            background: $black;
            @include transition(all 0.4s ease-in-out 0s);
            input{border-color: $theme-color-default; @include transition(all 0.4s ease-in-out 0s);}
        }
        input {
            @include rtl-padding-left($search-padding);
            @include border-radius(20px);
            @include transition(all 0.4s ease-in-out 0s);
            border-color: transparent;
            font-size: $search-font-size;
            width: 100%;
            height: 30px !important;
            background:$nocolor;
            color: #999;
            &:hover,
            &:focus {
                border-color: $theme-color-default;
            }
        }
        button.button-search {
            color: $search-button-color;
            cursor: pointer;
            line-height: 30px;
            @include size(30px, 30px);
            position: absolute;
            @include rtl-right(0);
            top: 0;
            text-align: center;
            border:0;
            padding: 0 12px;
            background: $nocolor;
            margin-top: 0;
            font-size: $search-icon-font-size;
            box-shadow:none;
            border-radius:0;
        }
    }
}

/*  */
 /*Autosearch*/
.#{$app-brand-prefix}-autosearch {
    margin-top: 9px;
    @include rtl-margin-left(5%);
    min-height: 46px;
    position: relative;
    .search_box {
        border: none;       
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        .button-search {
            color: $white;
            background-color: $theme-color-default;
            border:0;
            font-size: 18px;
            position: relative;
            top: -42px;
            width: 50px;
            height: 42px;
            line-height: 45px;
            text-align: center;
            @include rtl-float-right();
            @include rtl-left(0);
            z-index: 3;
            cursor: pointer;
            &:hover{background-color: #444;}
        }
        .input-search{
            border-radius: 0;
            border: 1px solid $border-color;
            height: 42px;
            @include rtl-padding-right(34%);
        }
        .search-input-wrapper{
            position:relative;
            width: 80%;
        }
        .search {
            width: 100%;
            height: 40px;
            .form-control {
                height: 36px;
            }
        }
        .category_filter {
            position: absolute;
            width: 180px;
            height: 42px;
            @include rtl-right(50px);
            &:active, &:focus{
                .fa{color: #363636;}
            }
            select {
                background: #f5f5f5;
                height: 42px;
                @include rtl-padding-left(10px);
                font-size: $font-size-base;
                color: #444;
                border-radius: 0;
                appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;
                -o-appearance: none;
                -webkit-appearance: none;
                border: 1px solid $border-color;
                @include rtl-border-right(0);
                &:active, &:focus{background: $white;}
            }
            option{min-width: 130px; padding: 3px 6px;}
            span {
                color: #444;
                position: absolute;
                @include rtl-right(12px);
                top: 0px;
                line-height: 42px;
                font-size: $font-size-base - 2;
            }
        }
    }
}

ul.ui-autocomplete {
    z-index: 9999!important;
    width:300px;
    cursor: default;
    position: absolute;
    top: 45px!important;
    border-radius:0;
    @include rtl-left(0!important);
    .active{
        border: solid 1px #CCCCCC;
    } 
    li {
        display: block;
        clear: both;
        border-bottom: 1px solid #e9e9e9;
        overflow: hidden;
        background-color: #fff !important;
        padding: 10px;
        img {
            cursor: pointer;
            width:60px;
            height: 60px;
        }
        .name {
            cursor: pointer;
            font-size: 12px;
            font-weight:bold;
            &:hover {
              color: $theme-color-default;
            } 
        }
        a {
            @include rtl-float-right();
            margin: 5px !important;
            border: 1px solid transparent;
        }
    }
}

.cart-top {
    position: relative;
    .empty{padding: 0 20px 15px; border-bottom: 1px solid $border-color;}
    .text-heading{display: none;}
    h3{line-height: 18px; text-transform: uppercase; color: $black; font-size: $font-size-base;}
    .shopping-cart-icon { 
        background: url("#{$image-theme-path-base}icon_minicart.png") no-repeat center center;
        @include rtl-float-left();
        @include size(30px, 33px);
        text-align:center;
        line-height: 32px;
        @include rtl-margin-right(10px);
    }
    .cart-total{
        color: $black;
        .price{color: $black; font-weight: 300; font-size: $font-size-base - 2;}
    }
    #cart-total{color: $black; font-size: $font-size-base - 1;}
    .content {
        width: 260px;
        position: absolute; 
        visibility: hidden;
        z-index: 9999;
        line-height: normal;
        @include opacity (0); 
        @include transition(all 0.3s ease-in-out 0s);
        @include rtl-right(0);
        top: 92%;
        @include box-shadow(1px 1px 4px rgba(0, 0, 0, 0.2));
        border-top: 3px solid $theme-color-default;
        &::before{
            border-bottom: 4px solid $theme-color-default;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            content: "";
            position: absolute;
            top: -7px;
            @include rtl-right(80px);
        }
        .block-cart {
            background-color: $white;
            margin-bottom: 0;
            padding:15px 0;
            width: 100%;
            @include rtl-float-left();
            @include border-top-radius(0);
            @include border-bottom-radius(0);
            @include box-shadow (none);
            li {
                @include rtl-float-left();
                margin-bottom: 6px;
                padding-bottom: 6px;
                border-bottom: 1px solid $border-color;
            }
            .product-block {  
                @include box-shadow (none); 
                border:0;
            }
            .block-content {
                border-top: none;
                color: #222;
                .image { margin-top: 0; @include rtl-margin-left(12px); padding: 0;}
                .product-meta {
                    padding:0;
                    width: 168px;
                    @include rtl-text-align-left();
                    @include rtl-margin-left(10px);
                    .product-name {
                        a{
                            font-family: $font-family-secondary;
                            color: $product-name-color ;
                            font-size: $font-size-base;
                            font-weight: 400;
                            &:hover{color: #444;}
                        }
                    }
                    strong { font-size: $font-size-base;}
                }

                .summary {
                	display: none;
                    border-top: 1px solid $border-color;
                    padding:10px 0;
                    @include rtl-float-left();
                    width: 100%;
                    .label {
                        @include inline-block();
                        color: $theme-color-tertiary;
                        font-size: $font-size-base;
                        padding:0;
                        font-weight: 400;
                    }
                    .price {
                        color: $theme-color-default;
                        font-size: $font-size-base + 2;
                    }

                    a {
                        color: #222;
                        text-decoration: underline;
                    }
                }
            }
            .block-subtitle {
                display: none;
            }
            .btn-remove{
                display: none;
            }
            .btn-edit {
                display: none;
            }
        }
    }

    &.active,
    &:hover,
    &:focus {
        .content{ 
            visibility: visible; 
            @include opacity (1);
            @include transition(all 0.3s ease-in-out 0s);
        }
    }
    &:hover .heading .cart-inner > span {
        color: $white;
    }

    .actions button, .view-cart{
        background: transparent!important;
        color: #999;
        height: 26px; 
        line-height: 34px;
        @include inline-block();
        @include rtl-margin-right(5px);
        vertical-align: top; 
        font-weight: 300;
        padding: 0 12px;
        border: 0!important;
        @include rtl-float-right();
        &:hover{
            color: #444!important;
            border-color: $theme-color-default!important;
        }
    }
} 


.layerslider-wrapper{
    z-index: 10;
    .tparrows{
        @include opacity(0);
        @include transition(all 0.4s ease-in-out 0s);
    }
    .tp-leftarrow{@include translate(-100%, 0);}
    .tp-rightarrow{@include translate(100%, 0);}
    &:hover{
        .tparrows{
            @include opacity(1);
            @include transition(all 0.4s ease-in-out 0s);
            @include translate(0px, 0px);
        }
    }
}

.block-warning.productcarousel{
    .products-row{
         margin: 0!important;
         border:0;
         .product-col{
            border-left: 0!important;
            border-right:0!important;
            padding:0 !important;
            margin-top: 12px;
            border-bottom: 1px solid $border-color;
         }
     }
}
.block-warning.productcarousel{
    .#{$block-heading-selector} {
    }
    .#{$block-content-selector}{
        padding: 0!important;
    }  
    .owl-controls .owl-buttons{top: -68px;}
    .products-grid .product-block{
        padding: 0 15px!important;
        .name{padding: 0!important;}
        .image{
            @include rtl-float-left();
            margin:0;
            width: 25%;
            padding: 0!important;
        }
        .right{display: none!important;}
        .price .price-old, .price .old-price{
            display: inline-block!important;
        }
        .product-img.img::before, .product-img.img::after{background: none!important;}
    }
     .product-block{
        box-shadow:none!important;
        @include clearfix();
        @include rtl-text-align-left();  
        margin-bottom: 12px;
        .action, 
        .#{$app-brand-prefix}-colorbox, 
        .colorbox, .image-gallery,
        .add-to-links{
            display: none !important;
        }
        .product-price{opacity: 1!important; margin: 0!important; visibility: visible!important;}
        .product-meta {
            @include rtl-float-right();
            width: 70%;
            padding:0;
            margin: 0;
            @include rtl-text-align-left();
        }
         
     }
     
     .product-label {
        display: none;
     }

    .onsale,
    .new-icon { display:none !important;}
}
/** apply general product block **/
.sidebar{
     
}

/* Block: Layered Navigation */
.block-layered-nav dt {
    background: url("#{$image-theme-path-base}menu_down.gif") no-repeat right center;
    @include rtl-background-position-right(center);
}
.block-layered-nav dt.active {
    background: url("#{$image-theme-path-base}menu_up.gif") no-repeat right center;
    @include rtl-background-position-right(center);
}

/* social internal module */
.social{
    text-align: right;
    font-weight: bold;
    color: #999;
    > p {
        line-height: normal;
        margin-bottom: 0;
        margin-top: 4px;
        @include rtl-padding-left(26px);
        &::before{
            content: "";
            @include rtl-border-left(1px solid $border-color);
            position: absolute;
            width: 1px;
            height: 56px;
            @include rtl-left(0);
            top: -5px;
        }
        span{color: $black;}
    }
    ul{margin-top: 12px;}
    li{
        @include inline-block();
        @include rtl-margin-left(8px);
        span{display: none;}
        a{
            @include transition(all 0.3s ease 0s);
            @include opacity(0.5);
            &:hover{color: $white; @include opacity(1); @include transition(all 0.3s ease 0s);}
            .fa{
                color: $black;
                font-size: 16px;
                @include inline-block();
                @include rtl-padding-left(3px);
                @include rtl-margin-right(6px);
            }                   
        }
    }
}

/* back to top */
.scrollup {
    background: $theme-color-default;
    bottom: 82px;
    display: none;
    position: fixed;
    @include rtl-right(10px);
    @include rounded-corners(100%);   
    @include size(40px,40px);
    @include box-shadow(1px 2px 5px rgba(0, 0, 0, 0.3));
    text-align: center;
    font-size: 13px;
    color: #fff!important;
    text-transform: uppercase;
    font-weight: 600;
    padding: 2px;
    cursor: pointer;
    line-height: 18px;
    z-index: 9999;
    .fa { display: block;}
    &:hover {
        text-decoration: none;
        background: $theme-color-secondary;
    }
}


.#{$block-prefix }-layered-nav {
	> .block.block-layered-nav{
		border: 0;
		margin: 0;
		box-shadow: none;
	}
    .#{$block-content-selector} {
    }

    .#{$block-prefix }-subtitle { 
        font-weight: 700 ;
        display: none;
    }

    .currently {
        padding: 5px 10px 5px 0;
        li {
            position: relative;
            padding-bottom: 10px;
        }
        .label {
            @include inline-block();
            color: #323232;
            font-family:$font-family-base;
            font-weight: 400;
            font-size: 13px;
            position: 0;
        }
        .value {
            @include inline-block();
            font-weight: 600;
        }
        .btn-previous,
        .btn-remove {
            margin: 0;
            position: absolute;
            right: 4px;
            top: 9px
        }
        .btn-previous {
            right: 17px
        }
    }

    .actions {
        padding: 5px 15px 10px;
        @include rtl-text-align-right();
        a {
            float: none
        }
    }

    dt {
        cursor: pointer;
        text-transform:uppercase;
        line-height: 100%;
        padding:10px 0;
        @include rtl-text-align-left();
        font-weight: 600;
        margin-bottom: 10px;
        &:focus,
        &.active,
        &:hover {
            border-bottom: 0 none;
        }
    } 

    dd {
        margin: 0;
        padding: 0;
        &.last {
            border-bottom: 0 none
        }
        li {
            color: #333;
            line-height: 100%;
            margin: 0 0 18px 16px;
            @include rtl-text-align-left();
            width: 100%;
            position: relative;
            &:before{
                content: "\f105";
                position: absolute;
                font-family: FontAwesome;
                @include rtl-left(-10px);
                top: 0;
            }
            a { 
                color: $theme-color-tertiary;
                padding: 0;
                @include inline-block();
                &:hover {
                    color: $theme-color-default;
                    text-decoration: none
                }
            }

        }
        .price {
            background: 0;
            color: #151515;
            @include inline-block();
            font-size: 100%;
            padding: 0;
            font-weight: 400;
            font-family:$font-family-base; 
            margin-bottom: 10px;
        }
        &.inactive{
            border-bottom: 0 none;
            padding: 0
        }

    }

    li { 
        list-style:none;
    }

}

.#{$block-selector}.venus-latest-blog {
    .post-images {
        display: none;
    }
    .blog-meta{
        font-weight: 300;
        a:hover{color: $theme-color-default;}
    }
    .author{@include rtl-float-left(); @include rtl-margin-right(10px);}
    .blog-hits{
        @include rtl-float-left();
        strong{@include rtl-margin-left(6px); font-weight: 300;}
    }
    .blog-readmore{display: none;}
    .icon-blog{
        font-size: 30px;
        margin-top: 15px;
    }
    .post-block{
        @include rtl-padding-left(50px);
        h4{
            padding: 0;
            font-size: $font-size-base + 2;
            line-height: 36px;
            font-weight: 500;
            margin-bottom: 5px;
            a{
                color: $black;
                &:hover{text-decoration: underline;}
            }
        }
        .latest-description{margin-top: 10px;}
    }
    .created-date{
        color: #999; 
        line-height: 14px;
        @include rtl-float-left(); 
        @include rtl-margin-right(8px); 
        @include rtl-padding-right(8px);
        @include rtl-border-right(1px solid $border-color);
    }
    .blog-comment-count{line-height: 14px; color: #999;}
    .owl-carousel{margin-left: -12px; margin-right: -12px; width: auto!important;}
    .owl-carousel .owl-item{padding-left: 12px; padding-right: 12px;}
}

.latest-deal{
    .block-title{
        border-top: 3px solid #f2575b;
        @include rtl-padding-left(20%);
        &::before{
            background: url("#{$image-theme-path-base}icon_tag.png") no-repeat;
        }
    }
    .block-content{margin-left: -1px; margin-right: -1px;}
    .item-countdown ul li div + div{display: none;}
    .item-countdown{
        margin-top: 12px;
        ul{
            margin: 0;
            li{
                color: $white;
            }
        }
    }
    .item-countdown ul li div.countdown_num{
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 10px 15px;
        color: $white;
        font-weight: 400;
        span{
            font-size: $font-size-base;
        }
    }
    .productdeals{
        background: #6093c8;
        padding: 18px 0 24px;
    }
    .deal_detail{display: none;}
    .row.products-row .product-col{border: 0;}
    .product-block .btn-shopping-cart{border-bottom: 1px solid $white;}
    .productdeals .item-countdown ul li div.countdown_num span{color: $white!important;}
}

.block-danger.latest-deal{
    border: 1px solid $border-color;
    .row.products-row .product-col{@include rtl-border-left(1px solid #e6e6e6);}
}

.#{$block-selector}.venus-deal {
    .product-block {
         min-height: 395px;
         border: 0 !important;
         z-index: 9;
        .image {
            @include rtl-float-left();
            margin:0;
        }
        .product-meta { 
            @include rtl-float-right();
            width: 200px;
            padding:40px 20px 0;  
        }
        .action{
            @include opacity(1);
            display: block !important;
            visibility: visible;
            margin: 5px 0;
            position: relative;
        } 
        .price {
            margin-top:11px;
        }
        .onsale,
        .new-icon {
            @include rtl-right(20px);
            top:20px;
            background-size:71px 65px;
            @include size (71px, 66px);
            line-height: 18px;
            font-size: 16px;
            padding-top:15px;
        }
        &:hover {
            @include box-shadow(none); 
        }

        
    }

    .productdeals {
        position:absolute;
        @include rtl-left(15%);
        top:81%;
        .timeleft h3 {
            font-size:19px;
        }
    }

    .deal_detail,
    .productdeals {
        @include opacity(1);
        display: block;
    }

    .deal_detail ul li {
        width: 100%;
    }

}

.deal-products, .block-deal-info {
    margin-top: 20px;
    .item-countdown ul li div + div{display: none;}
    .item-countdown ul li div.countdown_num{
        border: 1px solid $border-color;
        padding: 3px 8px;
        color: #444;
        span{
            font-size: $font-size-base;
        }
    }
}

.deal_detail_num {
    padding-left:5px;
    color: $theme-color-default;
    font-size: $font-size-base + 2;
    font-weight:600;
    .price { 
        color: $theme-color-default !important;
        font-size: $font-size-base + 2 !important;
        font-weight: 600 !important;
    }
}

.#{$block-selector}-compare,
.#{$block-selector}-reorder {
    li {
        border-bottom: 1px solid $border-color;
        padding:5px 0;
    }
    .actions{
        margin-top: 10px;
        button { @include rtl-float-right();}
    }
}
.#{$block-selector}-reorder {
    input[type="checkbox"] {
        @include rtl-float-right();
        @include rtl-padding-right(10px);
    }
}

.tags-list a { font-size:100% !important;}

/* block tags */
.block-tags, .blog-list-tags{
    .tags-list { 
        li{
            font-size: 15px;
            a{
                background: #e9e9e9;
                color: #333333;
                @include border-radius(2px);
                @include rtl-float-left();
                font-size: 12px!important;
                padding: 3px 8px;
                margin: 3px;
                @include transition(all 0.3s ease-in-out);
                &:hover{
                    background: $theme-color-default;
                    color: $white;
                    @include transition(all 0.3s ease-in-out);
                }
            }
        }
    }
    .actions{
        margin-top: 10px;
        font-style: italic;
        font-weight: bold;
        @include rtl-float-left();
        width: 100%;
        a{color: #333333;}
    }
}

.blog-wrapper {
    img{
        width: 100%!important;
        height: auto;
    }
    .blog-image {
        @include inline-block();
        vertical-align: middle;
        .created-date {
            @include rtl-left(0);
            text-align: center;
        }
    }  
    .blog-title a,
    .blog-readmore a {
        color: $theme-color-secondary;
        &:hover {
            color: $theme-color-default;
        }
    }
    .blog-meta > div {
        @include inline-block();
        @include rtl-margin-right(5px);
    }

    .more-post {
        li {
            margin-bottom: 10px;
        }
    }
    .blog-comment img {
        width: auto !important;
        @include rtl-float-left();
        @include rtl-margin-right(12px);
    }
}
 
#ves_blog_search_block {
    button {
        margin-top: 10px;
    }
}

.venus-blog-menu .ves-comment{
    @include rtl-float-left();
    width: 100%;
}

.blog-post .blog-comment{line-height: normal;}

// owlproductcarousel
.owlproductcarousel{
    overflow: hidden;
    .block-content {
        border:0;
        padding: 0!important;
    }
    .owl-controls {
        .owl-buttons {
            position: absolute;
            @include rtl-right(0);
            top: -64px;
            width: 80px;
            .owl-prev,
            .owl-next  {
                @include opacity(1);
                visibility:visible;
                i { font-style:normal;}
            }

            div { 
                background: #f8f8f8!important;
                border: 0!important;
                cursor: pointer;
                width: 30px!important;
                height: 30px!important;
                line-height: 30px!important;
                margin: 0 3px 0 0!important;
                font-size: 12px!important;
                border-radius: 0!important;
                color: #ccc!important;
                &:hover {
                    color:$theme-color-default!important;
                }
            }
        }
    }
    .owl-theme .owl-controls{margin: 0;}
}

.main-content{overflow: hidden;}

.ves-brandcarousel {
    background: #f8f8f8;
    margin-bottom: 0!important;
    .block-content{
        padding: 30px 0;
    }
    &:hover{
        .owl-buttons {
            .owl-prev,
            .owl-next  {
                display: block!important;
            }
        }
    }
    .owl-pagination{
        position: absolute;
        bottom: -25px;
        left: 0;
        right: 0;
    }
    
}

.ves-brandcarousel, .vestestimonialcarousel{
    .owl-theme .owl-controls .owl-page{@include inline-block();}
    .owl-item{text-align: center;}
    .item-inner > a{@include inline-block();}
    .owl-theme{
        .owl-controls {
            margin-top: 0;
            .owl-buttons {
                div { 
                    cursor: pointer;
                    @include size(50px, 50px);
                    @include border-radius(0);
                    line-height: 50px;
                    font-size: 24px;
                    margin: 5px 2px;
                    background:$nocolor;
                    color: #999;
                    border: 1px dashed $border-color;
                    position: absolute;
                    top: 5%;
                    &:hover {
                        border-color: $theme-color-default;
                        color: $theme-color-default;
                    }
                }
                .owl-prev {
                    left: 30px;
                }
                .owl-next {
                    right: 30px;
                }
            }
            .owl-page{
                span {
                    background: $theme-color-tertiary;
                    margin: 5px 3px;
                    width: 9px; 
                    height: 9px;
                }
                &.active,
                &:hover{
                    span {
                        background: #82b1ff;
                    }
                }
            }
        }
    }
}

/* Ves Testimonial */
.vestestimonialcarousel{
    border-top: 3px solid #82b1ff!important;
    text-align: center;
    .vestestimonial{padding: 10%;}
    .testimonial-item{
        .post-image{
            @include inline-block();
            padding: 0;
            position: relative;
            img{@include border-radius(50%);}
            &::after{
                content: "\f10e";
                font-family: $font-icon-family;
                top: 0;
                right: -14px;
                position: absolute;
                color: #82b1ff;
                font-size: 20px;
            }
        }
        .profile p{margin: 0;}
    }
    .owl-pagination{margin-top: 20px;}
}

/* Gallery Image */

.owl-carousel .owl-wrapper{float: left;}
.rtl .owl-controls .owl-buttons{margin-left: 12px; width: 66px!important;}
.rtl .owl-prev{float: left;}

.blog-post .blog-social .social-sharing > div{@include rtl-float-left();}

/*Blog Gird */
.blogs-grid{
    .blog-title{
        font-size: 18px;
        line-height: 24px;
    }
    .ves-description p{
        max-height: 98px;
        overflow: hidden;
    }
}

/*Blog Second */
.blogs-second{
    .blog-title{font-size: 15px;}
    .ves-description{
        max-height: 90px;
        overflow: hidden;
    }
}

/*Blog Masonry */
.blogs-masonry{
    .ves-description{
        max-height: 70px;
        overflow: hidden;
    }
    .blog-meta > span{
        @include rtl-float-left();
        margin-bottom: 3px;
    }
    .created-date{display: none;}
    .blog-title{font-size: $font-size-base + 1; min-height: 60px;}
    .blog-bottom{@include rtl-float-left(); width: 100%;}
    .blog-meta a{
        color: $theme-color-default;
        &:hover{text-decoration: underline;}
    }
}

/*Blog Thumb View */
.blogs-thumb_view{
    .blog-title{
        padding-top: 10px;
        font-size: 16px;
        line-height: 25px;
    }
    .ves-description{
        max-height: 56px;
        line-height: 20px;
        overflow: hidden;
    }
}

.account-login{
  .form-list li{overflow: visible;}
}

.carousel-control.right, .carousel-control.left{
    text-shadow: none!important;
    background: #f8f8f8!important;
    cursor: pointer;
    width: 30px!important;
    height: 30px!important;
    line-height: 30px!important;
    margin: 0 3px 0 0!important;
    font-size: 12px!important;
    border-radius: 0!important;
    color: #ccc!important;
    &:hover{color: $theme-color-default!important;}
}
.carousel-controls{
    position: absolute;
    @include rtl-right(0);
    top: 18px;
    width: 66px;
}

/*Scroll tabs*/
#j-floor-fixed-panel-sidebar{
    .floor-fixed-panel{
        width: 48px!important;
        z-index: 9998!important;
        li{
            height: 45px;
            span{
            	margin-left: 48px!important; 
            	color: #999!important; 
            	padding: 0 15px!important; 
            	line-height: 45px; 
            	text-transform: uppercase;
            }
            a{
                height: 45px;
                line-height: 48px;
                background-color: transparent;
                left: 0;
                i{
                    background-color: transparent!important;
                    height: 45px; width: 48px;
                    border-bottom: 1px dashed $border-color;
                    &::before{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        font-style: normal;
                        color: #999;
                        font-weight: 600;
                        line-height: 45px;
                    }
                    &::after{
                        content: "";
                        position: absolute;
                        border-left: 5px solid transparent;
                        border-top: 5px solid transparent;
                        right: -5px;
                        bottom: 0;
                    }
                }
                
                &.active, &:hover{
                    &.floor-skin-skin1{border-bottom: 3px solid #4dd0e1;}
                    &.floor-skin-skin2{border-bottom: 3px solid #ff9e80;}
                    &.floor-skin-skin3{border-bottom: 3px solid #7cb342;}
                    &.floor-skin-skin4{border-bottom: 3px solid #ffc107;}
                    &.floor-skin-skin5{border-bottom: 3px solid #00bfa5;}
                    position: absolute;
                    background: $white;
                    @include box-shadow(2px 3px 3px rgba(0, 0, 0, 0.2));
                    i{
                    	border-bottom: 0;
                    	&::before{
                    		color: $white!important; 
                    		font-size: $font-size-base + 7; 
                    		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
                    	}
                    }
                    i.icon1{
                        background-color: #4dd0e1!important;
                        &::after{border-left-color: #4dd0e1;}
                    }
                    i.icon2{
                        background-color: #ff9e80!important;
                        &::after{border-left-color: #ff9e80;}
                    }
                    i.icon3{
                        background-color: #7cb342!important;
                        &::after{border-left-color: #7cb342;}
                    }
                    i.icon4{
                        background-color: #ffc107!important;
                        &::after{border-left-color: #ffc107;}
                    }
                    i.icon5{
                        background-color: #00bfa5!important;
                        &::after{border-left-color: #00bfa5;}
                    }
                }
            }
            i.icon1{
                &::before{content: "F1";}
            }
            i.icon2{
                &::before{content:"F2";}
            }
            i.icon3{
                &::before{content: "F3";}
            }
            i.icon4{
                &::before{content: "F4";}
            }
            i.icon5{
                &::before{content: "F5";}
            }
        }
    }
}

#tab-faqquestion{
    .faqsaddslide .btn-slide{
        background: $theme-color-default;
        @include transition(all 0.3s ease-out 0s);
        &:hover{background: #444;}
    }
}

div.at4-arrow{text-indent: -9999px!important;}
.rtl div.at4-arrow{text-indent: 9999px!important;}

.ves-brandlist-page{
	.brand-col {
	    margin-bottom: 30px;
	}
	.brand-title{display: none;}
}
