/*** widgets using inside megamenu ***/
.#{$app-brand-prefix}-widget{
	.menu-title,
	.widget-title{
		text-transform:uppercase;
		font-family: $font-headding-family;
		font-weight: 600;
		color: #444;
		line-height: 36px;
		margin-bottom: 15px;
		padding-bottom: 4px;
		font-size: $font-size-base !important;
	}
	img { @include img-responsive ();}

	.widget-brand-list {
		h3{
			display: none;
		}
		.post-item.itemcol {
			@include inline-block();
			@include rtl-margin-right(20px);
			margin-bottom: 15px;
		}
	}
}

.ves-megamenu{
	.widget-product-list{
		.image{
			@include rtl-float-left();
			@include rtl-margin-right(10px);
			margin-top: 0;
			margin-bottom: 0;
			width: 30%;
			padding: 0!important;
		}
		.product-block{
			@include rtl-text-align-left();
			margin-bottom: 15px;
			.name a{display: block;}
			.cart{display: none;}
			.price .price-old, .price .old-price{display: inline-block!important;}
			&:hover{position: relative; box-shadow: none!important;}
		} 
	}
}

#ves-verticalmenu{
	a{color: #666;}
	.w-product{
		@include rtl-float-left();
		width: 31%;
		@include rtl-margin-right(2%);
		margin-bottom: 20px;
		.cart{display: none;}
		.image{padding: 0!important;}
		&:hover{box-shadow: none!important;}
	}
	.menu-custom1{
		a{
			margin: 10px 0 15px;
			@include rtl-float-left();
			width: 100%;
		}
		.item{padding-left: 10px; padding-right: 10px;}
	}
	.a-right a{
		font-weight: 500;
		color: $theme-color-default;
		&:hover{text-decoration: underline;}
	}
}

.widget-newsletter{
	background: #82b1ff url("#{$image-theme-path-base}bg_newletter.png") no-repeat scroll 8% bottom !important;
	@include rtl-background-position-left(bottom!important);
	padding-top: 8%;
	padding-bottom: 8%;
	@include rtl-padding-left(35%);
	min-height: 234px;
	line-height: 24px;
	.block-title {
	    color: $white !important;
	    font-size: 25px !important;
	    font-weight: 600 !important;
	    text-transform: none !important;
	    @include rtl-margin-right(15%);
	    label{
	    	color: $white;
	    	font-size: 15px!important;
	    }
	}
	.block-content{position: relative; @include rtl-margin-right(15%);}
	.form-control{
		background: #759fe5;
		color: $white;
		border: 0;
	}
	.form-control::-moz-placeholder{color: rgba(255, 255, 255, 0.6)!important;}
	.actions{
		position: absolute;
		@include rtl-right(0);
		top: 0;
		button{
			background: $white;
			color: #333;
			border-radius: 0;
			padding: 0 10px;
			font-size: 20px;
			height: 40px;
			width: 45px;
			border-color: transparent;
			&:hover{background: $theme-color-default; color: $white;}
		}
	}
}

.block.block-twitter-widget{
	@include rtl-padding-left(3%);
}

.widget-categories, .widget-categories-info{
	.block-content, ul{padding: 0!important;}
	li{
	    border-bottom: 1px dashed $border-color;
	    @include rtl-float-left();
	    display: block;
	    padding: 12px 10px 12px 20px;
	    width: 100%;
	    font-size: $font-size-base + 1;
	    a{
	    	color: #444;
	    	&:hover{color: $theme-color-default;}
	    }
	    &:last-child{border-color: transparent!important;}
	}
	h3{
		position: absolute;
		top: 34%;
		text-align: center;
		line-height: normal;
		text-transform: uppercase;
		width: 100%;
		a{
			color: $white;
			@include inline-block();
			&:hover{
                -webkit-animation-name: hvr-icon-pop;
                  animation-name: hvr-icon-pop;
                  -webkit-animation-duration: 0.4s;
                  animation-duration: 0.4s;
                  -webkit-animation-timing-function: linear;
                  animation-timing-function: linear;
                  -webkit-animation-iteration-count: 1;
                  animation-iteration-count: 1;
            }
		}
		span{
			font-size: $font-size-base;
			font-weight: 300; 
			display: block; 
			text-transform: none;
			@include opacity(0.6);
		}
	}
}

.block-danger.widget-categories-info{
	h3 a{color: #444;}
}

.call-online{
	color: $white;
	min-height: 234px;
	padding-top: 18%;
	line-height: 24px;
	@include rtl-padding-left(25%);
	> div{
		position: relative;
		&::before{
			content: "";
			background: url("#{$image-theme-path-base}phone.png") no-repeat;
			width: 40px;
			height: 40px;
			top: 10px;
			@include rtl-left(-50px);
			position: absolute;
		}
	}
	span{
		font-family: $font-headding-family;
		font-weight: 600;
	}
	h3{font-size: 22px;}
}

.block-primary.categorytabs{
	border: 0;
	.tab-nav{
		position: relative;
		top: 0;
		.nav-tabs > li{
		    border-bottom: 1px dashed $border-color;
		    @include rtl-float-left();
		    display: block;
		    padding: 12px 10px 12px 20px;
		    width: 100%!important;
		    font-size: $font-size-base + 1;
		    a{
		    	color: #444;
		    	text-transform: none;
		    	font-size: $font-size-base + 1;
		    	padding: 0;
		    	&:hover{color: $theme-color-default;}
		    }
		    &:last-child{border-color: transparent!important;}
		}
	}
	.pretext p{margin: 0;}
	.carousel-controls{top: -30px; width: 45px!important;}
	.carousel-control.right, .carousel-control.left{
		width: 20px!important;
	    height: 20px!important;
	    line-height: 18px!important;
	    font-size: 14px!important;
	    @include opacity(1);
	    visibility: visible;
	}
	.tab-content{margin-bottom: -1px;}
}

.categorytabs{
	border: 1px solid $border-color;
	.block-content{padding: 0!important;}
	.carousel-controls{display: none;}
	.first.product-col{border: 0;}
	.tab-nav{
		position: absolute;
		top: 10px;
		@include rtl-right(0);
	}
	.nav-tabs > li{
		margin-bottom: 0!important;
		@include rtl-float-left();
		> a{
			text-transform: uppercase;
			font-size: $font-size-base - 2;
		}
	}
	.nav-tabs{margin: 0; border: 0; padding: 0;}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
		border-color: transparent; 
		background: transparent;
	}
	.nav > li > a:hover, .nav > li > a:focus{background: transparent; border-color: transparent;}
	.owl-theme .owl-controls .owl-buttons div{
		background: #f8f8f8!important;
                border: 0!important;
                cursor: pointer;
                width: 30px!important;
                height: 30px!important;
                line-height: 30px!important;
                margin: 0 3px 0 0!important;
                font-size: 12px!important;
                border-radius: 0!important;
                color: #ccc!important;
                &:hover {
                    color:$theme-color-default!important;
        }
	}
}

.block-danger.categorytabs{
	border:0;
	.block-title{display: none;}
	.block-content{padding: 0;}
	.tab-nav{
		position: relative;
		top: 0;
		border-bottom: 1px solid $border-color;
		ul{padding: 0;}
	}
	.tab-content{@include rtl-border-right(1px solid $border-color); border-bottom: 1px solid $border-color;}
	.first.product-col{@include rtl-border-left(1px solid $border-color);}
	.owl-controls{
		position: absolute;
		top: -42px;
		@include rtl-right(0);
	}
	.carousel-controls{display: block;}
	.nav-tabs > li > a{
		background: #f8f8f8;
		color: #444;
		font-size: $font-size-base + 3;
		font-weight: 600;
		padding: 15px 30px;
		@include rtl-margin-right(3px);
	}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
		background: $theme-color-default;
		color: $white;
	}
	.nav > li > a:hover, .nav > li > a:focus{background: $theme-color-default; color: $white;}
}

.promotional{
    color: $white;
    line-height: 20px;
    margin-bottom: 30px;
    .media > .pull-left{
    	margin-top: 3px;
    	@include rtl-margin-right(10px);
    }
    .abs{
        > .col-inner{padding: 30px 12%;}
        &:hover{
            img{
                -webkit-animation-name: hvr-icon-pop;
              animation-name: hvr-icon-pop;
              -webkit-animation-duration: 0.4s;
              animation-duration: 0.4s; 
              -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
              -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1;
            }
        }
        a:hover{text-decoration: underline;}
    }
    .abs1{
    	background: #e1ce7a;
    	h3, a{color: #8f7e52;}
    }
    .abs2{
    	background: #fbffb9;
    	h3, a{color: #8c615a;}
    }
    .abs3{
    	background: #fdd692;
    	h3, a{color: #856151;}
    }
    .abs4{
    	background: #ec7357;
    	h3, a{color: #f5db90;}
    }
    .abs5{
    	background: #754f44;
    	h3, a{color: #bfb0ab;}
    }
    .block{background: transparent; margin: 0!important;}
    h3{
        font-weight: 600;
        line-height: normal;
        a{
            color: $white;
            &:hover{text-decoration: underline;}
        }
    }
}