<?php
$processor = Mage::helper('cms')->getPageTemplateProcessor();
$helper = Mage::helper('ves_faq');
$questions = $this->getQuestionsApprove();
$size = $questions->getSize();
$show_pager = $this->getConfig('show_pager', 'product_page');
$show_category = $this->getConfig('show_category_info', 'product_page' , 1);
$show_category_filter = $this->getConfig('show_category_filter', 'product_page' , 0);
$show_author = $this->getConfig('show_author', 'product_page' , 1);
$show_author_date = $this->getConfig('show_author_date', 'product_page' , 1);

?>
<div class="my-question">
	<div class="page-title">
		<h1><?php echo $this->__('My Questions'); ?></h1>
	</div>
	<div class="box-account box-question">
		<?php 
			if($this->getQuestionsApprove()->getSize() <= 0 && $this->getQuestionsPendding()->getSize() <= 0){
				?>
				<div class="no-result"><?php echo $this->__("No Questions Found!");?></div>
				<?php
			}
		?>

		<?php if($questions->getSize()>0){ ?>
		<div class="box-head">
			<h2><?php echo $this->__('Approve questions'); ?></h2>
		</div>
		<div class="col2-set">
			<?php
			foreach ($questions as $_question) {
				$id = rand().time();
				?>
				<div class="faq-question question-<?php echo $_question->getQuestionId(); ?> question-row">
					<div class="faq-question-title">
						<a data-toggle="collapse" data-parent="#faq-<?php echo $id; ?>" href="#faq-collapseOne<?php echo $_question->getQuestionId().$id; ?>">
							<?php echo $_question->getTitle(); ?>
						</a>
					</div>
					<div id="faq-collapseOne<?php echo $_question->getQuestionId().$id; ?>" class="panel-collapse collapse out">

						<div class="question-description">
							<?php $description_question = $processor->filter($_question->getDescription());
							if($description_question!=''){
								echo $description_question;
							}
							?>
						</div>

						<?php
						$product = Mage::getModel('catalog/product')->load($_question->getProductId());
						?>
						<?php if($product){ ?>
						<div class="product-answer">
							<?php echo $this->__('On Product: ') ?>
							<a href="<?php echo $product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($product->getName()) ?>"><?php echo $product->getName(); ?></a>
						</div>
						<?php } ?>

						<div class="faq-answers">
							<?php
							$question_content = $processor->filter($_question->getDefaultAnswer());
							?>
							<?php if($question_content!=''){ ?>
							<div class="faq-answer" id="answer-<?php echo $_question->getQuestionId().$id; ?>">
								<div class="faq-answer-content">
									<?php echo $question_content; ?>
								</div>
							</div>
							<?php } ?>
							<?php if( $show_category && $_question->getCategoryId() ){ ?>
							<div class="question-category-info">
								<span><?php echo $this->__("Category: ") ?></span><a href="<?php echo $helper->getCategoryLink($_question->getCategoryId()); ?>" title=""><?php echo $this->getCategoryTitle($_question->getCategoryId()); ?></a>
							</div>
							<?php } ?>
							<?php if($show_author_date): ?>
							<div class="answer-date">
								<?php echo $this->__('Poster by: ').'<strong><i>'.$_question->getAuthorName().'</i></strong>'; ?>
								<?php echo $this->__('on'); ?>
								<strong>
								<i>
								<?php $_ct= new Zend_Date( $_question->getCreatedAt() ); ?>
								<span class="day"><?php echo $_ct->toString('dd');?></span>
								<span class="month"><?php echo $_ct->toString('MMM');?></span>
								<span class="year"><?php echo $_ct->toString('YYY');?></span>
								</i>
								</strong>
							</div>
							<?php endif; ?>

							<?php $answers = $_question->getData('answers'); ?>
							<?php if( $answers && $answers->getSize()>0 ){ 
								$id = rand().time();
								?>
								<?php foreach ($answers as $_answers): ?>
									<div class="faq-answer" id="answer-<?php echo $_answers->getAnswerId().$id; ?>">
										<div class="faq-answer-content">
											<?php
											$answer_content = $processor->filter($_answers->getAnswerContent());
											echo $answer_content;
											?>
										</div>
										<div class="answer-date">
											<?php echo $this->__('Poster by: ').'<strong><i>'.$_answers->getAuthorName().'</i></strong>'; ?>
											<?php echo $this->__('on'); ?>
											<strong>
											<i>
											<?php $_ct= new Zend_Date( $_answers->getCreatedAt() ); ?>
											<span class="day"><?php echo $_ct->toString('dd');?></span>
											<span class="month"><?php echo $_ct->toString('MMM');?></span>
											<span class="year"><?php echo $_ct->toString('YYY');?></span>
											</i>
											</strong>
										</div>
									</div>
								<?php endforeach; ?>
								<?php } ?>
							</div>
						</div>
					</div>
					<?php } ?>
				</div>
				<?php } ?>

				<?php if($this->getQuestionsPendding()->getSize()>0){ ?>
				<div class="box-account box-question">
					<div class="box-head">
						<h2><?php echo $this->__('Pendding questions'); ?></h2>
					</div>
					<div class="col2-set">
						<?php $processor = Mage::helper('cms')->getPageTemplateProcessor(); ?>
						<?php
						foreach ($this->getQuestionsPendding() as $_question) {
							$id = rand().time();
							?>
							<div class="faq-question question-<?php echo $_question->getQuestionId(); ?> question-row">
								<div class="faq-question-title">
									<a data-toggle="collapse" data-parent="#faq-<?php echo $id; ?>" href="#faq-collapseOne<?php echo $_question->getQuestionId().$id; ?>">
										<?php echo $_question->getTitle(); ?>
									</a>
								</div>
								<div id="faq-collapseOne<?php echo $_question->getQuestionId().$id; ?>" class="panel-collapse collapse out">

									<div class="question-description">
										<?php $description_question = $processor->filter($_question->getDescription());
										if($description_question!=''){
											echo $description_question;
										}
										?>
									</div>

									<?php
									$product = Mage::getModel('catalog/product')->load($_question->getProductId());
									?>
									<?php if($product){ ?>
									<div class="product-answer">
										<?php echo $this->__('On Product: ') ?>
										<a href="<?php echo $product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($product->getName()) ?>"><?php echo $product->getName(); ?></a>
									</div>
									<?php } ?>

									<div class="faq-answers">
										<?php
										$question_content = $processor->filter($_question->getDefaultAnswer());
										?>
										<?php if($question_content!=''){ ?>
										<div class="faq-answer" id="answer-<?php echo $_question->getQuestionId().$id; ?>">
											<div class="faq-answer-content">
												<?php echo $question_content; ?>
											</div>
										</div>
										<?php } ?>
										<?php if( $show_category && $_question->getCategoryId() ){ ?>
											<div class="question-category-info">
												<span><?php echo $this->__("Category: ") ?></span><a href="<?php echo $helper->getCategoryLink($_question->getCategoryId()); ?>" title=""><?php echo $this->getCategoryTitle($_question->getCategoryId()); ?></a>
											</div>
											<?php } ?>
											<?php if($show_author_date): ?>
											<div class="answer-date">
												<?php echo $this->__('Poster by: ').'<strong><i>'.$_question->getAuthorName().'</i></strong>'; ?>
												<?php echo $this->__('on'); ?>
												<strong>
												<i>
												<?php $_ct= new Zend_Date( $_question->getCreatedAt() ); ?>
												<span class="day"><?php echo $_ct->toString('dd');?></span>
												<span class="month"><?php echo $_ct->toString('MMM');?></span>
												<span class="year"><?php echo $_ct->toString('YYY');?></span>
												</i>
												</strong>
											</div>
										<?php endif; ?>
										<?php $answers = $_question->getData('answers'); ?>
										<?php if( $answers && $answers->getSize()>0 ){ 
											$id = rand().time();
											?>
											<?php foreach ($answers as $_answers): ?>
												<div class="faq-answer" id="answer-<?php echo $_answers->getAnswerId().$id; ?>">
													<div class="faq-answer-content">
														<?php
														$answer_content = $processor->filter($_answers->getAnswerContent());
														echo $answer_content;
														?>
													</div>
													<div class="answer-date">
														<?php echo $this->__('Poster by: ').'<strong><i>'.$_answers->getAuthorName().'</i></strong>'; ?>
														<?php echo $this->__('on'); ?>
														<strong>
														<i>
														<?php $_ct= new Zend_Date( $_answers->getCreatedAt() ); ?>
														<span class="day"><?php echo $_ct->toString('dd');?></span>
														<span class="month"><?php echo $_ct->toString('MMM');?></span>
														<span class="year"><?php echo $_ct->toString('YYY');?></span>
														</i>
														</strong>
													</div>
												</div>
											<?php endforeach; ?>
											<?php } ?>
										</div>
									</div>
								</div>
								<?php } ?>
							</div>
						</div>
						<?php } ?>
					</div>
				</div>