.vestestimonial-block {
    margin-bottom: 20px;
}
.vestestimonial-block .block-title {
    border-bottom: 1px solid #e4e5e7;
}
.vestestimonial-block .block-title span {
    border: 0 none;
    color: #7bbd42;
    font-weight: bold;
    text-transform: uppercase;
}
.vestestimonial-block div.post-image {
    float: left;
    padding-right: 20px;
    width: 50%;
}
.vestestimonial-block .testimonial-item {
    overflow: hidden;
    padding: 15px;
}
.vestestimonial-block .testimonial-item h4 {
    font-weight: normal;
}
.vestestimonial-block .testimonial-item h4 a:hover {
    color: #7bbd42;
}
.vestestimonial-block .testimonial-item .blog-meta, .vestestimonial-block .testimonial-item .blog-readmore {
    margin: 5px 0;
}
.vestestimonial-block .blog-readmore a:hover {
    color: #7bbd42;
}


.vestestimonial-block .testimonial-item a.carousel-control {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    position: relative;
    color: #999999;
    float: left;
    font-size: 15px;
    height: 30px;
    line-height: 28px;
    margin-left: 5px;
    opacity: 0.4;
    position: static;
    text-shadow: none;
    width: 30px;
    text-align: center;
}

.vestestimonial-block .testimonial-item a.carousel-control:before {
    border: 1px solid #999;
    content: "";
    left: 0;
    position: absolute;
    top: 0;
    /*transform: rotate(45deg);*/
}
a.carousel-control:hover, a.carousel-control:focus {
    border-color: #999999;
    color: #444444;
    opacity: 1;
}
.testimonial-item  .testimonial-social i {
    color: #bbbbbb;
    font-size: 12px;
    text-transform: capitalize;
}
.testimonial-item .testimonial-social a.carousel-control:hover i {
    color: #444444;
}

.testimonial-item .post-image {
    padding-bottom: 10px;
}
.testimonial-item .name {
    color: #333;
    font-size: 16px;
}

.testimonial-item .title {
    color:#b5b5b5;
    font-size: 13px;
}