<?php
$products = $this->getRelatedProducts();
$moduleId = rand().time();
$limit =  (int)$this->getPostConfig( "post_showrelatedproductlimit" );
$items_perpage =  (int)$this->getPostConfig( "post_product_perpage" );
$show_image =  (int)$this->getPostConfig( "post_product_showimage" );
$show_buttons =  (int)$this->getPostConfig( "post_product_showactions" );
$show_block_title  = (int)$this->getPostConfig( "post_product_show_blocktitle" );
$show_block_title = !empty($show_block_title)?(int)$show_block_title:1;
$show_name =  (int)$this->getPostConfig( "post_product_showtitle" );
$show_price =  (int)$this->getPostConfig( "post_product_showprice" );
$show_rating =  (int)$this->getPostConfig( "post_product_showrating" );
$imgWidth =  (int)$this->getPostConfig( "post_product_imagewidth" );
$imgHeight =  (int)$this->getPostConfig( "post_product_imageheight" );
$enable_sale_icon =  (int)$this->getPostConfig( "post_product_enable_sale_icon" );
$enable_sale_icon = $enable_sale_icon?$enable_sale_icon:0;
$enable_new_icon =  (int)$this->getPostConfig( "post_product_enable_new_icon" );
$enable_new_icon = $enable_new_icon?$enable_new_icon:0;

$_helper = $this->helper('catalog/output');
$auto_play_mode  = (int)$this->getPostConfig( "post_product_autoplay" );
$auto_play_mode = $auto_play_mode?$auto_play_mode:0;
$navigation = 1;
$interval  = (int)$this->getPostConfig( "interval" );
//echo $interval;
$interval = !empty($interval)?$interval:800;
$prefix  = $this->getPostConfig( "prefix" );
if($products):
$total = $products->getSize();
$total = ($total > $limt)?$limit:$total;
?>
<div class="block ves-post-related-product owl-related-blog-product <?php echo $prefix; ?>" id="relatedProducts<?php echo $moduleId; ?>">
	<?php if($show_block_title){ ?>
	<div class="block-title">
		<strong><span><?php echo $this->__("Related Products"); ?> </span></strong>
	</div>
	<?php } ?>
	<div class="block-content">
		<div class="box-vesblog owl-carousel" id="vesBlogRelatedProductsCarousel<?php echo $moduleId;?>">
			<?php $i = 0;?>
			<?php foreach( $products as $_product ): $i++?>
				<div class="product-item products-grid no-margin <?php if($i == 1){echo "first";}  if($i%$total == 0){echo "last";} ?>">
					<div class="product-block">
						<div class="image">
							<?php if($enable_sale_icon || $enable_new_icon){ ?>
							        <div class="icon">
							            <?php  //Sale Icon ?>
							            <?php
							            if($enable_sale_icon) {
							                    // Get the Special Price
							                $specialprice = $_product->getSpecialPrice();
							                    // Get the Special Price FROM date
							                $specialPriceFromDate = $_product->getSpecialFromDate();
							                    // Get the Special Price TO date
							                $specialPriceToDate = $_product->getSpecialToDate();
							                    // Get Current date
							                $today =  time();
							                if ($specialprice) {
							                    if($today >= strtotime( $specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime( $specialPriceFromDate) && is_null($specialPriceToDate)) {
							                        ?>
							                        <span class="onsale"><span><?php echo $this->__("Sale");?></span></span>
							                        <?php
							                    }
							                }
							            }
							            ?>
							            <?php // New icon ?>
							            <?php
								        if($enable_new_icon) {
								                $is_new = Mage::helper("ves_blog")->checkProductIsNew( $_product );
								                if($is_new) { ?>
								                <span class="new-icon"><span><?php echo $this->__("New");?></span></span>
								                <?php
								            }
								        }
								        ?>
							    	</div>
							<?php } ?>
							<div class="product-image">
								<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>">
						            <img id="product-collection-image-<?php echo $_product->getId(); ?>"
						            src="<?php echo Mage::helper("ves_blog")->getImg($_product, $imgWidth, $imgHeight, 'small_image'); ?>"
						            alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
						        </a>
							</div>
						</div>
						<div class="product-info">
							<?php if($show_buttons){ ?>
							<div class="actions">
								<?php if($_product->isSaleable()){ ?>
								<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
								<?php } else { ?>
								<p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
								<?php } ?>
								<ul class="add-to-links">
				                    <?php if ($this->helper('wishlist')->isAllow()) : ?>
				                        <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"> <i class="fa fa-heart-o"></i> <span> <?php echo $this->__('Add to Wishlist') ?> </span> </a></li>
				                    <?php endif; ?>
				                    <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
				                        <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"> <i class="fa fa-files-o"></i> <span><?php echo $this->__('Add to Compare') ?> </span> </a></li>
				                    <?php endif; ?>
				                </ul>
							</div>
							<?php } ?>
							<?php // Name Block ?>
					        <?php if ($show_name ){ ?>
					        	<?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
					            <h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h3>
	        				<?php } ?>

	        				<?php // Price Block ?>
					        <?php if ($show_price){ ?>
					        <?php echo $this->getPriceHtml($_product, true) ?>
					        <?php } ?>

					        <?php // Rating Block ?>
					        <?php if ($show_rating){ ?>
					        <?php echo $this->getReviewsSummaryHtml($_product, true, true) ?>
					        <?php } ?>
						</div>
					</div>
				</div>
			<?php endforeach; ?>
		</div>
	</div>
</div>
<script type="text/javascript">
	jQuery(window).load(function() {
		var owl = jQuery('#vesBlogRelatedProductsCarousel<?php echo $moduleId;?>');
		owl.owlCarousel({
			autoPlay: <?php echo $auto_play_mode?'true':'false';?>,
			slideSpeed: <?php echo $interval?(int)$interval:'500';?>,
			autoplayHoverPause: true,
			lazyLoad: false,
			navigationText: ["<span class='fa fa-angle-left'></span>","<span class='fa fa-angle-right'></span>"],
			slideBy: 1,
			loop: true,
			margin: 0,
			navigation: <?php echo (1 == $navigation)?'true':'false'; ?>,
			rtl: false,
			mouseDrag: true,
			touchDrag: true,
			autoWidth: false,
			responsive: true,
			items: <?php echo $items_perpage?(int)$items_perpage:1; ?>,
            itemsDesktop : [1199,<?php echo $items_perpage?(int)$items_perpage:1; ?>], //4 items between 1199px and 980px
            itemsDesktopSmall : [979, 3], //3 items betweem 979px and 769px
            itemsTablet: [768, 2], //2 items between 768px and 641px
            itemsTabletSmall : [640, 2], //2 items between 641px and 480px
            itemsMobile : [479, 2] // itemsMobile disabled - inherit from itemsTablet option
        });
});
</script>
<?php endif; ?>