<!--@subject Ves FAQ Form@-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var data.name":"Sender Name",
"var data.email":"Sender Email",
"var data.product_name":"Product Name",
"var data.product_url":"Product Url",
"var data.product_image":"Product Image",
"var data.product_price":"Product Price",
"var data.product_special_price":"Product Special Price",
"var data.product_sku":"Product SKY",
"var data.category_name":"Category Name",
"var data.category_url":"Category Url",
"var data.ip_address":"Ip Address"}
@-->
<!--@subject Question subscription success @-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h4>Hello {{var data.author_name}}, you just received a question on site.</h4>
            {{depend data.product_sku}}
            <table cellspacing="0" cellpadding="0" class="message-container">
                <tr>
                    <td>Questions: {{var data.question_title}}</td>
                </tr>
                <tr>
                    <td>Product Name: <a href="{{var data.product_url}}">{{var data.product_name}}</a></td>
                </tr>
                <tr>
                    <td>Category: <a href="{{var data.category_url}}">{{var data.category_name}}</a></td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}