<?php
$id = rand().time();
$questions = $this->getCollection();
$category = $this->getCategory();
$processor = Mage::helper('cms')->getPageTemplateProcessor();
$size = $questions->getSize();
?>
<div class="question-list">
	<div class="question-wrapper">
		<div class="faq-category-title"><h1><?php echo $category->getName(); ?></h1></div>
		<?php $category_content = $processor->filter($category->getDescription()); ?>
		<?php if($category_content!=''){ ?>
		<div class="faq-category-description">
			<?php echo $category_content; ?>
		</div>
		<?php } ?>

		<?php if($size>0){ ?>
		<div class="toolbar product-filter clearfix">
			<?php echo $this->getPagerHtml() ?>
		</div>
		<?php } ?>

		<div class="page-content vesclear">

			<!-- Questions -->
			<?php if( !empty($questions) && $size > 0 ){ ?>
			<div id="faq-question-<?php echo $id ?>" class="faq-question-block">

				<?php if($this->getConfig('show_pager', 'faq_page')){ ?>
				<div class="toolbar product-filter clearfix">
					<?php echo $this->getPagerHtml() ?>
				</div>
				<?php } ?>

				<?php foreach ($questions as $_question) { ?>
				<?php
				$default_answer = $processor->filter($_question->getDefaultAnswer());
				$answers = $_question->getData('answers');
				$description_question = $processor->filter($_question->getDescription());
				?>
				<div class="faq-question question-<?php echo $_question->getQuestionId(); ?> question-row">
					<div class="faq-question-title">
						<a data-toggle="collapse" data-parent="#faq-<?php echo $id; ?>"  href="#faq-collapseOne<?php echo $_question->getQuestionId().$id; ?>">
							<?php echo $_question->getTitle(); ?>
						</a>
						<?php if($default_answer == '' && ( $answers && $answers->getSize() > 0 ) == '' && $description_question == ''){ ?>
						<span class="faq-noanswer"><?php echo $this->__('(Not Answerred)'); ?></span>
						<?php } ?>
					</div>
					<?php if($default_answer != '' || ( $answers && $answers->getSize() > 0 )  || $description_question != ''){ ?>
					<div id="faq-collapseOne<?php echo $_question->getQuestionId().$id; ?>" class="panel-collapse collapse out">
						<?php if( $description_question != '' ){ ?>
						<div class="question-description">
							<?php echo $description_question; ?>
						</div>
						<?php } ?>
						<?php if(( $answers && $answers->getSize() > 0 ) || $default_answer != ''){ ?>
						<div class="faq-answers">
							<?php if( $default_answer != '' ){ ?>
							<div id="answer-<?php echo $_question->getQuestionId().$id; ?>" class="faq-answer" >
								<div class="faq-answer-content">
									<?php echo $default_answer; ?>
								</div>
								<div class="answer-date">
									<?php echo $this->__('Poster by: ').$_question->getAuthorName(); ?>
									&nbsp;<?php echo $this->__('on'); ?>&nbsp;
									<?php $_ct= new Zend_Date( $_question->getCreatedAt(), MYSQL_DATETIME, Mage::app()->getLocale()->getLocaleCode()); ?>
									<span class="day"><?php echo $_ct->toString('dd');?></span>
									<span class="month"><?php echo $_ct->toString('MMM');?></span>
									<span class="year"><?php echo $_ct->toString('YYY');?></span>
								</div>
							</div>
							<?php } ?>

							<?php if( $answers && $answers->getSize()>0 ){ ?>
							<?php foreach ($answers as $_answers){ $id = rand().time(); ?>
							<div class="faq-answer" id="answer-<?php echo $_answers->getAnswerId().$id; ?>">
								<?php $answer_content = $processor->filter($_answers->getAnswerContent()); ?>
								<?php if( $answer_content != ''){ ?>
								<div class="faq-answer-content">
									<?php echo $answer_content; ?>
								</div>
								<?php } ?>
								<div class="answer-date">
									<?php echo $this->__('Poster by: ').$_answers->getAuthorName(); ?>
									&nbsp;<?php echo $this->__('on'); ?>&nbsp;
									<?php $_ct= new Zend_Date( $_answers->getCreatedAt(), MYSQL_DATETIME ); ?>
									<span class="day"><?php echo $_ct->toString('dd');?></span>
									<span class="month"><?php echo $_ct->toString('MMM');?></span>
									<span class="year"><?php echo $_ct->toString('YYY');?></span>
								</div>
							</div>
							<?php } ?>
							<?php } ?>
						</div>
						<?php } ?>
					</div>
					<?php } ?>
				</div>
				<?php } ?>
			</div>
			<?php }else{ ?>
			<?php echo $this->__('Collection is empty'); ?>
			<?php } ?>
			<!-- Questions -->

			<br class="clear clr" style="clear:both;"/>
		</div>
	</div>
</div>