<?php
$list_image_width = (int)$this->getConfig("image_width", 300);
$list_image_height = (int)$this->getConfig("image_height", 300);
$swap_image_number = (int)$this->getConfig("swap_image_number", 0);

$popup_quickview_width = $this->getConfig("popup_quickview_width", "60%");
$popup_quickview_height = $this->getConfig("popup_quickview_height", "80%");

$enable_pzoom = $this->getConfig("show_pzoom");
$enable_new_icon = $this->getConfig("enable_new_icon");
$enable_sale_icon = $this->getConfig("enable_sale_icon");
$show_title = $this->getConfig('show_title');
$enable_short_desc = $this->getConfig('show_desc');
$show_review = $this->getConfig('show_review');
$show_price = $this->getConfig('show_price');
$show_addcart = $this->getConfig("show_btn");
$show_compare_wishlist = $this->getConfig("show_wc") ;
$quickview = $this->getConfig("enable_quickview");
$swap_image = $this->getConfig("enable_swap");
$show_tab_title = $this->getConfig('show_tab_title');

$moduleid = rand().time();
$itemsperpage = (int)$this->getConfig("itemspage",4);
$auto_play_mode = (int)$this->getConfig("auto_play");

$title_maxchar = (int)$this->getConfig("title_maxchar");
$title_maxchar = $title_maxchar > 0 ?$title_maxchar: 100;
$desc_maxchar = (int)$this->getConfig("desc_maxchar");
$desc_maxchar = $desc_maxchar > 0 ?$desc_maxchar: 100;
$interval = (int)$this->getConfig("interval");

$auto_play = $auto_play_mode?"true":"false";
$cols = (int)$this->getConfig("itemsrow");
$cols = !empty($cols)?$cols:1;
$span = floor(12/$cols);
$active = 'news';

$qty =  $this->getConfig('quanlity', 5);
$show_tab_icon = $this->getConfig('show_tab_icon', 'image');
$quickview = $this->getConfig("enable_quickview");
$swap_image = $this->getConfig("enable_swap");
$icon_width = $this->getConfig('icon_width',50);
$icon_height = $this->getConfig('icon_height',50);
$class_prefix =  $this->getConfig("prefix", 50);
$current = 0;

$modid = rand(1,9)+rand();
$modid = $modid.time();

$modid1 = rand(1,9)+rand();
$modid1 = $modid1.time();


$price_prefix = "_vestab_".$modid.time();
$_helper = $this->helper('catalog/output');
$tab_index = $this->getConfig("tab_index", "");
?>
<div <?php if($tab_index): ?> data-index="<?php echo $tab_index; ?>" data-icon="<?php echo $this->getConfig('tab_icon') ?>" data-title="<?php echo $this->getConfig('title'); ?>" <?php endif; ?> class="<?php echo $this->getConfig('prefix');?> block categorytabs categorytab block-primary <?php if($tab_index): ?> floor-fixed-panel-play <?php endif; ?>" id="categorytab<?php echo $modid;?>">

	<?php if($this->getConfig('title') || ($pretext=$this->getConfig("pretext")) || isset($cms)) { ?>
	<div class="block-title">
		<?php if($this->getConfig('title')) { ?>
		<h3><?php echo $this->getConfig('title') ?></h3>
		<?php } ?>
		<?php if( ($pretext=$this->getConfig("pretext")) && !isset($cms) ) { ?>
		<div class="pretext"><?php echo $pretext; ?></div>
		<?php } elseif(isset($cms)) {
			?>
			<div class="pretext"><?php echo $cms; ?></div>
			<?php
		} ?>
	</div>
	<?php } ?>

	<?php if(!empty($items)) { ?>
	<div class="tab-nav">
		<ul class="nav nav-tabs" id="categorytab<?php echo $modid1;?>">
			<?php $x = 1; $navStyle = ''; $navClass = '';
			foreach($items as $item) { ?>
			<?php
			$icon = "";

			if( $this->getConfig('show_number_tab',3) >= 1 && $x > $this->getConfig('show_number_tab',3) ){ $navStyle = 'style="display: none;"'; $navClass = 'class="catShow"'; }

			if($show_tab_icon) {
				$icon = $this->getCategoryImage( $item['category_id'], $icon_width, $icon_height );
			}
			?>
			<?php $class = '';
			if(isset($tabClass[$x]) && $tabClass[$x] != ''){ $class .= $tabClass[$x]; }
			$class .= ' btntabs ';

			if($class != ''){
				$class = 'class = "'.$class.'"';
			}
			?>
			<li <?php echo $navStyle; ?> <?php echo $navClass; ?>><a href="#categorytab-<?php echo $item['category_id'].$modid;?>" data-source="<?php echo $item['source'] ?>" data-cat_id="<?php echo $item['category_id']; ?>" data-toggle="tab" <?php echo $class; ?>><?php if($show_tab_icon && $icon) { ?>
				<img src="<?php echo $icon; ?>" class="hidden-sm hidden-xs pull-left"/>
				<?php } ?><?php if($this->getConfig('show_tab_title')): ?>
				<?php echo $this->htmlEscape( $item['title'] ); ?>
			<?php endif; ?></a></li>

			<?php $x++; } ?>
		</ul>
		<div class="clickCat-btn">
			<a href="javascript:void(0);" class="plus-icon"><i class="fa fa-plus-circle"></i></a>
		</div>
	</div>


	<div class="tab-content">
		<?php $i=0;
		foreach( $items as $tab => $item ) { ?>
		<div class="tab-pane box-products" id="categorytab-<?php echo $item['category_id'].$modid;?>" style="min-height: 300px;">

			<ul class="nav nav-tabs">
				<li><a href="#categorychildtab-<?php echo $item['category_id'].$modid;?>" data-toggle="tab">
					<?php echo $this->getLabel($this->getConfig('source_products_mode')) ?>
				</a></li>
				<li><a href="#categorychildtab2-<?php echo $item['category_id'].$modid;?>" data-toggle="tab">
					<?php echo $this->getLabel($this->getConfig('source_type')); ?>
				</a></li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane box-products carousel categorytabcarousel3<?php echo $modid; ?> slide" id="categorychildtab-<?php echo $item['category_id'].$modid;?>" style="min-height: 300px;">
					<div class="carousel-controls">
						<a class="carousel-control left" href="#categorychildtab-<?php echo $item['category_id'].$modid;?>"   data-slide="prev">&lsaquo;</a>
						<a class="carousel-control right" href="#categorychildtab-<?php echo $item['category_id'].$modid;?>"  data-slide="next">&rsaquo;</a>
					</div>
					<div class="carousel-inner ">
						<?php if( isset($item['products']) && $item['products'] ) { $products = $item['products']; ?>
						<?php $products = $products->getItems(); ?>
						<?php
						$pages = array_chunk( $products, $itemsperpage);
						$price_prefix = $price_prefix."_".$tab;
						?>
						<?php foreach ($pages as  $k => $_productCollection ) {  ?>
						<div class="item <?php if($k==0) {?>first<?php } elseif($k == (count($pages) -1 )) {?>last<?php } ?> <?php if($k==0) { ?>active<?php } ?> products-grid no-margin">

							<?php if($product_module_path = Mage::helper("ves_tempcp/framework")->getLayoutPath("product_module.phtml")) { ?>
								<?php require ($product_module_path); ?>
								<?php } ?>
							</div>
							<?php } ?>
							<?php } ?>
						</div>
					</div>

					<div class="tab-pane box-products carousel categorytabcarousel2<?php echo $modid; ?> slide" id="categorychildtab2-<?php echo $item['category_id'].$modid;?>" style="min-height: 300px;">
						<div class="carousel-controls">
							<a class="carousel-control left" href="#categorychildtab2-<?php echo $item['category_id'].$modid;?>"   data-slide="prev">&lsaquo;</a>
							<a class="carousel-control right" href="#categorychildtab2-<?php echo $item['category_id'].$modid;?>"  data-slide="next">&rsaquo;</a>
						</div>
						<div class="carousel-inner productslist">
							<?php if( isset($item['blockProducts']) && $item['blockProducts'] ) { $products = $item['blockProducts']; ?>
							<?php $products = $products->getItems(); ?>
							<?php
							$pages = array_chunk( $products, $itemsperpage);
							$price_prefix = $price_prefix."_".$tab;

							$list_image_width = $this->getConfig('thumbwidth_childblock',150);
							$list_image_height = $this->getConfig('thumbheight_childblock',130);
							?>
							<?php foreach ($pages as  $k => $_productCollection ) {  ?>
							<div class="item <?php if($k==0) {?>first<?php } elseif($k == (count($pages) -1 )) {?>last<?php } ?> <?php if($k==0) { ?>active<?php } ?> products-grid no-margin">
								<?php if($product_module_path = Mage::helper("ves_tempcp/framework")->getLayoutPath("product_module.phtml")) { ?>
									<?php require ($product_module_path); ?>
									<?php } ?>
								</div>
								<?php } ?>
								<?php } ?>
							</div>
						</div>
					</div>
				</div>
				<?php } ?>
			</div>
			<script type="text/javascript">
				jQuery(function () {
					jQuery('#categorytab<?php echo $modid;?> .nav-tabs li:first-child a').tab('show');
					jQuery('.categorytabcarousel3<?php echo $modid;?>').carousel({interval:false,auto:false,pause:'hover'});

					jQuery('.categorytabcarousel2<?php echo $modid;?>').carousel({interval:false,auto:false,pause:'hover'});
				})</script>
				<script type="text/javascript">
					function ajaxGetProductsTab<?php echo $modid;?>(source_type, page, moduleid, categoryid, blockid){
						var url = "<?php echo Mage::getUrl('tabs/index/ajax', array(
            '_secure' => Mage::app()->getStore()->isCurrentlySecure())); ?>";
						var dataAjax = {source_type: source_type,
							page: page,
							moduleid: moduleid,
							catsid: categoryid,
							blockid: blockid,
							wg: "<?php echo isset($attributes)?$attributes:''; ?>"
						};
						jQuery.ajax({
							url: url,
							dataType: 'json',
							type: 'post',
							data: dataAjax,
							success: function(data_response){
								jQuery('#'+data_response.moduleid+' #'+data_response.blockid).removeClass('wait');

								jQuery('#'+data_response.moduleid+' #'+data_response.blockid+' .carousel-controls').css({display: 'block'});

								jQuery('#'+data_response.moduleid+' #'+data_response.blockid+' .productslist').hide().append(data_response.productslist).fadeIn(1000);

								if(typeof(data_response.rows)!='undefined'){
									jQuery('#'+data_response.moduleid+' #'+data_response.blockid+' .carousel-inner:first').hide().append(data_response.rows).fadeIn(1000);
								}
							},
						});
					}
					jQuery(document).ready(function() {
						var moduleid = 0;
						jQuery('#categorytab<?php echo $modid;?>').hover(function() {
							moduleid = jQuery(this).attr("id");
						}, function() {
							moduleid = 0;
						});
						var c = 0;
						jQuery('#categorytab<?php echo $modid;?> .clickCat-btn a').bind('click',function(){
							jQuery('#categorytab<?php echo $modid;?> .clickCat-btn i').remove();
							if( c % 2 == 0 ){
								jQuery(this).attr('class','minus-icon');
								jQuery(this).append('<i class="fa fa-minus-circle"></i>');
								jQuery('#categorytab<?php echo $modid;?> .nav-tabs .catShow').fadeIn(500);
							}else{
								jQuery(this).attr('class','plus-icon');
								jQuery(this).append('<i class="fa fa-plus-circle"></i>');
								jQuery('#categorytab<?php echo $modid;?> .nav-tabs .catShow').fadeOut(500);
							}
							c++;
						});
						jQuery(document).on('click', '#categorytab<?php echo $modid;?> .nav-tabs .btntabs', function() {
							var source_type = jQuery(this).attr('data-source');
							var page = 1;
							var blockid = jQuery(this).attr('href').replace('#','');
							var categoryid = parseInt(jQuery(this).attr('data-cat_id'));

							jQuery('#'+moduleid+' #'+blockid+' .carousel-controls').css({
								display: 'none'});
							jQuery(this).removeClass('btntabs');
							jQuery('#'+moduleid+' #'+blockid).addClass('wait');
							ajaxGetProductsTab<?php echo $modid;?>(source_type, page, moduleid, categoryid, blockid);
						});
						//Fire event click for first tab
						if(jQuery('#categorytab<?php echo $modid;?> .nav-tabs .btntabs').length > 0 ) {
							moduleid = jQuery('#categorytab<?php echo $modid;?>').first().attr("id");
							jQuery('#categorytab<?php echo $modid;?> .nav-tabs .btntabs').first().trigger("click");
						}
					});
</script>
<?php } ?>
</div>
