<?php
$products = $this->getRelatedProducts();
$moduleId = rand().time();
$limit =  (int)$this->getPostConfig( "post_showrelatedproductlimit" );
$items_perpage =  (int)$this->getPostConfig( "post_product_perpage" );
$show_image =  (int)$this->getPostConfig( "post_product_showimage" );
$show_buttons =  (int)$this->getPostConfig( "post_product_showactions" );
$show_block_title  = (int)$this->getPostConfig( "post_product_show_blocktitle" );
$show_block_title = !empty($show_block_title)?(int)$show_block_title:1;
$show_name =  (int)$this->getPostConfig( "post_product_showtitle" );
$show_price =  (int)$this->getPostConfig( "post_product_showprice" );
$show_rating =  (int)$this->getPostConfig( "post_product_showrating" );
$imgWidth =  (int)$this->getPostConfig( "post_product_imagewidth" );
$imgHeight =  (int)$this->getPostConfig( "post_product_imageheight" );
$enable_sale_icon =  (int)$this->getPostConfig( "post_product_enable_sale_icon" );
$enable_sale_icon = $enable_sale_icon?$enable_sale_icon:0;
$enable_new_icon =  (int)$this->getPostConfig( "post_product_enable_new_icon" );
$enable_new_icon = $enable_new_icon?$enable_new_icon:0;

$_helper = $this->helper('catalog/output');
$auto_play_mode  = (int)$this->getPostConfig( "post_product_autoplay" );
$auto_play_mode = $auto_play_mode?$auto_play_mode:0;
$navigation = 1;
$interval  = (int)$this->getPostConfig( "interval" );
//echo $interval;
$interval = !empty($interval)?$interval:800;
$prefix  = $this->getPostConfig( "prefix" );


//Custom just for ves bigmart
$helper = Mage::helper("ves_tempcp/framework")->getFramework( );
$themeConfig = $helper->getConfig();
if(!isset($profile)) {
    $profile = Mage::helper("ves_tempcp/framework")->getProfile();
}
$enable_pzoom = $themeConfig->get("category_pzoom", 0);
$popup_image_width = $themeConfig->get("popup_image_width", 600);
$popup_image_width = !empty($popup_image_width)?(int)$popup_image_width: 600;
$popup_image_height = $themeConfig->get("popup_image_height", 600);
$popup_image_height = !empty($popup_image_height)?(int)$popup_image_height: 600;
$ajax_cart = $themeConfig->get("enable_ajaxcart", 0);
$quickview = $themeConfig->get("enable_quickview", 0);
$popup_quickview_width = $themeConfig->get("popup_quickview_width", "60%");
$popup_quickview_height = $themeConfig->get("popup_quickview_height", "80%");
//End Custom just for ves bigmart


if($products):

$total = $products->getSize();
$total = ($total > $limt)?$limit:$total;
?>
<div class="block ves-post-related-product owl-related-blog-product <?php echo $prefix; ?>" id="relatedProducts<?php echo $moduleId; ?>">
	<?php if($show_block_title){ ?>
	<div class="block-title">
		<strong><span><?php echo $this->__("Related Products"); ?> </span></strong>
	</div>
	<?php } ?>
	<div class="block-content">
		<div class="box-vesblog owl-carousel" id="vesBlogRelatedProductsCarousel<?php echo $moduleId;?>">
			<?php $i = 0;?>
			<?php foreach( $products as $_product ): $i++?>
				<div class="product-item products-grid no-margin <?php if($i == 1){echo "first";}  if($i%$total == 0){echo "last";} ?>">
					<div class="product-block ">
						<div class="image">
							<?php if($enable_sale_icon || $enable_new_icon){ ?>
							        <div class="icon">
							            <?php  //Sale Icon ?>
							            <?php
							            if($enable_sale_icon) {
							                    // Get the Special Price
							                $specialprice = $_product->getSpecialPrice();
							                    // Get the Special Price FROM date
							                $specialPriceFromDate = $_product->getSpecialFromDate();
							                    // Get the Special Price TO date
							                $specialPriceToDate = $_product->getSpecialToDate();
							                    // Get Current date
							                $today =  time();
							                if ($specialprice) {
							                    if($today >= strtotime( $specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime( $specialPriceFromDate) && is_null($specialPriceToDate)) {
							                        ?>
							                        <span class="onsale"><span><?php echo $this->__("Sale");?></span></span>
							                        <?php
							                    }
							                }
							            }
							            ?>
							            <?php // New icon ?>
							            <?php
								        if($enable_new_icon) {
								                $is_new = Mage::helper("ves_blog")->checkProductIsNew( $_product );
								                if($is_new) { ?>
								                <span class="new-icon"><span><?php echo $this->__("New");?></span></span>
								                <?php
								            }
								        }
								        ?>
							    	</div>
							<?php } ?>
							<div class="product-image">
								<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>">
						            <img id="product-collection-image-<?php echo $_product->getId(); ?>"
						            src="<?php echo Mage::helper("ves_blog")->getImg($_product, $imgWidth, $imgHeight, 'small_image'); ?>"
						            alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
						        </a>
							</div>
						</div>
						<div class ="box-links">
							<?php // Wishlist & Compare ?>
                            <?php if($show_buttons){ ?>
                                <div class="link-compare hidden-xs hidden-sm">
                                    <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                                        <a href="<?php echo $_compareUrl ?>" title="<?php echo $this->__('Add to compare');?>"><i class="md md-repeat"></i></a>
                                    <?php endif; ?>
                                </div>
                                <div class="link-wishlist">
                                    <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                        <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" title="<?php echo $this->__('Add to wishlist');?>"><i class="md md-favorite-outline"></i></a>
                                    <?php endif; ?>
                                </div>
                            <?php } ?>

                            <?php // Image Popup ?>
                            <?php if( $enable_pzoom ){ ?>

                                <a  href="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($popup_image_width, $popup_image_height);?>" class="colorbox product-zoom" title="<?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>"> <i class="md md-add-circle-outline"></i> </a>
                            <?php } ?>

                            <?php // Quickview ?>
                            <?php if ($quickview) { ?>
                                <a class="a-quickview ves-colorbox" href="<?php echo Mage::helper("ves_tempcp")->getQuickviewURL( $_product->getId() ); ?>" title="<?php echo $this->__('Quickview');?>"><i class="fa fa-eye"></i></a>
                            <?php } ?>
                        </div>
                        <div class="product-meta product-shop product-info"> 
                        	<div class="left">
                        		<?php // Name Block ?>
						        <?php if ($show_name ){ ?>
						        	<?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
						            <h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h3>
		        				<?php } ?>

		        				<?php // Review & Rating ?>
		        				<?php if($show_rating) { ?>
	                            <?php echo $this->getReviewsSummaryHtml($_product, true, true)?>
								<?php } ?>

								<?php // Price ?>
								<?php if($show_price): ?>
                                <div class="product-price price" >
                                    <?php echo $this->getPriceHtml($_product, true, "vesrelatedproducts") ?>
                                </div>
                            	<?php endif; ?>
                        	</div>
                        	<?php // Add to cart ?>
                        	<?php if($show_buttons){ ?>
                        	<div class="right">
                                <?php if($_product->isSaleable()){ ?>
                                    <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="btn btn-shopping-cart" onclick="<?php if($ajax_cart) { ?>addToCart('<?php echo $this->getAddToCartUrl($_product) ?>')<?php } else { ?>setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')<?php } ?>"><span class="icon-cart">&nbsp;</span><span><?php echo $this->__('Add to cart') ?></span> </button>
                                    <?php } { ?>
                                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                <?php } ?> 
	                        </div>
							<?php } ?>
						</div>
					</div>
				</div>
			<?php endforeach; ?>
		</div>
	</div>
</div>
<script type="text/javascript">
	jQuery(window).load(function() {
		var owl = jQuery('#vesBlogRelatedProductsCarousel<?php echo $moduleId;?>');
		owl.owlCarousel({
			autoPlay: <?php echo $auto_play_mode?'true':'false';?>,
			slideSpeed: <?php echo $interval?(int)$interval:'500';?>,
			autoplayHoverPause: true,
			lazyLoad: false,
			navigationText: ["<span class='fa fa-angle-left'></span>","<span class='fa fa-angle-right'></span>"],
			slideBy: 1,
			loop: true,
			margin: 0,
			navigation: <?php echo (1 == $navigation)?'true':'false'; ?>,
			rtl: false,
			mouseDrag: true,
			touchDrag: true,
			autoWidth: false,
			responsive: true,
			items: <?php echo $items_perpage?(int)$items_perpage:1; ?>,
            itemsDesktop : [1199,<?php echo $items_perpage?(int)$items_perpage:1; ?>], //4 items between 1199px and 980px
            itemsDesktopSmall : [979, 3], //3 items betweem 979px and 769px
            itemsTablet: [768, 2], //2 items between 768px and 641px
            itemsTabletSmall : [640, 2], //2 items between 641px and 480px
            itemsMobile : [479, 2] // itemsMobile disabled - inherit from itemsTablet option
        });
});
</script>

<?php if( $enable_pzoom ) {  ?>
<script type="text/javascript"><!--
    jQuery(document).ready(function() {
        jQuery('.colorbox').colorbox({
            overlayClose: true,
            opacity: 0.5,
            rel: false,
            onLoad:function(){
                jQuery("#cboxNext").remove(0);
                jQuery("#cboxPrevious").remove(0);
                jQuery("#cboxCurrent").remove(0);
            }
        });
         
    });
    
//--></script>
<?php } ?>

<?php if ($quickview) { ?>
<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery(".ves-colorbox").colorbox({
                width: '<?php echo $popup_quickview_width; ?>', 
                height: '<?php echo $popup_quickview_height; ?>',
                overlayClose: true,
                opacity: 0.5,
                iframe: true, 
        });
        
    });
</script>
<?php } ?>
<?php endif; ?>