<?php
/*Start copy at here*/
/*framework: get current theme setting*/
$list_image_width = (int)$this->getConfig("image_width", 300);
$list_image_height = (int)$this->getConfig("image_height", 300);
$swap_image_number = (int)$this->getConfig("swap_image_number", 0);

$popup_quickview_width = $this->getConfig("popup_quickview_width", "60%");
$popup_quickview_height = $this->getConfig("popup_quickview_height", "80%");

$enable_pzoom = $this->getConfig("show_pzoom");
$enable_new_icon = $this->getConfig("enable_new_icon");
$enable_sale_icon = $this->getConfig("enable_sale_icon");
$show_title = $this->getConfig('show_title');
$enable_short_desc = $this->getConfig('show_desc');
$show_review = $this->getConfig('show_review');
$show_price = $this->getConfig('show_price');
$show_addcart = $this->getConfig("show_btn");
$show_compare_wishlist = $this->getConfig("show_wc") ;
/*end get setting*/


$moduleid = rand().time();
$itemsperpage = (int)$this->getConfig("itemspage",4);
$auto_play_mode = (int)$this->getConfig("auto_play");

$title_maxchar = (int)$this->getConfig("title_maxchar");
$title_maxchar = $title_maxchar > 0 ?$title_maxchar: 100;
$desc_maxchar = (int)$this->getConfig("desc_maxchar");
$desc_maxchar = $desc_maxchar > 0 ?$desc_maxchar: 100;
$interval = (int)$this->getConfig("interval");

$auto_play = $auto_play_mode?"true":"false";
$cols = (int)$this->getConfig("itemsrow");
$cols = !empty($cols)?$cols:1;
$span = floor(12/$cols);
$active = 'news';

/*end copy at here*/

/*end get setting*/

$qty = $this->getConfig('quanlity', 5);
$show_tab_icon = $this->getConfig('show_tab_icon', 0);
/*quickview was enabled?*/
$quickview = $this->getConfig('enable_quickview', 0);
/*Swap images was enabled?*/
$swap_image = $this->getConfig('enable_swap',0);
$icon_width = $this->getConfig('icon_width',50);
$icon_height = $this->getConfig('icon_height', 50);
$class_prefix = $this->getConfig('prefix','');
$current = 0;

$modid = rand(1,9)+rand();
$modid = $modid.time();
$price_prefix = "_tab1_".$modid.time();
$_helper = $this->helper('catalog/output');
$tab_index = $this->getConfig("tab_index", "");
?>
<div <?php if($tab_index): ?> data-index="<?php echo $tab_index; ?>" data-icon="<?php echo $this->getConfig('tab_icon') ?>" data-title="<?php echo $this->getConfig('title'); ?>" <?php endif; ?> class="<?php echo $this->getConfig('prefix');?> block categorytabs categorytab block-primary <?php if($tab_index): ?> floor-fixed-panel-play <?php endif; ?>" id="categorytab<?php echo $modid;?>">
	
	<?php if($this->getConfig('title') || ($pretext=$this->getConfig("pretext")) || isset($cms)) { ?>
	<div class="block-title">
		<?php if($this->getConfig('title')) { ?>
		<h3><?php echo $this->getConfig('title') ?></h3>
		<?php } ?>
		<?php if( ($pretext=$this->getConfig("pretext")) && !isset($cms) ) { ?>
		<div class="pretext"><?php echo $pretext; ?></div>
		<?php } elseif(isset($cms)) {
			?>
			<div class="pretext"><?php echo $cms; ?></div>
			<?php
		} ?>
	</div>
	<?php } ?>
	<?php if(!empty($items)) { ?>
	<?php $_helper = $this->helper('catalog/output'); ?>
	<div class="tab-nav">
		<ul class="nav nav-tabs">
			<?php $x = 1; foreach($items as $item) { ?>
			<?php
			$icon = "";
			if($show_tab_icon) {
				$icon = $this->getCategoryImage( $item['category_id'], $icon_width, $icon_height );
			}
			?>
			<?php $class = '';
			if(isset($tabClass[$x]) && $tabClass[$x] != ''){ $class .= $tabClass[$x]; }
			$class .= ' btntabs ';

			if($class != ''){
				$class = 'class = "'.$class.'"';
			}
			?>
			<li><a href="#categorytab-<?php echo $item['category_id'].$modid;?>" data-source="<?php echo $item['source'] ?>" data-cat_id="<?php echo $item['category_id']; ?>" data-toggle="tab" <?php echo $class; ?>><?php if($show_tab_icon && $icon) { ?>
				<img src="<?php echo $icon; ?>" class="hidden-sm hidden-xs pull-left"/>
				<?php } ?><?php if($this->getConfig('show_tab_title')): ?>
				<?php echo $this->htmlEscape( $item['title'] ); ?>
			<?php endif; ?></a></li>

			<?php $x++; } ?>
		</ul>
	</div>
	<div class="tab-content">

		<?php $i=0; foreach( $items as $tab => $item ) {
			?>
			<?php //if( empty($products) || $products->getSize() <= 0){ continue; } ?>
			<div class="tab-pane box-products  categorytabcarousel2<?php echo $modid; ?> carousel slide" id="categorytab-<?php echo $item['category_id'].$modid;?>" style="min-height: 300px;">

				<div class="carousel-controls">
					<a class="carousel-control left" href="#categorytab-<?php echo $item['category_id'].$modid;?>"   data-slide="prev">&lsaquo;</a>
					<a class="carousel-control right" href="#categorytab-<?php echo $item['category_id'].$modid;?>"  data-slide="next">&rsaquo;</a>
				</div>
				<?php //} ?>

				<div class="carousel-inner ">
					<?php if( isset($item['products']) && $item['products'] ) { $products = $item['products']; ?>

					<?php $products = $products->getItems(); ?>

					<?php
					$pages = array_chunk( $products, $itemsperpage);
					$price_prefix = $price_prefix."_".$tab;
					?>
					<?php foreach ($pages as  $k => $_productCollection ) {  ?>
					<div class="item <?php if($k==0) {?>first<?php } elseif($k == (count($pages) -1 )) {?>last<?php } ?> <?php if($k==0) {?>active<?php } ?> products-grid no-margin">
						<?php if($product_module_path = Mage::helper("ves_tempcp/framework")->getLayoutPath("product_module.phtml")) { ?>
							<?php require ($product_module_path); ?>
							<?php } ?>
						</div>
						<?php } ?>
						<?php } ?>
					</div>
				</div>
				<?php } ?>
			</div>

			<script type="text/javascript">
				<!--
				jQuery(function () {
					jQuery('#categorytab<?php echo $modid;?> a:first').tab('show');
					jQuery('.categorytabcarousel2<?php echo $modid;?>').carousel({interval:false,auto:false,pause:'hover'});
				})

				//--></script>

				<script type="text/javascript">

					function ajaxGetProductsTab<?php echo $modid;?>(source_type, page, moduleid, categoryid, blockid){
						var url = "<?php echo Mage::getUrl('tabs/index/ajax', array(
            '_secure' => Mage::app()->getStore()->isCurrentlySecure())); ?>";
						var dataAjax = {source_type: source_type,
							page: page,
							moduleid: moduleid,
							catsid: categoryid,
							blockid: blockid,
							wg: "<?php echo isset($attributes)?$attributes:''; ?>"
						};

						jQuery.ajax({
							url: url,
							dataType: 'json',
							type: 'post',
							data: dataAjax,
							success: function(data_response){
								jQuery('#'+data_response.moduleid+' #'+data_response.blockid).removeClass('wait');

								jQuery('#'+data_response.moduleid+' #'+data_response.blockid+' .carousel-controls').css({
									display: 'block'});

								if(typeof(data_response.rows)!='undefined'){
									jQuery('#'+data_response.moduleid+' #'+data_response.blockid+' .carousel-inner').hide().append(data_response.rows).fadeIn(1000);
								}
							},
						});
					}

					jQuery(document).ready(function() {
						var moduleid = 0;
						jQuery('#categorytab<?php echo $modid;?>').hover(function() {
							moduleid = jQuery(this).attr("id");
						}, function() {
							moduleid = 0;
						});
						jQuery(document).on('click', '#categorytab<?php echo $modid;?> .nav-tabs .btntabs', function() {
							var source_type = jQuery(this).attr('data-source');
							var page = 1;
							var blockid = jQuery(this).attr('href').replace('#','');
							var categoryid = parseInt(jQuery(this).attr('data-cat_id'));

							jQuery('#'+moduleid+' #'+blockid+' .carousel-controls').css({
								display: 'none'});
							jQuery(this).removeClass('btntabs');
							jQuery('#'+moduleid+' #'+blockid).addClass('wait');
							ajaxGetProductsTab<?php echo $modid;?>(source_type, page, moduleid, categoryid, blockid);
						});

						//Fire event click for first tab
						if(jQuery('#categorytab<?php echo $modid;?> .nav-tabs .btntabs').length > 0 ) {
							moduleid = jQuery('#categorytab<?php echo $modid;?>').first().attr("id");
							jQuery('#categorytab<?php echo $modid;?> .nav-tabs .btntabs').first().trigger("click");
						}
					});
				</script>
				<?php } ?>
			</div>