<script type="text/javascript">
	var data = "";
	var active = false;
	function initElementsAjax() {
		jQuery(function($) {
			<?php if($this->ajaxLayered): ?>

			$(".block-layered-nav a").on("click",function (e){

				var _href = $(this).attr("href");

				sliderAjax(_href);

				e.preventDefault();

			} );
			<?php endif; ?>
			
			
			<?php if($this->ajaxToolbar): ?>
				$('.toolbar a').on('click', function (e) {
					var url = $(this).attr('href');
					var enable_ajax = $(this).data("ajax");
					if(typeof(enable_ajax) == "undefined" || enable_ajax == 1 || enable_ajax == true || enable_ajax == 'true'){
						sliderAjax(url);
					}
					
					e.preventDefault()
				});
				$('.toolbar select').removeAttr('onchange');
				$('.toolbar select').on('change', function (e) {
					var url = $(this).val();
					var enable_ajax = $(this).data("ajax");
					if(typeof(enable_ajax) == "undefined" || enable_ajax == 1 || enable_ajax == true || enable_ajax == 'true'){
						sliderAjax(url);
					}
					e.preventDefault()
				})
			<?php endif; ?>
		});
	}

	jQuery(function($){
		if($('body').find('#resultLoading').length == 0 || $('body').find('#resultLoading').attr('id') != 'resultLoading'){
			$('<?php echo $this->getConfigValue("wrapper_selector","#page");?>').append('<div id="resultLoading" style="display:none"><div><img src="<?php echo $this->loadingImage ?>"><div><?php echo $this->loadingText ?></div></div><div class="bg"></div></div>');
		}
		var height = $('<?php echo $this->getConfigValue("wrapper_selector","#page");?>').outerHeight();
		var width = $('<?php echo $this->getConfigValue("wrapper_selector","#page");?>').outerWidth();

		$('.irs-slider').css('cursor','pointer');


		$('#resultLoading').css({
			'background': '#fff none repeat scroll 0 0',
		    'bottom': '0',
		    'cursor': 'progress',
		    'margin': '0',
		    'opacity': '0.8',
			'width':'100%',
			'height':'100%',
			'position':'fixed',
			'z-index':'10000000',
			'top':'0',
			'left':'0'
		});	

		$('#resultLoading img').css({
		    'margin': '0 auto'
		});	

		$('#resultLoading .bg').css({
		    'margin': '0',
		    'padding': '170px 0 80px',
		    'text-align': 'center',
		    'background':'<?php echo $this->overlayColor; ?>',
			'opacity':'<?php echo $this->overlayOpacity ?>',
			'width':'100%',
			'height':'100%',
			'position':'absolute',
			'top':'0'
		});
		$('#resultLoading>div:first').css({
			'width': '100%',
			'text-align': 'center',
			'position': 'absolute',
			'left': '0',
			'margin-top': '22em',
			'font-size':'16px',
			'z-index':'10',
			'color':'<?php echo $this->loadingTextColor ?>'
			
		});
		
		initElementsAjax();
	});

<?php if($this->ajaxSlider || $this->ajaxLayered): ?>
/*DONOT EDIT THIS CODE*/
function sliderAjax(url) {
    if (!active) {
        active = true;
        jQuery(function($) {
            oldUrl = url;
            url += "&vesajax=1";
            try {
                $('body').css('cursor', 'wait');
                $("#resultLoading .bg").height("100%");
            	$("#resultLoading").fadeIn(300);
                $.ajax({
                    url: url,
                    dataType: 'json',
                    type: 'post',
                    data: data,
                    success: function(data) {

                    	if (data.viewpanel) {
                            if ($('.block-layered-nav')) {
                                $('.block-layered-nav').empty();
                                $('.block-layered-nav').append(data.viewpanel);
                                $(".block-layered-nav").find("script").each(function(i) {
				                    eval($(this).text());
				                });
                            }
                        }
                        if (data.productlist) {
                            $('.category-products').empty();
                            $('.category-products').append(data.productlist);

                            $(".category-products").find("script").each(function(i) {
				                    eval($(this).text());
				            });
                        }
                        var hist = url.split('?');
                        url = url.replace("&vesajax=1", "");
                        if(window.history && window.history.pushState){
							window.history.pushState('GET', data.title, url);
						}
                        $('body').find('.toolbar select').removeAttr('onchange');
                        $('#resultLoading .bg').height('100%');
                        $('#resultLoading').fadeOut(300);
                        $('body').css('cursor', 'default');
                        
                        if(typeof(vesAjaxCallBackPriceSlider) != "undefined") {
                        	vesAjaxCallBackPriceSlider(data);
                        }
                        vesCustomAjaxCallBack(data);
                        initElementsAjax();
                    }
                })
            } catch (e) {}
        });
        active = false
    }
    return false
}
function vesCustomAjaxCallBack(data){
	<?php echo $this->getCallbackJs(); ?>	
}
<?php endif; ?> 
</script>
<?php echo $this->getChildHtml("ajax.priceslider.callback"); ?>
