/**
/**
 * BASE CSS STYLES
 */
 * { margin:0; padding:0; }

html {
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}
body {
  background:$body-bg;
  color: $text-color;
  font-size: $font-size-base;
  font-weight: 300;
  margin: 0px;
  padding: 0px;        
  overflow-x:hidden;

}
.cms-homepage-glasses {
    .top-static { display:block;}
}
ul, ol{
    margin: 0;
    padding:0;
    li{
        list-style: none;
    }
}

.btn:focus, .btn:active:focus, .btn.active:focus{
    outline: none!important;
}
a:hover, a:focus{
    outline: 0!important;
    text-decoration: none;
    color: $theme-color-default;
}

img{max-width: 100%;}

///******
ul.bullet {
    li {
           padding:  $block-module-padding - 15px 0;
           position:relative;
          a {
            @include rtl-padding-left($block-module-padding);
            &:before {
                  display: block;
                  content: "\f064";
                  font-family: $font-icon-family;
                  font-size:  $footer-font-size;
                  position: absolute;
                  @include rtl-left(0);
                  top: 6px;
            }
            &:hover {
                      &:before {
                        color: $link-hover-color;
                      }
                }
          }
    }
}
/* links style */
ul{
    &.links {    
        margin: 0;
        padding: 0;    
        li{
            display: inline;        
            line-height: normal; 
            list-style: none;    
            a{
                margin:0 $padding-base-vertical;  
                &:hover{
                    color: $theme-color-default;    
                }      
            } 
            .fa,.icon{
                margin-right:10px;
            }       
        }               
    }
    &.list{
        li{
            list-style: none;
           padding: 6px 0;
        }    
    }
    &.my-account{
        li{
            padding:6px 0;
            list-style: disc;
            margin-left: 14px;
        }
    }
    &.inline{
        li {
             @include rtl-float-left();
        }
    }
}

.tree-menu {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            font-size: 12px;
        }
        > ul > li {
            @include size(100%,auto);
            position: relative;
            .caret,.head a{ 
                position: absolute;
                right: 18px;
                top: 13px;
                background-color:$brand-primary;
                color:#FFF;
                padding:0 6px;
                margin-right: -20px;
                @include rounded-corners(10%);                                  
            }
            &:last-child a{
                border:none;
            }  
        + li {
             
        }
        > a {
            display: block;
            color: $vertical-menu-color;
            font-size: $vertical-menu-font-size;                
            padding: 10px 0;
            border-bottom: 1px solid #e0e0e0;   
            &:hover,&:focus{                    
               
            }
           
        }

        ul {
            display: none;
        }
            a.active {
                font-weight: 600;
                color: #E02673;
            + ul {
                display: block;
                padding: 0 0 10px 10px;
            }
        }
        ul > li {
            padding-left:30px;
            > a {
                    text-decoration: none;
                    display: block;
                    padding: 8px 0;
                    color: $megamenu-sub-link-color;  
                &.active {
                    font-weight: 600;
                    color:$megamenu-sub-link-hover-color;  
                }
            }
        }
    }
}

/* Tools */
.hidden       { display:block !important; border:0 !important; margin:0 !important; padding:0 !important; font-size:0 !important; line-height:0 !important; width:0 !important; height:0 !important; overflow:hidden !important; }
.nobr         { white-space:nowrap !important; }
.wrap         { white-space:normal !important; }
.a-left       { @include rtl-text-align-left(); }
.a-center     { text-align:center !important; }
.a-right      { @include rtl-text-align-right(); }
.v-top        { vertical-align:top; }
.v-middle     { vertical-align:middle; }
.f-left       { @include rtl-float-left(); }
.f-right      { @include rtl-float-right(); }
.f-none       { float:none !important; }
.f-fix        { float:left; width:100%; }
.no-display   { display:none; }
.no-margin    { margin:0 !important; }
.no-padding   { padding:0 !important; }
.col-no-padding{padding: 0!important;}
.row-no-margin{margin: 0!important;}
.no-bg        { background:none !important; }
.rtl .pull-left{float: right!important;}
.over-hidden    {overflow: hidden;}
/* ======================================================================================= */

/* tab style */
.htabs{  
    ul{
        li{
            margin: 0;
            @include rtl-float-left();
            display: inline-block;
            a {
                text-transform: uppercase;
                padding: 10px 30px;
                border: 1px solid transparent;
                margin-right: 0;
                font-weight: 700;
                font-family: $font-family-senary;
                font-size: $font-size-base;
                color: #999;
                margin-bottom: -1px;
                position: relative;
                &:hover{background: transparent; color: $black; border-color: transparent;}
                &.selected{
                    background: transparent;
                    color: $black;                  
                    display: block;
                    border-color: $border-color;
                    &::before{
                        content: "";
                        background: $white;
                        width: 100%;
                        height: 1px;
                        position: absolute;
                        bottom: -1px;
                        @include rtl-left(0);
                        z-index: 10;
                    }
                }
            }
        }
    }      
}
 
table.form {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    & > * {
        & > * {
            & > td {
                color: #000000;
            }
        }
    }
    td {
        padding: 4px;
    }
    tr {
        td:first-child {
            width: 170px;
        }
    }
}
table.radio {
    width: 100%;
    border-collapse: collapse;
    padding: 0;
    display: table;
    td {
        padding: 5px;
        label {
            display: block;
        }
        input[type="radio"]{
            margin: 0;
        }
    }
    tr {
        td:first-child {
            width: 1px;
            input {
                margin-top: 1px;
            }
        }
    }
    tr.highlight:hover {
        td {
            background: lighten($border-color, 5%);
            cursor: pointer;
        }
    }
}
 
#colorbox, #cboxOverlay, #cboxWrapper{
    box-sizing: content-box;
    -moz-box-sizing: content-box; /* Firefox */
}

#colorbox {
    .tabs-group .tab-contents {
        padding:0;
        border:0;
        background: #fff;
    }
}

.validation-advice {
    color: $red;
    background: url("#{$image-theme-path}i_asc_arrow.gif") no-repeat;
    @include rtl-background-position-left(13px);
    @include rtl-padding-left(15px);
    padding-top: 6px;
    @include rtl-text-align-left(); 
}

.tempcp-quickview-view {
    .zoomContainer,
    .ves-colorbox,
    .product-zoom { display: none !important; }
}

.cms-page-error {
    margin: 100px auto;
    text-align: center;
    color: #999;
    position: relative;
    h1 {
        font-size: $font-size-base + 180px;
        font-weight: 500;
        font-family: $font-family-secondary;
        color: #dfdfdf;
        line-height: normal;
    }
    h2 {
        font-size: $font-size-base + 10px;
        color: #999;
        line-height: normal;
        margin-bottom: 30px;
        margin-top: 20px;
    }
    a {
        @include rtl-margin-right(20px);
        padding:10px 20px;
        &.back-page {
            color: #999;
            background:#fff;
            border-color: #999;
        }
        &.back-home {
            color: #fff;
            background: $theme-color-default;
            margin: 0!important;
            &:hover{background: #444;}
        }
        i { font-style:normal; @include rtl-padding-right(5px);}
    }
    .back-page{
        @include inline-block();
    }
    .back-home{
        @include inline-block();
    }
    .content-page {
        position: relative;
        z-index: 2;
        margin:0 auto;
        width: 450px;
        h2 {
            font-size: $font-size-base + 10px;
            color: $theme-color-default;
            line-height: normal;
            margin-bottom: 20px;
        }
        h3 { 
            line-height:normal
        }
        .form-search {
            margin-bottom: 30px;
            input {width:70%;}
            button {
                border-radius:0;
            }
        }
        a {
            text-transform: uppercase;
            font-weight: 600;
            padding:10px 20px;
            &.back-page {
                @include rtl-border-right(1px solid #ddd);
            }
        }
    }

    &.style1 {
        h1 {
            font-size: $font-size-base + 480px;
            color: #f8f8f8;
            position:absolute;
            width: 100%;
            text-align: center;
            z-index: 1;
            top:-150px;
        }
        a {background: none; color: $theme-color-secondary;}
    }

    &.style2 {
        .number {
            position:relative;
            h1 {
                font-size: 250px;
                color: $theme-color-default;
                position:absolute;
                width: 100%;
                text-align: center;
                z-index: 1;
                top:-50px;
            }
            h2 {
                background: url("#{$image-theme-path}404_03.png") no-repeat center center;
                position:relative;
                z-index: 2;
                padding-top:215px;
            }
        }
        .content-page { 
            @include rtl-text-align-left();
            @include rtl-border-left(1px solid #ddd);
        }
        a {background: none; color: $theme-color-secondary;}
    }
    &.style3 {
        h1 {
            font-size: $font-size-base + 110px;
        }
        h2 {
            font-size:38px;
            font-weight:700;
            font-family: $theme-color-secondary;
            color: $theme-color-secondary;
        }
        ul {
            margin-top: 30px;
            li { 
                @include inline-block();
                @include rtl-border-right(1px solid #ddd);
                font-weight: 600;
                text-align: center;
                a { padding: 0 10px; text-align:center}
            }
        }
    }

    &.style4 {
        .content-page { 
            @include rtl-text-align-left();
            @include rtl-border-left(1px solid #ddd);
        }
        > .row{margin-bottom: 40px;}
    }
}

.md, .fa{
    font-style: normal!important;
}

#my_recent_tags{
    h3{line-height: 30px;}
}