/******************************************************
 * @package Ves Theme Framework for Magento
 * @version 3.0
 * @author http://www.venustheme.com
 * @copyright Copyright (C) Augus 2013 Venustheme.com <@email:venustheme@gmail.com>.All rights reserved.
 * @license   GNU General Public License version 2
*******************************************************/
/* Page Heading */
.page-title h1,
.category-title h1{ 
    font-size: 24px;
    font-family: $font-family-secondary;
    text-transform: uppercase;
    font-weight:400;
    line-height: 36px;
    color:$theme-color-secondary;
}
.page-title h1 {
    padding: 0 0 10px;
}

.category-image {
    img {
        @include img-responsive();
    }
}

/* Pager */
.pager { 
    margin: 0;
    text-align:center;
    .amount { @include rtl-float-left(); margin:0; display:none;}
    .limiter {
        @include rtl-float-right();
        label { vertical-align:middle; margin: 0; padding: 0; }
        select { vertical-align:middle; @include size(95px, 30px);padding: 4px 9px; line-height:30px;}
    }
    .pages {        
        @include rtl-float-left();
        ol { display:inline; }
        li { @include inline-block(); height: 25px; line-height: 15px; margin:0 5px; }
        .current{
            background:$nocolor;
            color: #444;
            padding: 4px 10px !important;
            border: 1px solid $border-color;
            a {color: #444;}
        }
        .button-pre,
        .button-next {
            color: #444;
            @include border-radius(50%);
            cursor: pointer;
            font-size: $font-size-base + 2;
            &:hover{
            	background: $theme-color-default;
            	a{color: $white;}
            }
            a {
            	color: #444;
            	padding:5px 10px !important;
            }
        }
    }
}

.box-reviews .pager,
.my-account .pager { border:0;}

/* Sorter */
.sorter { 
    .view-mode { 
        @include rtl-float-left();
        margin:0; 
        label{ @include rtl-float-left(); padding: 0 10px; margin: 0; font-size: 12px; line-height:30px;}
        .grid, .list{
            display: block;
            @include rtl-float-left();
            @include rtl-margin-right(8px);
            font-size: 16px;
            background: $white;
            color:#dbdbdb;
            line-height: 50px;
        }
        strong.grid,strong.list,
        a.grid:hover,a.list:hover { color: $theme-color-secondary;}
    }
    .sort-by {
        @include rtl-float-right(); 
        padding: 0;
        margin: 0;
        label { vertical-align:middle; margin: 0; }
        select { vertical-align:middle; padding: 4px; width: auto; background:#fff; border-color:$border-color;}   
    }
    .link-feed {}
}

.media-left, .media > .pull-left{@include rtl-padding-right(10px);}

/* Toolbar */
.toolbar {
    margin: 0 !important;
    border-bottom: 1px solid $border-color;
    min-height: 50px;
    label {
        margin-bottom: 0;
        padding:0;
        color: $theme-color-secondary;
    }
    .pager {
        @include rtl-padding-left(20px);
        .amount {}
        line-height: 50px;
    }
    
    .pager li > a, .pager li > span{ 
        @include border-radius(0);
        border: none; 
        background: $nocolor;      
    }
    .pager li > a, .pager li > span,.pager .pages li.current{
        padding: 0;
    }
    .sort-by {
        @include rtl-text-align-right();      
        line-height: 52px;
        select {
            @include size(120px, 30px);
            padding: 4px 9px;
            line-height: 30px;
        }
    }
}
.toolbar-bottom {
    margin-top: 20px;
}

/* Content Styles ================================================================= */
 
/* Product Tags */
.tags-list { 
    li {
         display:inline !important;
        li a {}
    }

}
/* Advanced Search */
.advanced-search .form-list {
    label {
        width:160px; padding-right:10px; 
    }
    .input-box,.input-range { 
        @include rtl-float-left(); clear:none; 
    }
}
.advanced-search-amount { margin:0 0 10px; }
.advanced-search-summary { 
    margin:10px 0; border:1px solid #e9d7c9; background:#fff6f1; padding:10px; 
    ul { float:left; width:49%; }
    strong { color:#E17C24; padding-left:15px; background:url(#{$image-theme-path-base}i_search_criteria.gif) 0 3px no-repeat; }
    p { clear:both; font-weight:bold; margin:0; }

}
/* CMS Home Page */
.cms-home .subtitle {}
.cms-index-index .subtitle {}

/* Sitemap */
.page-sitemap {
    .links {
        text-align:right; margin:0 8px -22px 0; }
    a { 
        text-decoration:none; position:relative; 
        &:hover { text-decoration:underline; }
    }
    .sitemap {
        margin:12px;
        a { color:#1b2d3b; }
        li { 
            margin:3px 0; 
            &.level-0 { 
                margin:10px 0 0; font-weight:bold; 
                a { 
                    color:#1e7ec8; 
                }
            }
        }
    }
}

/* Shopping Cart ========================================================================= */
.cart {
    margin-bottom:20px;
    .page-title { 
        border-bottom:0; margin:0 0 12px; 
        h1 { 
            margin:10px 0 0; 
        }
    }
    button {
        @include rtl-margin-left(5px);
    }
}
#shopping-cart-table{
	button{ margin-top: 5px; margin-bottom: 5px;}
	img {
	    max-width: 80px;
	}
}
.cart-collaterals{margin-top: 30px;}
.crosssell {
    margin-top: 40px;
    margin-bottom: 50px;
    .carousel-inner {
        overflow: visible;
        .products-row {
            margin:0;
            @include rtl-border-right(1px solid $border-color);
        }
    }
}

.cart-price{
    .price {
        color: $theme-color-default;
    }
}

/* Shopping cart tax info */
.cart-tax-info { display:block; }
.cart-tax-info,
.cart-tax-info .cart-price { padding-right:20px; }
.cart-tax-total { display:block; padding-right:20px; background:url(#{$image-theme-path-base}bkg_collapse.gif) 100% 5px no-repeat; cursor:pointer; }
.cart-tax-info .price,
.cart-tax-total .price { display:inline !important; font-weight:normal !important; }
.cart-tax-total-expanded { background-position:100% -52px; }

/* Checkout Types */
.cart {
    .product-name a{ font-size: 14px;}
    .page-title .checkout-types li { margin:0 0 5px; }
    .title-buttons {
        .checkout-types { 
        display: none;
            @include rtl-float-right(); 
            li { 
                @include rtl-float-left(); margin:0 0 5px 5px; 
            }
        }
    }
    .checkout-types .paypal-or { margin:0 8px; line-height:2.3; }
    .totals .checkout-types .paypal-or { clear:both; display:block; padding:8px 55px 0 0; line-height:1.0; font-size:11px; }

    /* Shopping Cart Collateral boxes */
    .cart-collaterals { 
        h2{ font-size: 18px; color: #333;}
    }
    .crosssell {        
        .product-image { margin-right: 10px;}
        .product-details {}
        .product-name { }
        li.item { margin:10px 0; }
        .link-compare {}

    }
/* Discount Codes & Estimate Shipping and Tax Boxes */
    .discount,.shipping { 
        border:1px solid $border-color; padding:12px 15px; margin:0 0 18px; 
        
        .buttons-set {
             margin:10px 0 0; border:0; padding:0;
             @include rtl-text-align-left();
             button.button {
                float:none; margin-left:0; 
            }

        }
    }
    .discount {
        .input-box { margin:8px 0 0; width:260px; }
        input.input-text { width:254px; }

    }
    .shipping {
        .sp-methods { margin:10px 0 0; padding:5px 0 0; background:url(#{$image-theme-path-base}bkg_divider1.gif) 0 0 repeat-x; }

    }
/* Shopping Cart Totals */
    .totals {   
        color: #333;
        table { margin:7px 0; border: none; }       
        td { padding:5px 0px 10px 35px; border: none; font-size: 18px;}
        tr.last td {}
        tfoot {
            th { 
                padding:5px 15px 5px 7px; 
            }
            td { 
                padding-top:5px; padding-bottom:5px; 
            }
            th,td  {
                strong { font-size:24px; }
            }
        }
        .checkout-types { 
            border-top: 1px solid $border-color;
            font-size:13px; 
            padding:5px 0 0; 
            @include rtl-text-align-right();
            li { 
                clear:both; margin:10px 0; 
            }
        }
    }
}

/* Options Tool Tip */
.item-options {
    dt { font-weight:bold; font-style:italic; }
    dd { padding-left:10px; margin:0 0 6px; }
}
.truncated {
    cursor:help; 
    @include inline-block;
    a{
        &.dots { cursor:help; }
        &.details { cursor:help; }
    }
    .truncated_full_value { 
        position:relative; z-index:999; 
        .item-options { 
            position:absolute; top:-99999em; left:-99999em; z-index:999; width:250px; padding:8px; border:1px solid #ddd; background-color:#f6f6f6;
            > p { font-weight:bold; text-transform:uppercase; } 
        }
    }
    .show .item-options { top:-20px; left:50%; }
}
.col-left .truncated .show .item-options { left:15px; top:7px; }
.col-right .truncated .show .item-options { left:-240px; top:7px; }
/* ======================================================================================= */


/* Checkout ============================================================================== */
/********** < Common Checkout Styles */
/* Shipping and Payment methods */
.sp-methods { 
    margin:0 0 8px; 
    dt { margin:13px 0 5px; font-weight: 600; }
    dd {}
    dd li { margin:5px 0; }
    label { font-weight: 600; color: $base-color; }
    .price { font-weight:bold; }
    .form-list { 
        padding-left:20px; 
        li { margin:0 0 8px; }
    }
    select{
        &.month { width:154px; margin-right:10px; }
        &.year { width:96px; }
    }

    .checkmo-list {
        li { margin:0 0 5px; }
        label { width:135px; padding-right:10px; @include rtl-text-align-right(); }
        address { @include rtl-float-left();}
    }
    .centinel-logos {
        a { margin-right:3px; }
        img { vertical-align:middle; }

    }
    .release-amounts {
     margin:0.5em 0; 
    button { @include rtl-float-left(); margin:5px 10px 0 0; }
    }
    input[type="checkbox"], 
    input[type="radio"] {
        height: 24px;
    }
}
.please-wait { 
    float:right; 
    img { vertical-align:middle; }
}
.cvv-what-is-this { font-size:11px; cursor:help; margin-left:10px; line-height:34px;}

/* Tooltip */
.tool-tip { 
    border:1px solid #7BA7C9; background:#EAF6FF; padding:15px 20px; position:absolute; z-index:9999; 
    .btn-close { 
        margin:-9px -14px 0; @include rtl-text-align-right();
        a { 
            display:block; margin:0 0 0 auto; width:15px; height:15px;
            background:url(#{$image-theme-path-base}btn_window_close.gif) 100% 0 no-repeat; @include rtl-text-align-left(); text-indent:-999em; overflow:hidden; 
        }
    }

    .tool-tip-content { padding:5px; }

}
/* Gift Messages */
.gift-messages {
    h3 { font-size:12px; font-weight:bold; color:#e87403; }
    p.control { color:#8e8d8b; }
}
.gift-messages-form {
     position:relative; 
    label { float:none !important; position:static !important; }
    h4 { font-size:12px; font-weight:bold; color:#e87403; }
    .whole-order { margin:0 0 25px; }
    .item { 
        margin:0 0 10px;
        .product-img-box { @include rtl-float-left(); width:75px; }
        .product-image { margin:0 0 7px; }
        .number { margin:0; font-weight:bold; text-align:center; color:#8a8987; }
        .details {
            margin-left:90px; 
            .product-name { font-size:13px; margin:0 0 10px; }
            .form-list {
                .field { width:255px; }
                .input-box { width:240px; }
                input.input-text { width:234px; }
                li.wide{
                    .input-box { width:500px; }
                    textarea { width:494px; }
                } 
            }
        }
    }
}
.gift-message-link { 
    font-size:11px; background:url(#{$image-theme-path-base}bkg_collapse-gm.gif) 100% 6px no-repeat; padding-right:7px;
    &.expanded { background-position:100% -40px; }
}
.gift-message-row {
    background:#f2efe9; 
    .btn-close { @include rtl-float-right();; width:16px; height:16px; background:url(#{$image-theme-path-base}btn_gm-close.gif) 0 0 no-repeat; font-size:0; line-height:0; text-indent:-999em; overflow:hidden; }

}
/* Checkout Agreements */
.checkout-agreements {
    li { margin:30px 0; }
    .agreement-content { overflow:auto; height:12em; padding:10px; background-color:#fbfaf6; border:1px solid #bbb6a5; }
    .agree { 
        margin:0; padding:10px 0 10px 11px; 
        input.checkbox { margin-right:6px; }
        label { font-weight:bold; color: $base-color; }

    }
}
.opc .checkout-agreements { 
    border:1px solid #d9dde3; border-width:0 1px; padding:5px 30px; 
    li { margin:20px 0 0; }
    .agreement-content { background-color:#fff; border-color:#e4e4e4; padding:5px; }
    .agree { padding-left:6px; }

}
/* Centinel */
.centinel {
    .authentication { 
        border:1px solid #ddd; background:#fff; 
        iframe { width:99%; height:400px; background:transparent !important; margin:0 !important; padding:0 !important; border:0 !important; }

    }
}
.opc .centinel { border:1px solid #bbb6a5; border-width:0 1px 1px; padding:10px 30px; }

/* Generic Info Set */
.info-set { 
    background:#fbfaf6 url(#{$image-theme-path-base}bkg_checkout.gif) 0 0 repeat-x; border:1px solid #bbb6a5; margin:0 0 25px; padding:20px; 
    .divider { margin:0 -20px; padding:25px 0; position:relative; }
    .box { 
        margin:0 0 15px; 
        h2 { color:$theme-color-default; }
    }
    .data-table {
        .product-name { 
            font-size:1em !important; 
            a { font-weight:bold !important; }
        }
        .item-options { margin:5px 0 0; }
    }
/********** Common Checkout Styles > */
}

/* One Page Checkout */
.checkout-onepage-index,
.checkout-onepage-success {
    #content {
        background: $white;
        margin:0;
    }
}

.block-progress { 
    border:0; margin:0; 
    .block-title { 
        background:none; border:0; padding:0; margin:0 0 5px; 
        strong { font-size:13px; color:#0a263c; }
    }
    .block-content { background:none; }
    dt { 
        background: none repeat scroll 0 0 #EFEFEF;
        border: 1px solid $border-color;
        color: #444444;
        font-size: 15px;
        font-weight: normal;
        line-height: 1.35;
        margin: 0 0 6px;
        padding: 10px;
        &.complete { margin:0; } 
    }
    dd { 
        background:#F5F5F5; border:1px solid $border-color; border-top:0; padding:8px 13px; margin:0 0 10px; 
        &.complete {}
    }
    
    p { margin:0; }
    .cards-list {
        dt { background:none; border:0 none; color:inherit; font-size:12px; margin:5px 0; padding:0; }
        dd { border:0 none; margin:0; padding:0; }
        .info-table th { font-weight:normal; }
    }
}
/* show/hide "change" link for progress step depend on complete status
 * should be placed in .css file */
.opc-block-progress dt{
    &.complete a,&.complete .separator { 
        display: inline; 
    }
    a,.separator { 
        display: none; 
    }

}
.opc {
    position: relative; 
    .buttons-set {
        button.button{ @include rtl-float-right();}
        p.required {
            margin: 0;
            padding: 0 0 10px;
        }
        &.disabled button.button {
            display: none;
        }
        .please-wait {
            height: 28px;
            line-height: 28px;
        }
    }
    .ul {
        list-style: disc outside none;
        padding-left: 18px;
    }
    .section {
        margin: 0 0 10px;
        padding: 0;
        clear: both;
        @include clearfix();
    }
    .step-title {
        background-color: #EFEFEF;
        border: 1px solid #e0e0e0;
        padding: 8px;
        @include rtl-text-align-right();
        overflow: hidden;
        .number {
            background-color: #fff;
            @include rtl-float-left();
            font-size: 14px;
            line-height: 26px;
            @include rtl-margin-right(8px);
            padding: 0 10px;
        }
        h2 {
            color: #999;
            @include rtl-float-left();
            font-size: 16px;
            line-height: 25px;
            margin: 0;
        }
        a {
            display: none;
            @include rtl-float-right();
            margin-top: 6px;
        }
    }

    .section.allow {
        cursor: pointer;
        &.active {
            cursor: auto;
        }
    }
    .allow .step-title {
        background: none repeat scroll 0 0 #F5F5F5;
        &:hover {
            background-color: #E5E5E5;
        }
        h2 {
            color: #333333;
        }
        a {
            display: block;
        }
    }
    .active .step-title {
        background-color: #E5E5E5;
        cursor: default;
        .number {
            background-color: #333333;
            color: #FFFFFF;
        }
        a {
            display: none;
        }
    }
    .step {
        padding: 10px;
        position: relative; 
        .tool-tip {
            right: 30px;
        }
    }
    .gift-messages-form {
        border-color: #E5E5E5;
        border-style: solid;
        border-width: 1px 0;
        .inner-box {
            overflow: visible;
        }
    }
}
#opc-review {
    .step {
        padding: 0;
    }
    .item-options {
        margin: 5px 0 0;
    }
    .buttons-set {
        border: 0 none;
        padding: 15px 30px;
    }
    .buttons-set p {
        line-height: 28px;
        margin: 0;
    }
    .buttons-set .please-wait {
        height: 28px;
        line-height: 28px;
    }
    .authentication {
        margin: 0 auto;
        width: 570px;
    }
    .warning-message {
        color: #222222;
        font-weight: bold;
        padding: 10px 10px 0;
        text-align: center;
    }
    tfoot{ border-top: 1px solid #ccc;}
}
/* Multiple Addresses Checkout */
.checkout-multishipping-address-newshipping,
.checkout-multishipping-addresses,
.checkout-multishipping-shipping,
.checkout-multishipping-billing,
.checkout-multishipping-overview,
.checkout-multishipping-succes
 {
    #columns {
        #content {
            background:$white;
            margin:0px 0 40px;
        }
    }
}

.checkout-progress { 
    padding:0; 
    margin:0 0 40px; 
    @include rtl-float-left();
    width: 100%;
    li { 
        float:left; 
        width:19%;
        margin:0 2px 0 0;  
        border-top:10px solid $theme-color-tertiary; 
        padding:5px 0 0; 
        font-weight:bold; 
        font-family:$font-family-secondary;
        text-transform:uppercase; 
        text-align:center; 
        color:#abb5ba;
        &.active { 
            border-top-color:$theme-color-default; 
            color:$theme-color-default; 
        }
    }
}

.multiple-checkout {
    //margin: 0 15px;
    .data-table {
        .product-name { 
            font-size:1em !important; color:#1e7ec8 !important;
            a { font-weight:bold !important; } 
        }
        .item-options { margin:5px 0 0; }


    }
    .gift-messages { margin:15px 0 0; }

    .tool-tip { top:50%; margin-top:-120px; @include rtl-right(20px); }

    .box { 
        margin:0 0 15px; 
        h2 { color:$theme-color-default; }

    }
    .place-order {
        @include rtl-text-align-right();
        .please-wait { @include rtl-float-right(); padding:27px 7px 0 0; }
        .grand-total {  
            font-size:1.5em; 
            .inner { padding:14px 0 0 ;
                div { display:inline; }
            }
            big { display:inline; margin-right:12px; }
            .price { color:$theme-color-default; }
            button.button span { 
                font-size:16px; 
                span { padding:0 45px 0 36px; }

            }
        }
    }
    .gift-messages-form .item .details .form-list { 
        width:100%; overflow:hidden; 
        li { 
            margin-right:-15px;
        &.wide {
            .input-box { width:445px; }
            textarea { width:439px; } 
        }
    }
        .field { width:230px; }
        .input-box { width:215px; }
        input.input-text { width:209px; }
    }
}
/* Step 1 */

#checkoutSteps{
    .control .radio, .control .checkbox{height: 24px;}
}

#multiship-addresses-table{
    td { padding:10px; }
    tfoot {
        td { padding:5px 10px; }
        button.button span { }

    }
} 
/* Step 2 */
.checkout-multishipping-shipping .box-sp-methods { 
    border:1px solid $border-color; padding:13px; position:relative; 
    .pointer { position:absolute; top:-20px;@include rtl-right(-40px); @include size(178px, 41px); background:url(#{$image-theme-path-base}bkg_sp-methods.gif) 0 0 no-repeat; overflow:hidden; }

}

/* Step 3 */
.checkout-multishipping-billing .multiple-checkout { position:relative; }
/* ======================================================================================= */


/* Account Login/Create Pages ============================================================ */

/* Captcha ================================================================================ */
.captcha-note      { clear:left; padding-top:5px; }
.captcha-image     { 
    float:left; display:inline;  margin:0; position:relative; width:258px; 
    .captcha-img { border:1px solid #b6b6b6; vertical-align:bottom; width:100%; }
}
.registered-users .captcha-image { margin:0;}
.captcha-reload { 
    cursor:pointer; position:absolute; top:2px; right:2px;
    &.refreshing  { animation:rotate 1.5s infinite linear; -webkit-animation:rotate 1.5s infinite linear; -moz-animation:rotate 1.5s infinite linear; }

}

/* Remember Me Popup ===================================================================== */
.window-overlay { background:url(#{$image-theme-path-base}window_overlay.png) repeat; background:rgba(0, 0, 0, 0.35); position:absolute; top:0; left:0; height:100%; width:100%; z-index:990; }

.remember-me label { float:none; margin:0 6px; }
.remember-me-popup { 
    background:#fff; border:1px solid #ccc; left:50%; top:50%; position:absolute; margin:-85px 0 0 -200px;
     width:400px; text-align:left; -moz-box-shadow:0 0 6px #ccc; -webkit-box-shadow:0 0 6px #ccc; -box-shadow:0 0 6px #ccc; z-index:1000; 
    h3 { background:#d9e5ee; border-bottom:1px solid #ccc; font-size:14px; padding:5px 10px; }
    .remember-me-popup-head {
        position:relative; 
        .remember-me-popup-close { 
            background:url(#{$image-theme-path-base}btn_window_close.gif) no-repeat; display:block; position:absolute; 
            top:7px; right:7px; height:15px; width:15px; text-indent:-9999em; 
        }
    
    }
    .remember-me-popup-body {
        padding:10px; 
        a { display:inline-block; height:19px; border:1px solid #de5400; background:#f18200; padding:0 8px; font:bold 12px/19px Arial, Helvetica, sans-serif; text-align:center; text-decoration:none; white-space:nowrap; color:#fff; }

    }
}/* Remember Me Popup ===================================================================== */


/* My Account ============================================================================= */
.my-account {
    background:$white;
    .box-reviews,
    .box-tags {
        margin-bottom: 20px;
        border-top:1px solid $border-color;
        padding:20px 0;
    }
}

.my-account .title-buttons .link-rss { float:none; margin:0; }

.block-account {
    li {
        padding:5px 0;
    &.current {
            strong{
                color: $theme-color-default;
            }
        }
    }
}


/* Address Book */
.addresses-list {
    address { margin:0 0 3px; }
    p { margin:0; }
    a { font-weight:bold; }
    .link-remove { color:#646464; }
    .separator { margin:0 3px; }
    li{
        &.item { background:#fff url(#{$image-theme-path-base}bkg_account_box.gif) 0 0 repeat-x; border:1px solid #ccc; padding:10px 13px; margin:0 0 10px; }
        &.empty {
         background:none; border:0; padding:0;
            p { font-weight:bold; }
         } 
    }
    .addresses-additional li.item { background:none; border:0; padding:0; }

}
/* Order View */
.order-info { 
    background:#dee5e8; border:1px solid #d0cbc1; padding:4px 8px; margin:0 0 8px; 
    dt,dd,ul,li { display:inline; }
    .current { font-weight:bold; }
    li { margin:0 3px; }

}
.order-date { margin:10px 0; }

.order-info-box { 
    background:#fff url(#{$image-theme-path-base}bkg_block-title.gif) 0 0 repeat-x; border:1px solid #d0cbc1; padding:12px 15px; margin:0 0 15px;
    .box-payment{
         p { margin:0 0 3px; }
        th { font-weight:bold; padding-right:7px; }

    }
}
.order-items { 
    width:100%; overflow-x:auto; 
    .product-name { font-size:1em !important; font-weight:bold !important; }
    .link-print { color:#1e7ec8; font-weight:normal; }
    .order-links {@include rtl-text-align-right(); }

}
.order-additional { margin:15px 0; }
/* Order Gift Message */
.gift-message{
    dt strong { color: $base-color; }
    dd { font-size:13px; margin:5px 0 0; }
} 
/* Order Comments */
.order-about {
    dt { font-weight:bold; }
    dd { font-size:13px; margin:0 0 7px; }

}
.tracking-table {
    margin:0 0 15px;
    th { font-weight:bold; white-space:nowrap; }
 
}
.tracking-table-popup { 
    width:100%; 
    th { font-weight:bold; white-space:nowrap; }
    th,td { padding:1px 8px; }

}
/* Order Print Pages */
.page-print {
    .print-head { margin:15px 0; float:left; width:100%; }
    .print-head .logo { float:left; }
    .print-head address { float:left; margin-left:15px; }
    .order-date { background:url(#{$image-theme-path-base}bkg_divider1.gif) 0 100% repeat-x; padding:0 0 10px; margin:0 0 10px; }
/* Price Rewrites */
    .gift-message-link { display:none; }
    .price-excl-tax,
    .price-incl-tax { display:block; white-space:nowrap; }
    .cart-price,
    .price-excl-tax .label,
    .price-incl-tax .label,
    .price-excl-tax .price,
    .price-incl-tax .price { display:inline; }

}
/* My Wishlist */
#wishlist-table{ 
    margin-bottom: 20px;
    .btn-cart{ margin-top: 10px; min-width:140px;}
    .cart-cell {
        text-align: center;
        .add-to-cart-alt {
            padding: 10px 0;
        }
    }
    .description {
        padding: 0 0 10px;
    }
}


/* My Tags */
.my-tag-edit { 
    float:left; margin:0 0 10px; 
    .btn-remove,
    .btn-remove:hover {@include rtl-float-right(); margin:4px 0 0 10px; line-height:auto; height:auto; background-color:$nocolor; border:0;}

}
#my-tags-table { 
    clear:both; 
    td { padding:10px; }
    .add-to-links { white-space:nowrap; }
    .last {
        text-align: center;
        .button.btn-cart {
            height: auto;
            padding: 10px 20px;
            width: 150px;
            margin-bottom: 10px;
        }
    }

}
/* My Reviews */
#my-reviews-table td { padding:10px; }

.product-review {
    .product-img-box { 
        float:left; width:140px;  
        .product-image { display:block; width:125px; height:125px; }
        .label { font-size:11px; margin:0 0 3px; }
        .ratings .rating-box { float:none; display:block;}
    }
    .product-details { margin-left:150px; }
    .product-name { font-size:16px; font-weight:600; margin:0 0 10px; }
    .ratings-table { margin:0 0 10px; }
    dt { font-weight:600; }
    dd { font-size:13px; margin:5px 0 0; }

}
/* Billing Agreements */
.billing-agreements {
    .info-box{ margin:15px 0; }
    .form-list li {
        select {@include rtl-float-left(); }
        button.button { @include rtl-float-left();  margin-left:10px; }
    }
    .table-caption { font-weight:bold; font-size:13px; }
}
/* ======================================================================================= */


/* MAP Popup============================================================================== */
.cart-msrp-totals { color:$red; font-size:12px !important; font-weight:bold; margin:10px 10px 0; padding:10px; @include rtl-text-align-right(); text-transform:uppercase;}
.map-cart-sidebar-total { color:$red; display:block; font-size:10px; font-weight:bold; @include rtl-text-align-left(); padding:2px 5px; text-shadow:0 1px 0 #fff; }

.map-popup { background:#fff; border:1px solid #aaa; margin:12px 0 0; position:absolute; -moz-box-shadow:0 0 6px #ccc; -webkit-box-shadow:0 0 6px #ccc; box-shadow:0 0 6px #ccc; @include rtl-text-align-left(); width:300px; z-index:100; }
.map-popup-heading { background:#d9e5ee; border-bottom:1px solid #ccc; padding:5px 30px 5px 10px; width:260px; }
.map-popup-heading h2 { font-size:16px; margin:0; text-shadow:0 1px 0 #f6f6f6; overflow:hidden; white-space:nowrap; word-wrap:break-word; @include rtl-text-align-left(); text-overflow:ellipsis; }
.map-popup-arrow { background:url(#{$image-theme-path-base}map_popup_arrow.gif) no-repeat; position:absolute; left:50%; top:-10px; height:10px; width:19px; }
.map-popup-close { background:url(#{$image-theme-path-base}btn_window_close.gif) no-repeat; display:block; position:absolute; top:8px; right:10px; height:15px; width:15px; text-indent:-9999em; -moz-box-shadow:0 0 3px #999; -webkit-box-shadow:0 0 3px #999; box-shadow:0 0 3px #999; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
.map-popup-content { border-top:1px solid #eee; padding:10px; overflow:hidden; @include rtl-text-align-left(); width:280px; }
.map-popup-checkout { 
    display:inline; @include rtl-float-right(); @include rtl-text-align-right();
    span { display:block; @include rtl-padding-right(30px); }
    .paypal-logo { margin:0 0 5px; } 
}
.map-popup-price .price-box,
.map-popup-price .price-box .special-price { margin:0; padding:0; }
.map-popup-price { margin:5px 0 0; }
.map-popup-text { clear:right; margin:0 10px; padding:10px 0; @include rtl-text-align-left(); word-wrap:break-word; }
.map-popup-only-text { border-top:1px solid #ddd; }
/* ======================================================================================= */


/* Sample Data============================================================================ */
.home-callout {
     margin-bottom:12px; 
    img { display:block }
}
.home-spot { float:left; width:470px; margin-left:20px; }
.best-selling {
    h3 { margin:12px 0 6px 0; color:#e25203; font-size:1.2em; }
    table { border-top:1px solid #ccc; }
    tr.odd { background:#eee url(#{$image-theme-path-base}best_selling_tr_odd_bg.gif) 0 100% repeat-x; }
    tr.even { background:#fff url(#{$image-theme-path-base}best_selling_tr_even_bg.gif) 0 100% repeat-x; }
    td { width:50%; border-bottom:1px solid #ccc; padding:8px 10px 8px 8px; font-size:11px; }
    .product-img { float:left; border:2px solid #dcdcdc; }
    .product-description { margin-left:107px; line-height:1.3em; }
}
.best-selling a.product-name,
.home-spot .best-selling a.product-name:hover { color:#203548; }


/* ======================================================================================= */

/* Class: std - styles for admin-controlled content */
.short-description{ color: #999;}
.std{ font-size:$font-size-base; line-height: 24px;}
.std .subtitle { padding:0; }
.std ol.ol { list-style:decimal outside; padding-left:1.5em; }
.std ul.disc { list-style:disc outside; padding-left:18px; margin:0 0 10px; }
.std dl dt { font-weight:bold; }
.std dl dd { margin:0 0 10px; }
.std ul,
.std ol,
.std dl,
.std p,
.std address,
.std blockquote { margin:0 0 1em; padding:0; }
.std ul { list-style:disc outside; padding-left:1.5em; }
.std ol { list-style:decimal outside; padding-left:1.5em; }
.std ul ul { list-style-type:circle; }
.std ul ul,
.std ol ol,
.std ul ol,
.std ol ul { margin:.5em 0; }
.std dt { font-weight:bold; }
.std dd { padding:0 0 0 1.5em; }
.std blockquote { font-style:italic; padding:0 0 0 1.5em; }
.std address { font-style:normal; }
.std b,
.std strong { font-weight:bold; }
.std i,
.std em { font-style:italic; }

/* Misc */
.links li { 
    display:inline;
    &.last { background:none !important; }
 
}
.link-cart {}
.link-wishlist {}
.link-reorder {}
.link-compare { }
.link-print { /*background:url(#{$image-theme-path-base}i_print.gif) 0 2px no-repeat; padding:2px 0 2px 25px;*/ font-weight:bold; color:#dc6809; }
.link-rss { background:url(#{$image-theme-path-base}i_rss.gif) 0 2px no-repeat; padding-left:18px; line-height:14px; white-space:nowrap; }
.btn-remove  { float:right;@include rtl-float-right();display:block; width:11px; height:11px; font-size:0; line-height:0; background:url(#{$image-theme-path-base}btn_remove.gif) 0 0 no-repeat; text-indent:-999em; overflow:hidden; }
.btn-previous  { display:block; width:11px; height:11px; font-size:0; line-height:0; background:url(#{$image-theme-path-base}btn_previous.gif) 0 0 no-repeat; text-indent:-999em; overflow:hidden; }
.btn-remove2 { display:block; width:16px; height:16px; font-size:0; line-height:0; background:url(#{$image-theme-path-base}btn_trash.gif) 0 0 no-repeat; text-indent:-999em; overflow:hidden; }
.btn-edit    { display:block; width:11px; height:11px; font-size:0; line-height:0; background:url(#{$image-theme-path-base}btn_edit.gif) 0 0 no-repeat; text-indent:-999em; overflow:hidden; }

.cards-list dt { margin:5px 0 0; }
.cards-list .offset { padding:2px 0 2px 20px; }

.separator { margin:0 3px; }

.divider { clear:both; display:block; font-size:0; line-height:0; height:1px; margin:10px 0; background:url(#{$image-theme-path-base}bkg_divider1.gif) 0 50% repeat-x; text-indent:-999em; overflow:hidden; }

/* Global site notices */
.global-site-notice { 
    border:1px solid #cfcfcf; border-width:0 0 1px; background:#ffff90; font-size:12px; line-height:1.25; text-align:center; color:#2f2f2f; 
    .notice-inner { 
        width:860px; margin:0 auto; padding:12px 0 12px 80px; background:url(#{$image-theme-path-base}i_notice.gif) 20px 25px no-repeat; text-align:left; 
        p { margin:0; border:1px dotted #cccc73; padding:10px; }
        .actions { padding-top:10px; }

    }
}
/* Cookie Notice */
.notice-cookie { position:fixed; z-index:9999; width:100%; bottom:0; left:0; margin:0 !important; opacity:0.95; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)"; /* IE8 */ }

/* Noscript Notice */
.noscript {}

/* Demo Notice */
.demo-notice { 
    margin:0; padding:6px 10px; background:#d75f07; font-size:12px; line-height:1.15; border:0; text-align:center; color:#fff; 
    .notice-inner { 
        width:auto; padding:0; background:none; text-align:center; 
        p { padding:0; border:0; }

    }

}
/* RSS */
.rss-title h1 { background:url(#{$image-theme-path-base}i_rss-big.png) 0 4px no-repeat; padding-left:27px; }
.rss-table .link-rss { display:block; line-height:1.55; background-position:0 4px; }
/* ======================================================================================= */

/********** < Dashboard */
.dashboard {
    h2 {
        text-transform: uppercase;
        font-family: $font-family-secondary;
        font-weight: 400;
        font-size: $font-size-base + 3;
    }
    .box {
         margin-bottom: 20px;
        .box-title {
            border-bottom: 1px solid #E5E5E5;
            margin: 0 0 10px;
            padding: 0 0 2px;
            @include rtl-text-align-right();
            overflow: hidden;
            h3, h4 {
                @include rtl-float-left();
                margin: 0;
                text-transform: uppercase;
                font-family: $font-family-secondary;
                font-weight: 400;
                font-size: $font-size-base + 1;
            }
            a {
                color: $theme-color-tertiary;
                line-height: 38px;
            }
        }
    }
    .box-info h4 {
        font-weight: normal;
        text-transform: uppercase;
    }
    .box-reviews,.box-tags  {
        .box-head {
            a {
                @include rtl-float-right();
                @include rtl-text-align-right();
                margin-top: -10px;
                color: $theme-color-tertiary;
            }
        }
         .number {
            @include rtl-float-left();
            font-size: 14px;
            line-height: 25px;
            padding: 0 10px;
            margin-top:5px;
            background:$theme-color-tertiary;
            color: $white;
        }
        .details {
            @include rtl-margin-left(38px);
        }
        li.item {
            margin: 0 0 7px;
            &.last {
                margin: 0;
            }
        }
        .rating-box { display:inline-block;}
    }
    .box-reviews{
        .ratings {
            margin: 5px 0 0;
        }
    }
    .box-tags {
        .tags {
            margin: 5px 0 0;    
            strong, ul, ul li {
                display: inline;
            }
        }
    }

}
/********** Dashboard > */

.product-options dt label.required em, .form-list label.required em {
    color: #EE001C;
    margin: 0 3px 0 0;
}
.v-fix {
    @include rtl-float-left();
}

/* Custommer */

.form-list{
    li {
        overflow: hidden;
        padding:5px 3px;
    }
    label { 
        margin-bottom: 2px; 
        color: $base-color; 
    }
}

.content h2{ color: #333;}
.buttons-set #send2{ @include rtl-float-left();}
.form-list .input-text{ width: 98%; min-height: 32px;}

.account-login,
.account-create {
    margin:  0 0 40px;
    //padding:20px;
    background:$white;
    .page-title {
        padding:0;
    }
    .content {
        h2 {
            font-size: $font-size-base + 1;
            font-weight: 700;
            font-family: $font-family-secondary;
            text-transform: uppercase; 
            margin-bottom: 20px;
            border-bottom:1px solid $border-color; 
        }
    }
    .content,
    .buttons-set {
        padding: 20px 0;
    }
    .buttons-set {
        border-top:1px solid $border-color;
    }
}

.account-create {
    .buttons-set {
        margin-top: 40px;
    }
}

/* crosssell-products-list */
.crosssell{ 
    #crosssell-products-list {
        @include clearfix(); 
        .product-image{ @include rtl-float-left(); }
        
    }
}


.#{$block-selector}-poll {
    li {
        width: 100%;
        @include rtl-float-left();
        span.label {
            font-size: 13px;
            line-height:24px;

        }
    }
}

.sendfriend-product-send{
    .send-friend {
        background: $white;
        padding:20px;
        .buttons-set {
            button {
                margin-top: 15px;
            }
        }
    }
}

.customer-account-login {
    .new-users,
    .registered-users {
        .content {
            min-height: 300px;
        }
    }
}
.send-friend .btn-remove {
    @include rtl-float-right();
    margin-top: 40px;
}

.contact-info {
    i.fa-home { margin-top:20px; margin-right:10px;}
}
.contact-customhtml {
    li {
        padding-bottom:10px;
        em {margin-right:10px;}
    }
}

#customer-reviews{
    table th{
        font-weight: 600;
        padding: 10px 8px;
    }
    table td{
        text-align: center!important;
        input{float: none!important;}
    }
    dt{font-weight: 600;}
}

#cart-sidebar-reorder{
    .radio, .checkbox{height: 18px;}
}
#wishlist-table{
    .product-image img{min-width: 100px;}
}