/******************************************************
 * @package Ves Theme Framework for Magento
 * @version 3.0
 * @author http://www.venustheme.com
 * @copyright Copyright (C) Augus 2013 Venustheme.com <@email:venustheme@gmail.com>.All rights reserved.
 * @license   GNU General Public License version 2
*******************************************************/

@media (min-width: $screen-md){
	#header .header1{
		#topbar .topLinks .dropdown-menu{
			display:block;
	        box-shadow:none;
	        background:$nocolor;
	        margin: 0;
	        padding: 0!important;
	        border: 0;
	        @include rtl-left(0);
	        position: relative!important;
	        opacity: 1!important;
	        top: 0!important;
	        visibility: visible!important;
		}
		#topbar .topLinks .links li > a{
			background: transparent!important;
	        line-height: 28px!important;
	        width: auto!important;
	        text-transform: uppercase;
	        font-size: $font-size-base - 2;
		}
		.topLinks{
			margin: 0!important; 
			padding: 0!important;
			.dropdown-menu {
	            &::before{
	                border-color: transparent;
	            }
	        }
		}
		.links li{
			border: 0!important;
			width: auto;
			padding: 0 4px!important;
			line-height: normal!important;
		}
	}
}

@media (max-width: $screen-md){
	/*Navigation default*/
	##{$app-brand-prefix}-mainnav {
		.nav-container {
			position: relative;
			background: $white;
			&:before {
				font-family: "FontAwesome";
				content:"\f0c9";
				font-size: 24px;
				color: #fff;
				background:#222;
				position: absolute;
				right:9px;
				@include rtl-right(9px);
				top:15px;
				padding:8px 15px;
				cursor: pointer;
			}
			ul#nav {
				position: absolute;
				top: 69px;
				right:0;
				@include rtl-right(0);
				visibility:hidden;
				background: $white;
				z-index: 999;
				width: 300px;
				@include transition(all 0.2s ease-out);
				li {
					width: 100%;
					&.parent {
						&:hover > a:after { display:none;}
					}
					a {
						line-height: 40px;
						@include transition(all 0.2s ease-out);
						span {
							border:0 !important;
						}
					}
					ul,
					ul ul {
						margin-left: 30px;
						@include rtl-margin-left(30px);
						position: relative;
						left:0 !important;
						@include rtl-left(0);
						box-shadow:none;
					}
				}
			}
			&:hover,
			&:focus {
				ul#nav {
					visibility: visible;
					
				}
			}
		}
	}
	.navbar-inverse .navbar-toggle{
		margin-top: 10px;
		border-color: $white!important; 
		margin-right: 0;
		.icon-bar{background-color: $white!important;}
	}
	.customer-account-login {
    .new-users,
    .registered-users {
	        .content {
	            min-height: auto;
	        }
	    }
	}
	#topbar .topLinks .links li > a{margin: 0;}
	.product-block .product-img.img::after{background: none!important;}
	.panel-title .fa{
		font-size: 10px;
		vertical-align: top;
		margin-top: 5px;
	}
	#products-grid .row.products-row .product-col{border-bottom: 1px solid $border-color;}
	.logo { text-align:center;}
	#header.hide-bar{position: relative!important;}
	#header .header1{
    	#topbar{
    		min-height: 30px!important; 
    		padding: 3px 0!important;
    		.dropdown-toggle{line-height: 24px!important;}
    	}
    	.topLinks{padding: 0!important;}
    	.logo{
    		line-height: normal;
    		padding-bottom: 10px;
    		height: 42px;
    		img{max-width: 150px; max-height: 32px;}
    	}
    	.header-top{position: relative; padding: 10px 0 0!important;}
    	#ves-mainnav .navbar-toggle{
    		border: 0;
    		margin: 0!important;
    		background: none!important;
    		padding: 0;
    		position: absolute;
    		top: -69px;
    		min-height: 22px!important;
    		.icon-bar{
    			background: #454545!important;
    			height: 3px;
    			width: 18px;
    		}
    	}
    	.menu-top{
    		background: none!important;
    		min-height: 0!important;
    	}
    	.ves-megamenu .navbar{min-height: 0;}
    	.header-right {
		    position: absolute;
		    @include rtl-right(0);
		    margin: 0!important;
		    width: auto;
		    padding: 0!important;
		}
		.cart-top{
			border: 0!important;
			min-width: 30px!important;
			padding: 0!important;
			margin-top: -3px;
			h3, #cart-total{display: none;}
			.shopping-cart-icon{margin: 0!important; background-size: 20px!important;}
			.content::before{
				@include rtl-right(10px);
			}
		}
		.ves-autosearch{
			margin: 0!important;
			min-height: 35px!important;
			.search_box{
				.search, .input-search, .category_filter, .category_filter select{height: 35px!important;}
				.button-search{height: 35px; line-height: 35px; top: -35px;}
				.category_filter select{padding-top: 0; padding-bottom: 0;}
				.category_filter span{line-height: 35px!important;}
			}
		}
		.ves-autosearch .search_box .search{height: 45px;}
		.icon-search{
		    color: #454545;
		    font-size: 18px;
		    @include rtl-left(36px);
		    position: absolute;
		    top: -38px;
		}
		.ves-autosearch .search_box::before {
		    border-bottom: 8px solid #e6e6e6;
		    border-left: 8px solid transparent;
		    border-right: 8px solid transparent;
		    content: "";
		    @include rtl-left(36px);
		    position: absolute;
		    top: -7px;
		}
    }
}

@media (min-width: $screen-md){
	.promotional .abs{width: 20%;}
	.d-table      { display: table; width: 100%;}
	.d-table-cell { display: table-cell; vertical-align: top; float: none;}
}

/*$media (min-width: 992px) and (max-width: 1199px)*/
@media (min-width: $screen-md) and (max-width: $screen-md-max){ 
	.toolbar .sort-by select { width:80px;}
	.pager .limiter select { width:55px;}
	.sidebar .product-block .product-meta {padding: 0 0 20px;width: 52%;}
	.table > thead > tr > th,
	.table > thead > tr > td,
	.table > tbody > tr > th,
	.table > tbody > tr > td,
	.table > tfoot > tr > th,
	.table > tfoot > tr > td {
		padding:10px;
	}
	.ves-megamenu .navbar-nav > li.aligned-fullwidth .dropdown-menu{max-width: 1000px!important;}
	.ves-megamenu .navbar-nav > li > .dropdown-menu{left: -180px !important;}
	.rtl .ves-megamenu .navbar-nav > li > .dropdown-menu{right: -180px !important; left: auto!important;}
	.product-block .name{min-height: 40px;}
	#ves-verticalmenu .dropdown-menu{max-width: 750px;}
}

/*$media (min-width: 768px) and (max-width: 991px) {*/
@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
	#topbar .top-currency, 
	#topbar .store-language {
		label { display:none;}
	}	
	.box-search{
		width: 20% !important;
		position: absolute;
		right:0;
	}
	.bg-1,
	.bg-2 {
		border:0;
	}

	.box-accountlink {
		width: 40% !important;
	}
	.quickaccess-toggle,
	.quickaccess-toggle i{display:none !important;}

	.product-info .product-view {
		@include rtl-padding-left(0);
		padding-left:10px !important;
		padding-top:20px;
	}

	.product-info .product-extra .add-to-links, 
	.product-info .product-options-bottom .add-to-links {
		margin-left: 20px;
	}

	.zoomContainer, .ves-colorbox, .product-zoom, #colorbox {
        display: none!important;
    }
    .child-menu .dropdown-menu {
	    width: 493px !important;
	}
	.aboutus{
		border-bottom: 1px solid #333!important;
		padding-bottom:40px !important;
		margin-bottom:40px !important;
	}
    .link-compare { display:none;}	
    .product-block .add-to-links li {width:100%;}
} 

/*$media (max-width: 767px) {*/
@media (max-width: $screen-xs-max) {
	.categorytabs .row.products-row .product-col{border-bottom: 1px solid $border-color!important;}
	.product-info .product-essential{margin: 0!important;}
	#header .header1 .cart-top{
		@include rtl-margin-left(60px);
		width: auto!important;
		min-width: 200px;
	}
	#header .header1 .header-right{margin-top: 0!important; margin-bottom: 10px;}
	.social > p::before{border: 0!important;}
	
	#ves-footer .block{margin-bottom: 20px!important;}
 	.zoomContainer, .ves-colorbox, #colorbox, .product-zoom , .quick-cart{ display: none!important;}	
    .product-info .image-container {@include rtl-padding-left(9px);}

	.product-block .image img {width: 100%; height:auto;}

	.products-list .image {width: 100%;}
	#ves-accordion li{width: 100%;}

	.customer-account-login {
    .new-users,
    .registered-users {
	        .content {
	            min-height: auto;
	        }
	    }
	}
	.products-list .product-block .product-meta {clear: both;padding: 0;width: 100%;}
	.link-compare { display:none;}	
    .product-block .add-to-links li {width:100%;}

    .htabs ul li {
		width: 100%;
	}

	.product-info .product-extra .add-to-links, 
	.product-info .product-options-bottom .add-to-links {
		@include rtl-left(40%);
		top: 5%;
	}
  	.checkout-onepage-index .buttons-set{
  		@include rtl-float-left();
	    position: relative;
	    width: 100%;
	    z-index: 1;
  	}
  	.widget-images{
  		text-align: center;
  		img{@include inline-block();}
  	}
}

/*$media (max-width: 480px) {*/
@media (max-width: $screen-phone) {
	#header-main .inner {
	    text-align: center;
	    & > * {
		    display: inline-block;
		}
		&:last-child {
		}
	}
	.categorytabs{
		.tab-nav{
			position: relative!important;
			.nav-tabs > li{
				width: auto!important;
				> a{padding: 10px!important;}
			}
		}
	}
	.block.widget-newsletter{@include rtl-padding-left(15%);}

 	.cart-top { 
 		margin-top:0;
 	}
 	.faq-searchform{
		height: auto!important; padding: 0!important;
		label{position: relative!important;}
	}
 	.ves-autosearch .search_box .category_filter{display: none;}
	.block .block-title { font-size:20px;}
	.breadcrumb {
		margin-top: 0 !important;
	}
	.sorter .sort-by {display: none;}	
	.productcarousel img {display: inline;}
	
	.tabs-group .tab-contents{padding: 0 10px;}
	.product-info .action > div {margin-bottom: 10px;}
	.product-info .product-extra .quantity-adder, .product-info .product-options-bottom .quantity-adder{width: 100%;}
	.product-info .add-cart{margin: 0!important;}
	.product-info .image {
		background: transparent !important;
		img {
			display: inline !important;
			@include img-responsive();
		}
	}
	
	.product-info .product-view {
	    padding-left: 10px !important;
	    padding-top:40px;
	}

	.product-list {
		.product-meta {
			overflow: visible;
		}
		.product-block .action {
			position: absolute;
			top: -63px;
		}
		.image {
			float: none;
			display: block;
		}
	}
	.box-inline .box-left, .box-inline .box-right {
		width: 100%;
	}
	.input-group {
		text-align: center;
		& > * {
			clear: both;
			display: inline;
		}
	}

	.quick-cart {
		display: block!important;
	}

	.form-list input.input-text {
	  	width: 260px !important;
	}

	#checkout-payment-method-load {
		input.input-text {
			width: 230px;
		}
	}

	.product-block:hover .product-zoom { right:45%;}

	.customer-account-login .new-users .content, .customer-account-login .registered-users .content { min-height:50px;}

	.checkout-progress li { width: 100%; }
	
	.my-wishlist {
		overflow-x:auto;
	    .buttons-set {
	        button {
	            margin-bottom: 20px;
	        }
	    }
	}

	.products-list .product-block .product-meta {
	    clear: both;
	    padding: 0;
	    width: 100%;
	}

	.pager .limiter { display:none;}
	#ves-breadcrumbs { display:none;}
	.htabs ul li a { padding:10px;}

	.footer5, .footer6, .footer7{
		text-align: center!important;
		.nav-links{text-align: center!important;}
	}
	/*New style Table responsive $screen-xs-max */
	table#wishlist-table, 
	table#shopping-cart-table, 
	table#checkout-review-table, 
	table#my-orders-table,
	table#multiship-addresses-table,
	#review-order-form table {
		border:0;
		border-top:1px solid #ddd;
		outline: none;
		th, td { display: block; text-align: center!important;}
		colgroup { display:none;}
		.a-right { text-align: center !important;}		
		.button {margin-bottom: 15px;}
		.btn-remove { float:none!important; margin: 0 auto;}
	}

	.box-reviews .data-table {
		th, td { font-size: 10px; padding:3px !important;}
	}	
	.multiple-checkout select { width: 270px;}
	.data-table tr.even td.last, .data-table tr.odd td.last { border-right: 1px solid #ddd;}

	table th, 
	table td, 
	table td.last {border-right: 1px solid #ddd; border-left: 1px solid #ddd}

	table tfoot td.last { border-bottom: 1px solid #ddd;}

	/*new style shopping cart  mobile responsive */
	.cart {
		table {
			th { display:none !important}
			tbody td { border:0 !important; padding: 5px 0;}
			tbody tr{border-bottom: 1px solid $border-color;}
			.bgcolol-td { background: $border-color;}
			tbody td span {
				&.lable-price { @include rtl-text-align-right(); padding-right:10px; line-height:33px; }
			}
		}
	}  
}

/*$media (max-width: 320px) */
@media (max-width: 320px) { 
	.nav-tabs > li {
		width: 100%;
		margin-bottom: 0;
		&:active {
			a{border:0 !important;}
		}
	}
	
	.block-up-sell .block-title strong, 
	.box-up-sell .block-title strong { padding: 0 20px;}

	.products-list .product-block .product-meta {
	    clear: both;
	    padding: 0;
	    width: 100%;
	}
}

/* Safari fix*/ 
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.product-block .btn-shopping-cart{width: 60%!important;}
	.product-block .btn-shopping-cart{min-width: 194px;}
}