.faq-answers{
	margin-top: 15px;
}

.faq-searchform {
	position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px 100px 70px 150px !important;
	width: 100%;
	height: 41px;
	border-radius: 5px;
	float: left;
	margin-bottom: 40px;
	border-bottom: 1px solid #ddd;
}

.faq-searchform .keyword {
	width: 80%;
	padding: 3px;
	float: left;
	margin-left: 10px;
	border-color: #ADADAD;
}

.faq-searchform .btn-submit{
	float: left;
	width: auto;
	margin-left: 10px;
	border-color: #ADADAD
}

.faq-searchform label {
	position: absolute;
	left: 30px;
	font-weight: bold;
	font-size: 18px;
	float: left;
}

.faq-searchform .btnSearch {
	position: absolute;
	right: 30px;
}

.tab-nav{
	float: left;
	width: 100%;
}

.faq-tab-content{
	float: left;
	width: 100%;
	margin-top: 30px;
}

.faq-tab-content .tab-pane{
	display: none;
}

.faq-tab-content .active.tab-pane{
	display: block
}

.faq-question-meta {
	color: #999;
	font-size: 12px;
}

.faq-answers .faq-answer{
	margin-bottom: 10px;
}

.faq-question-result .faq-question{
	margin-bottom: 20px;
}

.faq-question-result{
	margin-top: 10px;
}

.faq-category{
	border-bottom: 0px none;
	padding-bottom: 30px;
}

.faq-category-title{
	font-size: 18px;
	margin-bottom: 10px
}

.faq-question  {
	border:1px solid #ddd;
	padding:20px;
	margin-bottom: 20px;
}

.faq-question-title {
	font-weight: bold;
	font-size: 16px;
}

.faq-question-title a{
	color: #333;
}

.faq-question-title .faq-noanswer{
	font-weight: normal;
	font-size: 14px;
	font-style: italic;
}

.faq-question .panel-collapse {
	border-top: 1px solid #ddd;
	line-height: 30px;
	padding-top: 10px;
	margin-top: 10px;
}

.list-faq {
	margin: 0;
}

.list-faq  li {
	font-size: 14px;
	line-height: 30px;
	font-weight: 700;
}

.faqsaddslide {
	background: url(images/btn-slide.gif) no-repeat scroll center top transparent;
	float: right;
	margin: 0 0 10px;
	padding: 0;
}

.faqsaddslide .btn-slide {
	height: 31px;
	margin-bottom: 0;
	padding: 8px 10px;
	color: #FFFFFF;
	display: block;
	font: bold 120%/100% Arial,Helvetica,sans-serif;
	text-align: center;
	text-decoration: none;
	width: 144px;
	background-position: right 12px !important;
}

.faq-question-block{
	float: left;
	width: 100%;
}

#faq_poquestion{
	display: none;
}

.faq-question-block {
	margin: 0px 0px 15px;
	color: #636363;
	font-family: "Raleway","Helvetica Neue",Verdana,Arial,sans-serif;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.4;
	text-rendering: optimizespeed;
	padding-bottom: 7px;
	border-bottom: 1px solid #EDEDED;
}

.faq-question-product{
	float: left;
	width: 100%;
}

.popquestion .input-text {
	border: 1px solid #C0C0C0;
	padding: 5px;
	width: 100% !important;
	max-width: 100%;
}

.popquestion {
	border: 6px solid #F4F4F4;
	padding: 20px;
	margin: 10px;
}

.popquestion .input-box::after {
	content: "";
	display: table;
	clear: both;
}

#pop_header {
	background-color: #3399cc;
	border-bottom: 0px;
	padding: 15px 0;
}

#pop_caption {
	padding: 0 2em 0 0.75em;
	margin: 0;
	text-align: left;
}

#pop_close {
	margin-top: 5px;
	margin-right: 5px;
	background-image: url(close_btn_white.png);
	width: 32px;
	height: 32px;
	text-indent: -9999px;
}

@media (min-width: 768px) and (max-width: 991px) {
	.faq-searchform {
		padding:10px 50px 70px 150px !important;
	}
	#faq .nav > li > a {padding: 10px;}
}

@media (max-width: 767px) {
	.faq-searchform {
		position: relative !important;
		padding: 10px 0 !important;
		height: auto !important;

	}

	.faq-searchform label { 
		left:10px !important;
		display: block!important;
		position: relative!important;
	}

	#faq_poquestion{
		margin: 0px!important;
	    display: block!important;
	    padding: 5px!important;
	}
	.btn-postquestion{ 
		display: none!important;
	}
	.popquestion .input-text{ max-width: 100% }
	.popquestion .form-list .field{ max-width: 100% }

}

