<?php
$cols = (int)$this->getConfig('cols');
if(!$cols){
	$span = 1;
}else{
	$span = 12/$cols;
}
$itemsperpage = 20;
$id = rand().time();
$data = $this->getCollection();
$processor = Mage::helper('cms')->getPageTemplateProcessor();
$questions_count = $this->getConfig('questions_count','faq_page',5);
$helper = Mage::helper('ves_faq');
$show_seeall_button = $this->getConfig('show_seeall_button');
?>

<?php if(count($data)>0){ ?>
<!--FAQ -->
<div id="faq">

	<div class="tab-nav">
		<ul class="nav nav-tabs">
			<?php foreach ($data as $k => $_category) {
				?>
				<li <?php if($_category->getPrefix()!=''){ echo 'class="'.$_category->getPrefix().'"'; } ?>>
					<?php
					if($_category->getImage()!=''){
						$image_path = Mage::getBaseDir('media'). DS . 'ves_faq' . DS . $_category->getImage();
						if(file_exists($image_path)){
							$image = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'/ves_faq/'.$_category->getImage();
						}
						?>
						<?php
					}
					?>
					<a data-toggle="tab" onClick="javascript:void(0);" href="#categorytab-<?php echo $_category->getCategoryId(); ?>">
						<?php if($image){ ?>
						<img width="50" height="50" src="<?php echo $image ?>" alt="<?php echo $this->stripTags($_category->getTitle()); ?>" />
						<?php } ?>
						<?php echo $_category->getName(); ?>
					</a>
				</li>
				<?php
			} ?>
		</ul>
	</div>
	<div class="faq-tab-content">
		<?php foreach ($data as $k => $_category) { ?>
		<div class="tab-pane carousel" id="categorytab-<?php echo $_category->getCategoryId(); ?>">
			<?php
			$processor = Mage::helper('cms')->getPageTemplateProcessor();
			$questions = $_category->getData('questions'); ?>

			<?php
			$i = 0; ?>
			<!-- Questions -->
			<?php if( !empty($questions) && $questions->getSize() > 0  ){ ?>

			<div id="faq-question-<?php echo $id ?>" class="faq-question-block">

				<?php
				$count = count($questions->getData());
				$size = $questions->getSize();
				if( $count < $questions_count ){
					$questions_count = $count;
				}
				foreach ($questions as $_question) { ?>
				<?php
				$default_answer = $processor->filter($_question->getDefaultAnswer());
				$answers = $_question->getData('answers');
				$description_question = $processor->filter($_question->getDescription());
				?>

				<?php if( $cols == 1 || $i%$cols == 0 ) { ?>
				<div class="row products-row">
					<?php } ?>

					<div class="col-lg-<?php echo $span;?> col-sm-<?php echo $span;?> col-xs-12 <?php if(($i-1) % $cols == 0){echo "last";}  if($i%$cols == 0){echo "first";} ?>" >

						<div class="faq-question question-<?php echo $_question->getQuestionId(); ?> question-row">
							<div class="faq-question-title">
								<a data-toggle="collapse" data-parent="#faq-<?php echo $id; ?>"  href="#faq-collapseOne<?php echo $_question->getQuestionId().$id; ?>">
									<?php echo $_question->getTitle(); ?>
								</a>
								<?php if($default_answer == '' && ( $answers && $answers->getSize() > 0 ) == '' && $description_question == ''){ ?>
								<span class="faq-noanswer"><?php echo $this->__('(Not Answerred)'); ?></span>
								<?php } ?>
							</div>
							<?php if($default_answer != '' || ( $answers && $answers->getSize() > 0 )  || $description_question != ''){ ?>
							<div id="faq-collapseOne<?php echo $_question->getQuestionId().$id; ?>" class="panel-collapse collapse out">
								<?php if( $description_question != '' ){ ?>
								<div class="question-description">
									<?php echo $description_question; ?>
								</div>
								<?php } ?>
								<?php if(( $answers && $answers->getSize() > 0 ) || $default_answer != ''){ ?>
								<div class="faq-answers">
									<?php if( $default_answer != '' ){ ?>
									<div id="answer-<?php echo $_question->getQuestionId().$id; ?>" class="faq-answer" >
										<div class="faq-answer-content">
											<?php echo $default_answer; ?>
										</div>
										<div class="answer-date">
											<?php echo $this->__('Poster by: ').$_question->getAuthorName(); ?>
											&nbsp;<?php echo $this->__('on'); ?>&nbsp;
											<?php $_ct= new Zend_Date( $_question->getCreatedAt(), MYSQL_DATETIME, Mage::app()->getLocale()->getLocaleCode() ); ?>
											<span class="day"><?php echo $_ct->toString('dd');?></span>
											<span class="month"><?php echo $_ct->toString('MMM');?></span>
											<span class="year"><?php echo $_ct->toString('YYY');?></span>
										</div>
									</div>
									<?php } ?>

									<?php if( $answers && $answers->getSize()>0 ){ ?>
									<?php foreach ($answers as $_answers){ $id = rand().time(); ?>
									<div class="faq-answer" id="answer-<?php echo $_answers->getAnswerId().$id; ?>">
										<?php $answer_content = $processor->filter($_answers->getAnswerContent()); ?>
										<?php if( $answer_content != ''){ ?>
										<div class="faq-answer-content">
											<?php echo $answer_content; ?>
										</div>
										<?php } ?>
										<div class="answer-date">
											<?php echo $this->__('Poster by: ').$_answers->getAuthorName(); ?>
											&nbsp;<?php echo $this->__('on'); ?>&nbsp;
											<?php $_ct= new Zend_Date( $_answers->getCreatedAt(), MYSQL_DATETIME, Mage::app()->getLocale()->getLocaleCode() ); ?>
											<span class="day"><?php echo $_ct->toString('dd');?></span>
											<span class="month"><?php echo $_ct->toString('MMM');?></span>
											<span class="year"><?php echo $_ct->toString('YYY');?></span>
										</div>
									</div>
									<?php } ?>
									<?php } ?>
								</div>
								<?php } ?>
							</div>
							<?php } ?>
						</div>

					</div>

					<?php
					if( $questions_count%$cols!=0 && $i == ($count-1) && $size > $questions_count){
						?>
						<div class="col-lg-<?php echo $span;?> col-sm-<?php echo $span;?> col-xs-12" >
							<div class="faq-question">
								<div class="faq-question-title">
									<a href="<?php echo $helper->getCategoryLink($_category); ?>" title="<?php echo $this->stripTags($_category->getName()); ?>">
										<?php echo $this->__('See All') ?>
									</a>
								</div>
							</div>
						</div>
						<?php
					}
					?>

					<?php if( $cols==1 || ($i+1)%$cols == 0 || $i == ($count-1) ) {  ?>
				</div>
				<?php } ?>

				<?php
				if( $show_seeall_button && $questions_count%$cols==0 && $i == ($count-1) && $size > $questions_count){
					?>
					<div class="row products-row">
						<div class="col-lg-<?php echo $span;?> col-sm-<?php echo $span;?> col-xs-12" >
							<div class="faq-question">
								<div class="faq-question-title">
									<a href="<?php echo $helper->getCategoryLink($_category); ?>" title="<?php echo $this->stripTags($_category->getName()); ?>">
										<?php echo $this->__('See All') ?>
									</a>
								</div>
							</div>
						</div>
					</div>
					<?php
				}
				?>
				<?php $i++; ?>
				<?php } ?>
			</div>
			<?php } ?>
			<!-- Questions -->
			<br class="clear clr" style="clear:both;"/>
		</div>
		<?php  } ?>
	</div>

	<script type="text/javascript">
		jQuery(document).ready(function() {
			jQuery('#faq .nav-tabs a:first').tab('show');
		});
	</script>

</div>
<!--FAQ -->
<?php
}