/******************************************************
 * @package Ves Theme Framework for Magento
 * @version 1.0
 * @author http://www.venustheme.com
 * @copyright Copyright (C) Augus 2013 Venustheme.com <@email:venustheme@gmail.com>.All rights reserved.
 * @license   GNU General Public License version 2
*******************************************************/

/* Import ================================================================================ */
//@import "compass";

// Core variables and mixins
@import "../../vars/bootstrap.vars";
@import "../../vars/magento";

@import "../../magento/rtl";

@import "../../mixins/bootstrap.mixin";
@import "../../mixins/magento.mixin";

@import "../../magento/rtl";

@import "variables-skin";

@import "../../magento/base";
@import "../../magento/magento-pages";
@import "../../magento/paneltool";
@import "../../magento/offcanvas";
@import "../../magento/responsive";
@import "../../magento/typo";
@import "../../magento/form";

//@import "magento/animation";

@import "../../app/animation";
@import "../../app/block";
@import "../../app/form";
@import "../../app/layout";
@import "../../app/menu";
@import "../../app/modules";
@import "../../app/product";
@import "../../app/product-viewmode";
@import "../../app/top-widgets";

/* Custome style */

.block .block-title{
	padding: 15px 20px;
	border-top: 3px solid #8590a5;
	&::before{background: none!important;}
}

.cart-top .shopping-cart-icon{
	background: url("#{$image-theme-path-base}icon_minicart4.png") no-repeat center center;
}

#header .header1{
	.menu-top{background: $theme-color-default;}
	.ves-megamenu .navbar-nav > li > a{padding: 0 24px !important;}
	.ves-megamenu .navbar-nav > li > a span{opacity: 1!important;}
}

#ves-verticalmenu .block-title{
	background: #2b2d42;
	border-top: 1px solid (darken(#2b2d42, 15%))!important;
	strong::after{color: darken(#2b2d42, 15%);}
}
.owlproductcarousel .owl-controls .owl-buttons{top: -42px;}

.widget-newsletter{
	background-color: $theme-color-default!important;
	.form-control{background: #d71f36;}
}

.latest-deal .productdeals{background: $theme-color-default;}

.block-danger.categorytabs{
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
		background: #2b2d42;
		color: $white;
	}
	.nav > li > a:hover, .nav > li > a:focus{background: #2b2d42; color: $white;}
}

.social-footer{background: #2b2d42!important;}