<?php
$testimonials = isset($testimonials)?$testimonials:null;
$auto_play_mode = $this->getConfig("autoplay");
$interval = $this->getConfig("interval");
$auto_play = $auto_play_mode?"true":"false";
$cols = (int)$this->getConfig("columns");
$cols = !empty($cols)?$cols:1;
$span = 12/$cols;
$show_more_link = $this->getConfig("show_more_link");
$itemsperpage = (int)$this->getConfig("max_items_page");
$itemsperpage = !empty($itemsperpage)?$itemsperpage:1;
$id = rand(1,10)+rand();
?>
<?php if( count($testimonials) ) { ?>
<div class="block productcarousel vestestimonialcarousel">
	<?php if($this->getConfig('title')){?>
	<div class="block-title">
		<h2><?php echo $this->getConfig('title')?></h2>
		<?php if( ($pretext = $this->getConfig("pretext")) && !$cms ) {  ?>
		<div class="pretext"><?php echo base64_decode($pretext);?></div>
		<?php } elseif(isset($cms) && $cms != '') {
			?>
			<div class="pretext"><?php echo $cms;?></div>
			<?php
		} ?>
	</div>
	<?php }?>
	<!-- <div class="testimonial-submit">
		<a href="<?php echo Mage::getBaseUrl() ?>ves-testimonial">Submit Your Testimonial</a>
	</div> -->
	<div class="block-content">
		<div id="vestestimonial<?php echo $id;?>" class="carousel slide box-vestestimonial">
			<?php if( count($testimonials) > $itemsperpage && $this->getConfig("show_navigator") ){ ?>	
			<div class="carousel-controls" dir="ltr">
				<a class="carousel-control pull-right" href="#vestestimonial<?php echo $id;?>" data-slide="next">
					<span class="cars-icon cars-next"><i class="fa fa-angle-right"></i></span>
				</a>
				<a class="carousel-control pull-left" href="#vestestimonial<?php echo $id;?>" data-slide="prev">
					<span class="cars-icon cars-prev"><i class="fa fa-angle-left"></i></span>
				</a>
			</div>
			<?php } ?>
			<div class="carousel-inner no-margin">
				<?php
				$pages = array_chunk( $testimonials, $itemsperpage);
				?>
				<?php foreach ($pages as $k=>$tmptestimonials) {  ?>
				<div class="item <?php if($k==0) {?>active<?php } ?>">
					<?php foreach( $tmptestimonials as $i => $testimonial ) {  $i=$i+1;?>
					<?php if( $cols == 1 || $i%$cols == 1 ) { ?>
					<div class="row">
						<?php } ?>

						<div class="col-lg-<?php echo $span;?> col-sm-<?php echo $span;?> col-xs-12">
							<div class="testimonial-item">
								<div class="post-image">
									<img src="<?php echo $testimonial['thumb']; ?>" class="post-image" alt="<?php echo strip_tags($testimonial['profile']); ?>"/>
								</div>
								<?php if(  $testimonial['profile'] ) { ?>
								<h4><a><?php echo $testimonial['profile']; ?></a></h4>
								<?php } ?>
								<?php if(  $testimonial['description'] ) { ?>
								<div class="latest-description"><?php echo $testimonial['description']; ?></div>
								<?php } ?>
								<div class="testimonial-social pull-left text-right">
									<?php if ($testimonial['facebook']) { ?>
									<a href="https://www.facebook.com/<?php echo $testimonial['facebook']; ?>" class="carousel-control"><i class="fa fa-facebook">&nbsp;</i></a>
									<?php } ?>
									<?php if ($testimonial['twiter']) { ?>
									<a href="https://www.twiter.com/<?php echo $testimonial['twiter']; ?>" class="carousel-control"><i class="fa fa-twitter">&nbsp;</i></a>
									<?php } ?>
									<?php if ($testimonial['google']) { ?>
									<a href="https://plus.google.com/<?php echo $testimonial['google']; ?>" class="carousel-control"><i class="fa fa-google-plus">&nbsp;</i></a>
									<?php } ?>
									<?php if ($testimonial['youtube']) { ?>
									<a href="https://youtube.com/user/<?php echo $testimonial['youtube']; ?>" class="carousel-control"><i class="fa fa-youtube">&nbsp;</i></a>
									<?php } ?>
									<?php if ($testimonial['pinterest']) { ?>
									<a href="https://pinterest.com/<?php echo $testimonial['pinterest']; ?>" class="carousel-control"><i class="fa fa-pinterest">&nbsp;</i></a>
									<?php } ?>
									<?php if ($testimonial['vimeo']) { ?>
									<a href="https://vimeo.com/<?php echo $testimonial['vimeo']; ?>" class="carousel-control"><i class="fa fa-vimeo-square">&nbsp;</i></a>
									<?php } ?>
									<?php if ($testimonial['instagram']) { ?>
									<a href="https://instagram.com/<?php echo $testimonial['instagram']; ?>" class="carousel-control"><i class="fa fa-instagram">&nbsp;</i></a>
									<?php } ?>
									<?php if ($testimonial['linkedin']) { ?>
									<a href="https://linkedin.com/in/<?php echo $testimonial['linkedin']; ?>" class="carousel-control"><i class="fa fa-linkedin">&nbsp;</i></a>
									<?php } ?>
								</div>
								<?php if( $testimonial['video_link']) { ?>
								<p class="blog-readmore">
									<br>
									<a class="colorbox-t" href="http://www.youtube.com/embed/<?php echo $testimonial['video_link'];?>"><?php echo Mage::helper("ves_testimonial")->__("Watch Video");?></a>
								</p>
								<?php } ?>
							</div>
						</div>
						<?php if( $cols==1 || $i%$cols == 0 || $i==count($tmptestimonials) ) { ?>
					</div>
					<?php } ?>
					<?php } ?>
				</div>
				<?php } ?>
			</div>
			<?php if($show_more_link): ?>
			<div class="testimonial-showmore"><a href="<?php echo Mage::getBaseUrl() ?>ves-testimonial"><?php echo $this->__("Show More Testimonial");?></a></div>
			<?php endif; ?>
		</div>
	</div>
</div>
<?php if( count($testimonials) > $itemsperpage ){ ?>
<script type="text/javascript">
	<!--
	jQuery(function () {
		jQuery('#vestestimonial<?php echo $id;?>').carousel({interval:<?php echo ( $auto_play_mode?$interval:'false') ;?>,auto:<?php echo $auto_play;?>,pause:'hover'});
	})
-->
</script>
<?php } ?>
<script type="text/javascript"><!--
	jQuery(document).ready(function() {
		jQuery('.colorbox-t').colorbox({iframe:true, innerWidth:640, innerHeight:390});
	});
	//--></script>
	<?php } ?>