<?php
$id = rand().time();
$helper = Mage::helper('ves_faq/data');
if(!isset($title)) {
	$title = $this->__('Categories FAQ');
}
?>
<div class="block faq-block faq-category-block">
	<div class="block-title">
		<strong> <span><?php echo $title; ?> </span></strong>
	</div>
	<div class="widget-inner block-content">
		<?php if($categories){ ?>
		<ul class="list-faq">
			<?php foreach ($categories as $_category) { ?>
			<li>
				<a href="<?php echo $helper->getCategoryLink($_category); ?>" title="<?php echo $this->stripTags($_category->getTitle()); ?>">
					<?php echo $_category->getName(); ?>
				</a>
			</li>
			<?php } ?>
		</ul>
		<?php } ?>
	</div>
</div>