<?php
$title = $this->getConfig('title','FAQ Topic');
$show_answers_list = $this->getConfig('show_answers_list');
$id = rand().time();
$processor = Mage::helper('cms')->getPageTemplateProcessor();
?>
<div id="faqLastAccordion-<?php echo $id; ?>" class="block faq-block">
	<div class="block-title">
		<?php echo $title; ?>
	</div>
	<div class="widget-inner block-content">
		<?php foreach ($collection as $_question) { ?>
		<?php
		$default_answer = $processor->filter($_question->getDefaultAnswer());
		$answers = $_question->getData('answers');
		$description_question = $processor->filter($_question->getDescription());
		?>
		<div class="faq-question question-<?php echo $_question->getQuestionId(); ?> question-row">
			<div class="faq-question-title">
				<a data-toggle="collapse" data-parent="#faq-<?php echo $id; ?>"  href="#faq-collapseOne<?php echo $_question->getQuestionId().$id; ?>">
					<?php echo $_question->getTitle(); ?>
				</a>
				<?php if($default_answer == '' && ( $answers && $answers->getSize() > 0 ) == '' && $description_question == ''){ ?>
				<span class="faq-noanswer"><?php echo $this->__('(Not Answerred)'); ?></span>
				<?php } ?>
			</div>
			<?php if($default_answer != '' || ( $answers && $answers->getSize() > 0 )  || $description_question != ''){ ?>
			<div id="faq-collapseOne<?php echo $_question->getQuestionId().$id; ?>" class="panel-collapse collapse out">
				<?php if( $description_question != '' ){ ?>
				<div class="question-description">
					<?php echo $description_question; ?>
				</div>
				<?php } ?>
				<?php if(( $answers && $answers->getSize() > 0 ) || $default_answer != ''){ ?>
				<div class="faq-answers">
					<?php if( $default_answer != '' ){ ?>
					<div id="answer-<?php echo $_question->getQuestionId().$id; ?>" class="faq-answer" >
						<div class="faq-answer-content">
							<?php echo $default_answer; ?>
						</div>
					</div>
					<?php } ?>

					<?php if( $answers && $answers->getSize()>0 ){ ?>
					<?php foreach ($answers as $_answers){ $id = rand().time(); ?>
					<div class="faq-answer" id="answer-<?php echo $_answers->getAnswerId().$id; ?>">
						<?php $answer_content = $processor->filter($_answers->getAnswerContent()); ?>
						<?php if( $answer_content != ''){ ?>
						<div class="faq-answer-content">
							<?php echo $answer_content; ?>
						</div>
						<?php } ?>
					</div>
					<?php } ?>
					<?php } ?>
				</div>
				<?php } ?>
			</div>
			<?php } ?>
		</div>
		<?php } ?>
		<p class="actions">
			<a href="<?php echo Mage::helper("ves_faq")->getFAQSLink();?>" title="<?php echo $this->__("View All FAQs"); ?>"><?php echo $this->__("View All"); ?></a>
		</p>
	</div>
</div>