<?php $helper = Mage::helper('ves_faq'); ?>
<?php if($helper->isShowSearchForm()): ?>
<div class="faq-searchform">
	<form method="GET" action="<?php echo $helper->getCatalogSearchLink(); ?>">
		<label ><?php echo $this->__('Search FAQ'); ?></label>
		<input type="text" name="s" class="keyword" size="50" maxlength="50" onfocus="this.value='';">
		<input type="submit" class="btn-submit" value="<?php echo $this->__('Search');?>" />
	</form>
</div>
<?php endif; ?>