<?php
	$item_selector = ".blogs-row";
	$container_selector = ".posts-list";
	$next_selector = ".next";
	$prev_selector = ".prev";
	$pager_selector = ".pager";
	$load_more_threshold = 5;
?>
<?php if($this->isEnabled()): ?>
<script type="text/javascript">
//<![CDATA[
	windowLoadedFlag = false;
	window.onload = function () {
		windowLoadedFlag = true;
	};

	<?php // use: jQueryWaiter.execute(function(){ // safe jQuery code here });  ?>
	var jQueryWaiter = function () {
		var functions = [];
		var timer = function() {
			if( typeof window.jQuery != 'undefined') {
				while (functions.length) {
					functions.shift()(window.jQuery);
				}
			} else {
				window.setTimeout(timer, 100);
			}
		};
		timer();
		return {
			execute: function(onJQueryReady) {
				if (window.jQuery) {
					onJQueryReady(window.jQuery);
				} else {
					functions.push(onJQueryReady);
				}
			}
		};
	}();

	window.SgyIAS = {
		debug: false,
		_log: function(object) {
			if(this.debug) {
				console.log(object);
			}
		},
		init: function(){
			jQuery.getScript("<?php echo $this->getJsUrl('ves_blog/ajaxscroll/ias.callbacks.js') ?>", function() {
					jQuery(function($) {
						var config = {
							item: '<?php echo $item_selector; ?>',
							container : '<?php echo $container_selector; ?>',
							next: '<?php echo $next_selector; ?>',
							pagination: '<?php echo $pager_selector; ?>',
							delay: 600,
							negativeMargin: 150,
							history: {
								prev: '<?php echo $prev_selector; ?>'
							},
							noneleft: {
								text: '<?php echo $this->__("Completed") ?>',
								html: '<div class="ias-noneleft" style="text-align: center;">{text}</div>'
							},
							spinner: {
								src: '<?php echo $this->getAjaxLoader(); ?>',
								
								html: '<div class="ias-spinner" style="text-align: center;"><img style="display:inline" src="{src}"/> <?php echo $this->__("Loading..."); ?></div>'
							},
							trigger: {
								text: '<?php echo $this->__("Load More"); ?>',
								html: '<div class="ias-trigger ias-trigger-next" style="text-align: center; cursor: pointer;"><a>{text}</a></div>',
								textPrev: '<?php echo $this->__("Load More"); ?>',
								htmlPrev: '<div class="ias-trigger ias-trigger-prev" style="text-align: center; cursor: pointer;"><a>{text}</a></div>',
								offset: <?php echo (int)$load_more_threshold; ?>
							}
						};

						if (window.ias_config){
							$.extend(config, window.ias_config);
						}

						SgyIAS._log({extension: 'ias', config: config});
						window.ias = $.ias(config);

						SgyIAS._log({extension: 'paging'});
						window.ias.extension(new IASPagingExtension());

						SgyIAS._log({extension: 'spinner'});
						window.ias.extension(new IASSpinnerExtension(config.spinner));

						SgyIAS._log({extension: 'noneleft'});
						window.ias.extension(new IASNoneLeftExtension(config.noneleft));

						SgyIAS._log({extension: 'trigger'});
						window.ias.extension(new IASTriggerExtension(config.trigger));

						SgyIAS._log({extension: 'history'});
						window.ias.extension(new IASHistoryExtension(config.history));

						// debug events
						window.ias.on('scroll', function(scrollOffset, scrollThreshold){
							SgyIAS._log({eventName: 'scroll', scrollOffset: scrollOffset, scrollThreshold: scrollThreshold});
						});
						window.ias.on('load', function(event){
							SgyIAS._log({eventName:'load', event: event});
						});
						window.ias.on('loaded', function(data, items){
							SgyIAS._log({eventName: 'loaded', data: data, items: items});
						});
						window.ias.on('render', function(items){
							SgyIAS._log({eventName: 'render', items: items});
						});
						window.ias.on('rendered', function(items){
							SgyIAS._log({eventName: 'render', items: items});
							/*Call All Theme Javascript*/
						});
						window.ias.on('noneLeft', function(){
							SgyIAS._log({eventName: 'noneLeft'});
						});
						window.ias.on('next', function(url){
							SgyIAS._log({eventName: 'next', url: url});
						});
						window.ias.on('ready', function(){
							SgyIAS._log({eventName: 'ready'});
						});

						if(windowLoadedFlag){
							$(window).load();
						}

						SgyIAS._log('<?php echo $this->__("Done loading IAS."); ?>');

					});
			});
		}
	};
	<?php // this will prevent executing the infinite scroll before jQuery is loaded even when jQuery is loaded after this code ?>
	jQueryWaiter.execute(function(){
		SgyIAS.init();

	});
//]]>
</script>
<?php endif ?>
