.faq-answers{
	margin-top: 15px;
}

.faq-searchform {
	position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px 100px 70px 150px !important;
	width: 100%;
	height: 41px;
	border-radius: 5px;
	float: left;
	margin-bottom: 40px;
	border-bottom: 1px solid #ddd;
}

.faq-searchform .keyword {
	width: 80%;
	padding: 3px;
	float: left;
	margin-left: 10px;
	border-color: #ADADAD;
}

.faq-searchform .btn-submit{
	float: left;
	width: auto;
	margin-left: 10px;
	border-color: #ADADAD
}

.faq-searchform label {
	position: absolute;
	left: 30px;
	font-weight: 600;
	font-size: 18px;
	float: left;
}

.faq-searchform .btnSearch {
	position: absolute;
	right: 30px;
}

.faq-question-block p{
	margin-bottom: 0
}

.tab-nav{
	float: left;
	width: 100%;
}

.tab-content{
	float: left;
	width: 100%;
	margin-top: 30px;
}

.answer-date {
	color: #999;
	font-size: 12px;
}

.faq-answers .faq-answer{
	margin-bottom: 10px;
}

.faq-question-result .faq-question{
	margin-bottom: 20px;
}

.faq-question-result{
	margin-top: 10px;
}

.faq-category{
	border-bottom: 0px none;
	padding-bottom: 30px;
}

.faq-category-title{
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 10px
}

.faq-question  {
	border:1px solid #ddd;
	padding:20px;
	margin-bottom: 20px;
}

.faq-question-title {
	font-weight:600;
	font-size: 16px;
}

.faq-question-title a{
	color: #333;
}

.faq-question .panel-collapse {
	border-top: 1px solid #ddd;
	line-height: normal;
	padding-top: 10px;
	margin-top: 10px;
}

.list-faq {
	margin: 0;
}

.list-faq  li {
	font-size: 14px;
	line-height: 40px;
	font-weight: 600;
	border-bottom: 1px solid #ddd;
}

.list-faq  li a {
	color: #2f2f2f;
}

.faqsaddslide {
	float: right;
	margin: 0 0 10px;
	padding: 0;
}

.faqsaddslide .btn-slide {
	margin-bottom: 0;
	padding: 10px 20px;
	color: #FFFFFF;
	display: block;
	font: bold 120%/100% Arial,Helvetica,sans-serif;
	text-align: center;
	text-decoration: none;
}

.faq-question-block{
	float: left;
	width: 100%;
}

#faq_poquestion{
	display: none;
}

.faq-question-block {
	margin: 0px 0px 15px;
	color: #636363;
	font-family: "Raleway","Helvetica Neue",Verdana,Arial,sans-serif;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.4;
	text-rendering: optimizespeed;
	padding-bottom: 7px;
	border-bottom: 1px solid #EDEDED;
}

.faq-question-product{
	float: left;
	width: 100%;
}

.popquestion .input-text {
	border: 1px solid #C0C0C0;
	padding: 5px;
	width: 100% !important;
	max-width: 100%;
}

.popquestion {
	border: 6px solid #F4F4F4;
	padding: 20px;
	margin: 10px;
}

.popquestion .input-box::after {
	content: "";
	display: table;
	clear: both;
}

#pop_header {
	background-color: #3399cc;
	border-bottom: 0px;
	padding: 15px 0;
}

#pop_caption {
	padding: 0 2em 0 0.75em;
	margin: 0;
	text-align: left;
}

#pop_close {
	margin-top: 5px;
	margin-right: 5px;
	background-image: url(close_btn_white.png);
	width: 32px;
	height: 32px;
	text-indent: -9999px;
}