/*.vestestimonialcarousel {
    margin-bottom: 20px;
}
.vestestimonialcarousel .block-title {
    border-bottom: 1px solid #e4e5e7;
}
.vestestimonialcarousel .block-title span {
    border: 0 none;
    color: #7bbd42;
    font-weight: bold;
    text-transform: uppercase;
}
.vestestimonialcarousel div.post-image {
    float: left;
    padding-right: 20px;
    width: 50%;
}
.vestestimonialcarousel .testimonial-item {
    overflow: hidden;
    padding: 15px;
}
.vestestimonialcarousel .testimonial-item h4 {
    font-weight: bold;
}
.vestestimonialcarousel .testimonial-item h4 a:hover {
    color: #7bbd42;
}
.vestestimonialcarousel .testimonial-item .blog-meta, .vestestimonialcarousel .testimonial-item .blog-readmore {
    margin: 5px 0;
}
.vestestimonialcarousel .blog-readmore a:hover {
    color: #7bbd42;
}*/


.vestestimonialcarousel .testimonial-item a.carousel-control {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    position: relative;
    color: #999999;
    float: left;
    font-size: 15px;
    height: 30px;
    line-height: 28px;
    margin-left: 5px;
    opacity: 0.4;
    position: static;
    text-shadow: none;
    width: 30px;
    text-align: center;
}

.vestestimonialcarousel .testimonial-item a.carousel-control:before {
    border: 1px solid #999;
    content: "";
    left: 0;
    position: absolute;
    top: 0;
    transform: rotate(45deg);
}
.testimonial-item a.carousel-control:hover
.testimonial-item a.carousel-control:focus {
    border-color: #999999;
    color: #444444;
    opacity: 1;
}
.testimonial-item  .testimonial-social i {
    color: #bbbbbb;
    font-size: 12px;
    text-transform: capitalize;
}
.testimonial-item .testimonial-social a.carousel-control:hover i {
    color: #444444;
}

.vestestimonialcarousel .testimonial-showmore{
    text-align: center;
    margin: 10px 0px;
}
.vestestimonialcarousel .testimonial-submit{
    text-align: right;
    margin: 10px;
}
.vestestimonialcarousel .testimonial-showmore a,
.vestestimonialcarousel .testimonial-submit a{
    background: rgb(49, 168, 210) none repeat scroll 0px 0px;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}
.vestestimonialcarousel .testimonial-showmore a:hover,
.vestestimonialcarousel .testimonial-submit a:hover{
    background: #444444 none repeat scroll 0px 0px;
    
}




