.vesclear:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.vesclear {
	display: inline-block;
}

html[xmlns] .vesclear {
	display: block;
}

* html .vesclear {
	height: 1%;
}

/**/
.colswrapper .itemcol{
	float:left;
	border: 1px solid #E5E5E5;
    margin-right: 12px;
    padding: 9px;
    background:#FFF;
    width:100%;
    margin-bottom:12px;
}

.cols2 .itemcol{	width:45.2%;}
.cols3 .itemcol{	width:28%;}
.cols4 .itemcol{	width:22%;}
.cols5 .itemcol{	width:18%;}

.blog-tags{
	background:url(ico-tag.gif) no-repeat 0 4px;
	padding-left:19px
}
.ves-description{	margin:10px 0; }
/* CATEGORY PAGE */
.blog-list .blog-childrent{	padding-bottom:16px;}

.blog-meta span{ text-transform:uppercase; }

.blog-list  .blog-image{ margin:0 0 10px; position:relative}
.blog-list .blog-botm{
	border-top:solid 1px #E5E5E5;
	color:#AAAAAA;
	font-size:93%
}

/* DETAIL BLOG */
span.created-date,
span.author
{
    color: #AAAAAA;
    font-size: 85%;
    text-transform: uppercase;
}

.blog-post .blog-container{
	position:relative;
	padding-bottom:12px;
}

.blog-post div.blog-description {
    font-size: 116%;
    font-weight: 700;
}

.blog-post .blog-bottom > div {
	width:50%; 
	float:left;
    border-bottom: 1px solid #DDDDDD;
    color: #AAAAAA;
    float: left;
    font-size: 83%;
    margin-right: -1px;
    padding: 14px 20px 0 0;
    text-transform: uppercase;
}
.blog-post  .blog-bottom { width:100%; border-top:1px solid  #DDD }
.blog-post .blog-social,
.blog-post .blog-comment, .blog-post .comment-form{ border-top:5px solid #DDD; padding:8px 0px; margin:16px 0 }

.blog-post .above-inputs input{ width:100%;background:#F5F5F5 }
.blog-post .above-inputs .input-box{ width:98%}
.blog-post .above-inputs li{ width:48%; float:left; clear:none }
.blog-post .above-inputs  li.email{float:right}
.blog-post .mid-inputs textarea{ width:99%;height:160px; background:#F5F5F5 }
.blog-post input:focus,.blog-post textarea:focus{background:#FFF}

.blog-post .blog-social  .social-sharing > div{ float:left}

.blog-extra {padding:8px 0 }
.blog-extra > div{ width:50%; float:left; }

.pages > div{ float:left; }


 

.comments-list li{ display:block; position:relative; min-height:80px; padding:8px 12px; }
.comments-list li:hover{}
.comments-list li.odd{ background:#F5F5F5 }
.comments-list .comment-link{	float:right;	font-size:11px; display:none; }
.comments-list li:hover .comment-link{ display:block}
.post-comments .pager{ padding:12px 0px }

/** MODULES STYLES ***/
/* LATEST BLOG */
.venus-latest-block{
	position:relative;
}
.venus-latest-block .post-item{
  margin:8px 6px;
}
.venus-latest-block img{
  float:left;
  width:100%;
}
.venus-latest-block div.post-image{
  width:80px;
  height:80px;
  overflow:hidden;
  float:left;
  padding-right:8px;
}
.venus-latest-block  .latest-description{
  /*height:54px;*/	
  line-height:1.6em;
  overflow:hidden;
}
/** CATEGORY MENU **/
.venus-blog-menu .parent > ul { padding-left:12px; }
.venus-blog-menu .parent .head a {
	
 background: url("menu_down.gif") no-repeat scroll 0 0 #F6F6F6;
 color: #333333;
 display: block;
 height: 15px;
 margin-top: 5px;
 padding: 0;
 width: 15px;
}
.ves-comment {
  padding-bottom: 15px;
  border-bottom: 1px dashed #dddddd;
  font-size: 13px;
}
.ves-comment:last-child {
  border-bottom: none;
}
.comment-author {
  font-weight: 400;
  color: #000;
}

.comments-list img {
    float: left;
    padding-right: 12px;
}
/*--- MASONRY LAYOUT ----*/

.posts-masonry {
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    column-count: 3;
    column-gap: 10px;
}

.posts-masonry .item-masonry {
    display: inline-block;
    background: #FEFEFE;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 2px;
    padding-bottom: 5px;
    background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
    opacity: 1;

    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.posts-masonry .item-masonry img {
    height: 100%;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

.posts-masonry .item-masonry p {
    font: 12px/18px Arial, sans-serif;
    color: #333;
    margin: 0;
}

.posts-masonry {
  -webkit-column-count: 4;
  -webkit-column-gap: 10px;
  -moz-column-count: 4;
  -moz-column-gap: 10px;
  column-count: 4;
  column-gap: 10px;
}

@media (min-width: 1140px) {
    .posts-masonry {
        -webkit-column-count: 4;
    -webkit-column-gap: 10px;
    -moz-column-count: 4;
    -moz-column-gap: 10px;
    column-count: 4;
    column-gap: 10px;
    }
}

@media (max-width: 768px) {
    .posts-masonry {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (max-width: 680px) {
  .posts-masonry {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (max-width: 480px) {
    .posts-masonry {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

/*** THUMBNAIL VIEW LAYOUT ***/
.blogs-thumb_view .post-block{
  position: relative;
  overflow: hidden;
}

.blogs-thumb_view .post-block:hover .blog-meta-block{
  bottom: 0;
}

.blogs-thumb_view .post-block .blog-meta-block {
  position: absolute;
  width: 100%;
  text-align: center;
  color: black;
  background-color: white;
  bottom: -100%;
  -webkit-transition: .5s bottom ease;
  -moz-transition: .5s bottom ease;
  -o-transition: .5s bottom ease;
  -ms-transition: .5s bottom ease;
  transition: .5s bottom ease;
  padding: 0 10px;
}
.blogs-thumb_view .blogs-row{
  padding-bottom: 25px;
}
.blogs-thumb_view .blog-image {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.posts-list iframe{
  max-width: 100%;
}
.blog-list .blog-image img {width: auto; height: auto; max-width:100%;}

.label-color-orange{color: #D68B01!important;}
.row.blogs-row {
    margin-bottom: 30px;
}
.blog-meta-block .ves-description {
    margin-bottom: 5px;
}
.ves-blog-archives li.level2{ padding-left: 5px; }
.box-vesblog .owl-controls .owl-buttons .owl-next:before, .box-vesblog .owl-controls .owl-buttons .owl-prev:before{
  content: '';
}

.venus-latest-block.grid-blog-latest div.post-image{
    width: auto;
    height: auto;
}

.blog-list-tags .tags-list{
  float: none;
}
.blog-list-tags .tags-list > li {
  display: inline;
  float: none;
  margin-right: 10px;
}
.venus-latest-block div.post-image.image-fullwidth,.image-fullwidth{
  width: 100%;
  height: auto;
  float: none;
}

.video-markup-popup {
  position: absolute;
  top: 0px;
}
.video-widget-bg:hover .video-markup-popup {
    height: 100%;
    max-width: 100%;
    z-index: 10;
    position: absolute;
    top: 0px;
}
.video-widget-bg:hover .video-markup-popup a {
    display: block;
    width: 100%;
    height: 100%;
}