/******************************************************
 * @package Ves Theme Framework for Magento
 * @version 1.0
 * @author http://www.venustheme.com
 * @copyright Copyright (C) Augus 2013 Venustheme.com <@email:venustheme@gmail.com>.All rights reserved.
 * @license   GNU General Public License version 2
*******************************************************/

/* Import ================================================================================ */
//@import "compass";

// Core variables and mixins
@import "../../vars/bootstrap.vars";
@import "../../vars/magento";

@import "../../magento/rtl";

@import "../../mixins/bootstrap.mixin";
@import "../../mixins/magento.mixin";

@import "../../magento/rtl";

@import "variables-skin";

@import "../../magento/base";
@import "../../magento/magento-pages";
@import "../../magento/paneltool";
@import "../../magento/offcanvas";
@import "../../magento/responsive";
@import "../../magento/typo";
@import "../../magento/form";

//@import "magento/animation";

@import "../../app/animation";
@import "../../app/block";
@import "../../app/form";
@import "../../app/layout";
@import "../../app/menu";
@import "../../app/modules";
@import "../../app/product";
@import "../../app/product-viewmode";
@import "../../app/top-widgets";

/* Custome style */

.block .block-title{
	padding: 15px 20px!important;
	&::before{background: none!important;}
}

.cart-top .shopping-cart-icon{
	background: url("#{$image-theme-path-base}icon_minicart3.png") no-repeat center center;
}

#header .header1{
	.menu-top{background: transparent;}
	#ves-mainnav{
		background: $theme-color-default;
	}
	.ves-megamenu .navbar-nav > li > a{padding: 0 24px !important;}
	.ves-megamenu .navbar-nav > li > a span{opacity: 1!important;}
}
#ves-mainnav .navbar-toggle{margin-left: 10px!important; margin-right: 10px!important;}
.ves-autosearch .search_box .button-search{
	background: #9f90c9;
	&:hover{background: #444;}
}

#ves-verticalmenu .block-title{
	background: #02569c;
	border-top: 1px solid (darken(#02569c, 15%))!important;
	strong::after{color: darken(#02569c, 15%);}
}
.owlproductcarousel .owl-controls .owl-buttons{top: -42px;}

.widget-newsletter{
	background: #9ad15c url("#{$image-theme-path-base}bg_newletter_kid.png") no-repeat scroll 8% bottom !important;
	.form-control{background: #8bbc53;}
}

.latest-deal .productdeals{background: $theme-color-default;}

.social-footer{background: #02569c!important;}

.categorytabs{
	border-bottom: 0!important;
	margin-left: -1px;
	margin-right: -1px;
}